<div role="main">
	<div class="container-fluid">
		<div class="wrapper">
			<!-- ko if: isLogged() == true  -->
			<side-bar params="route: route"></side-bar>
			<!-- /ko -->
			<main>
				<!-- collection section-->
				<section class="exhibition">
				   <!-- toggle-->
	              <div class="toggle exhibitiontoggle">
	                <input type="checkbox" id="toggle2">
	                <label for="toggle2"></label><span class="private">private</span><span class="public">public</span>
	              </div>
	              <!-- head-->
	              <div class="list-head">
	                 <a href="void(0);"  onclick="window.history.go(-1); return false;" data-toggle="tooltip" data-placement="top" title="Back to previous page" class="back"><i class="fa fa-angle-left"></i></a>
								
	                <!-- control-->
	                <ul class="organization-list-control">
	                  <li><a href="exhibition-view.html" data-toggle="tooltip" data-placement="top" title="Preview Exhibition" class="fa fa-eye" data-bind="attr: {href: 'index.html#exhibitionview/'+dbId()}" ></a></li>
	                  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add credits section" class="fa fa-copyright creditbutton"></a></li>
	                  <li><a href="#" data-toggle="tooltip" data-placement="top" data-bind="click: bindFileUpload" title="Upload background image" class="fa fa-image upload exhibition"></a></li>
	                  <li><a href="#" data-toggle="tooltip" data-bind="click: deleteExhibition.bind($data, $root)" data-placement="top" title="Delete Exhibition" class="fa fa-trash"></a></li>
	                </ul>
	              </div>
					
					<!-- editor box-->
					<div class="editorbox">
						<div class="wrap" >
							<!-- scroll-->
							<div class="leftscr"></div>  <!-- for scrolling the page when dragging item at left of page-->
							<div class="scroll" data-bind="hscroll: collectionItemsArray(), scrollOptions: { loadFunc: loadNextExhibition }">
								<!-- box-->
								<div class="box">
								 <div class="boxinputs">
									<input data-bind="{textInput: title, event: { blur: textfieldsLostFocus.bind($data, true) }}" class="editortext" />
									<textarea class="editortextarea" data-bind="{textInput: description, event: { blur: textfieldsLostFocus.bind($data, false) }}"></textarea>
								</div>
								</div>
								<!-- add-->
								<!-- ko template: { foreach: collectionItemsArray, beforeRemove: removeItem, afterAdd: showNewItem } -->
								  <div data-toggle="tooltip" data-placement="top" title="Drag an item here" class="add" data-bind="drop: {index: $index}">
								  	<span><a href="javascript:void(null);"><img src="img/ui/ic-add.png"></a></span>
								  </div>
								  <div class="box fill" data-bind="{css: {videoadded: containsContextField('mediaUrl')}}">
									<div class="boxaction">
										<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="top" title="Edit item text" data-bind="click: $parent.prepareForItemEdit" class="editbox"> <i class="fa fa-pencil-square-o"></i></a></li>
										 <!--  ko if: !containsContextField("mediaUrl")() -->
										 <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add media" data-bind="click: $parent.prepareForItemEdit" class="addmediabutton"><i class="fa fa-play-circle"></i></a></li>
                          				 <!-- /ko -->
                          				<li><a href="#" data-toggle="tooltip" data-placement="top" title="Delete item" data-bind="click: $parent.xButtonClicked"> <i class="fa fa-trash-o"></i></a><li>
										</ul>
									</div>
									<div class="left" data-bind="drag: {item: $data, move: true}">
										<div class="imgwrap">
											<img data-bind="attr: { src: fullres.length>0 ? fullres : thumbnailUrl }" id="itemImage" onError="javascript:this.src='img/ui/ic-noimage.png'"/>
										</div>
										<div class="imginfo">
											<span class="mediatitle" data-bind="text: title"></span><br/>
											<span class="mediasource" data-bind="text: provenance()[provenance().length - 1].provider"></span>
										</div>
									</div>
									<!--  ko if: containsText -->
										<div class="right">
											<div class="boxtitle" data-bind="text: contextData.body.text.default"></div>
				                        </div>
									<!-- /ko -->
									<!-- ko else -->
										<!-- ko if: description -->
											<div class="right">
												<div class="boxtitle" data-bind="text: description"></div>
					                        </div>
										<!--  /ko -->
									<!-- /ko -->
								    <!--  ko if: containsContextField("mediaUrl")() && containsContextField("mediaType")()-->
									<div class="video">
				                        <div class="imgwrap">
				                          <!-- ko if: contextData.body.mediaType() == "VIDEO" -->
				                          <!-- ko if: embeddedVideoUrl -->
				                          <div class="embed-responsive embed-responsive-4by3">
				                            <iframe data-bind="attr: {src: embeddedVideoUrl}" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
				                          </div>
				                          <!-- /ko -->
				                          <!-- ko else -->
				                          <div>Invalid video url:</div>
				                          <span style="color:red" data-bind="text: contextData.body.mediaUrl"></span>
				                          <!-- /ko -->
				                          <!-- /ko -->
				                          <!-- ko if: contextData.body.mediaType() == "AUDIO" -->
				                            <p></p>
				                          	<audio id="mediaplayer" controls style="width: 180px;" width="576" height="324">
				                          		<source data-bind="attr:{src: contextData.body.mediaUrl}" type="audio/mpeg">Your browser does not support HTML5
				                          	</audio>
										  <!-- /ko -->
				                        </div>
				                        <!--  ko if: containsContextField("mediaDescription")() -->
				                       		<div class="imginfo"><span class="mediatitle" data-bind="text: contextData.body.mediaDescription"></span></div>
				                        <!-- /ko -->
				                        <ul class="action">
				                          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Edit media" data-bind="click: $parent.prepareForItemEdit"><i class="fa fa-pencil videobox"></i></a></li>
				                          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Delete media" data-bind="click: $parent.deleteMedia"><i class="fa fa-trash-o"></i></a></li>
				                        </ul>
				                     </div>
				                     <!-- /ko -->
				                     
									<div id="loadingIcon">
										<i class="fa fa-spinner fa-pulse"></i>
									</div>
			                    </div>
								<!-- /ko -->
								<div data-toggle="tooltip" data-placement="top" title="Drag an item here" class="add" data-bind="drop: {index: collectionItemsArray().length}">
									<span><a><img src="img/ui/ic-add.png"></a></span>
								</div>
							</div>	
							<div class="rightscr"></div><!-- for scrolling the page when dragging item at right of page-->						
						</div>
					</div>
					<!-- assets-->
					<div class="assets">
						<!-- actions-->
						<div class="actions">
							<!--  ko if: myCollections().length > 0 -->
							<select id="CollectionSelect" class="form-control collectionlist" data-bind="options: myCollections, optionsText: 'title', value: selectedCollection"></select>
							<!-- /ko -->
							<div class="collectionsearch">
								<input id="searchBox" type="text" placeholder="Search"/><img src="img/ui/ic-mag.png" class="icon" data-bind="search"/>
							</div>
							<div class="notification">Select items from your collections and drag them to your exhibition</div>
						</div>
						<!-- listing-->
						<div class="assetlisting" id="outer-bottom">
							<ul id="collscroll" data-bind="foreach: userSavedItemsArray, hscroll2: userSavedItemsArray(), scrollOptions: { loadFunc: loadNextCollection }">
								<li>
									<a class="bottom-box"  data-toggle="tooltip" data-placement="top" 
									data-bind="{drag: {item: $data, move: false}, attr: {title: title}}">
										<div class="hue">
											<img data-bind="attr: { src: thumbnailUrl }" class="itemImage" onerror="javascript:this.src='img/ui/ic-noimage.png';"/>
											<div class="color"></div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<section class="action upload">
							<div class="action-header">
								<div class="title">Upload or drag/drop from collections a background image</div>
							</div>
							<!--rights of cover img media document, if uploaded by user?-->
							<div class="action-body">
								<div id="uploaded-image" data-bind="backgroundImgDrop,  dropBackgroundImg">
								<label for="mediaupload">
									<img class="upload-img" data-bind="attr: { src: displayCoverImage }" />
								</label>
								<input type="file" id="mediaupload" name="image"/>
								</div>
							</div>
							<div class="button-group">
								<a href="#" class="btn-green-o cancel">Cancel</a>
								<a href="#" data-bind="click: saveExhBackrImg" class="btn-green">Save</a>
							</div>
						</section>
					</div>
				</section>
				
				<section class="action editsection">
					<div class="action-header">
						<div class="title">Edit text</div>
					</div>
					<div class="action-body">
						<textarea type="text" placeholder="Add text" data-bind="value: itemText"></textarea>
						<div class="sectionside">
		                  <div class="head">Text location</div>
		                  <div class="toggle">
		                    <input type="checkbox" id="toggle3" data-bind="{checked: itemTextPosition}">
		                    <label for="toggle3"></label><span class="private">left</span><span class="public">right</span>
		                  </div>
		                </div>
					</div>
					<div class="button-group"><a class="btn-green-o cancel" data-bind="click: closeSideBar">Cancel</a>
					<a class="btn-green" data-bind="click: editItem.bind($data, 'editText')">Save</a></div>
				</section>
				<section class="action editvideo">
					<div class="action-header">
						<div class="title">Edit media</div>
					</div>
					<div class="action-body">
	                <div class="group">
	                  <div class="title">Select media type</div>
	                  <select class="form-control" data-bind="value: itemMediaType">
	                    <option>VIDEO</option>
	                    <option>AUDIO</option>
	                  </select>
	                </div>
	                <div class="group">
	                  <div class="title">Media URL</div>
	                  <!-- ko if: itemMediaType() == "VIDEO" --> 
	                  	<input type="text" data-bind="value: itemVideoUrl" value="http://">
	                  <!-- /ko -->
	                  <!-- ko if: itemMediaType() == "AUDIO" --> 
	                  	<input type="text" data-bind="value: itemAudioUrl" value="http://">
	                  <!-- /ko -->
	                  <input type="text" data-bind="value: itemMediaDescription" placeholder="Media description"></input>
	                </div>
	              </div>
					<div class="button-group"><a class="btn-green-o cancel" data-bind="click: closeSideBar">Cancel</a>
					<a class="btn-green" data-bind="click: editItem.bind($data, 'editMedia')">Save</a></div>
				</section>
				 <!-- collection new-->
            <section class="action creditsection">
              <div class="action-header">
                <div class="title">Add credit</div>
              </div>
              <div class="action-body">
                <textarea type="text" placeholder="Credits" data-bind="value: credits"></textarea>
              </div>
              <div class="button-group"><a href="#" class="btn-green-o cancel" data-bind="click: closeSideBar">Cancel</a>
              	<a href="#" class="btn-green" data-bind="click: editCredits">Save</a></div>
            </section>
            <!-- collection give access-->
            <section class="action addmediasection">
              <div class="action-header">
                <div class="title">Add media</div>
              </div>
              <div class="action-body">
                <div class="group">
                  <div class="title">Select media type</div>
                  <select class="form-control" data-bind="value: itemMediaType">
                    <option>VIDEO</option>
                    <option>AUDIO</option>
                  </select>
                </div>
                <div class="group">
                  <div class="title">Media URL</div>
                  <!-- ko if: itemMediaType() == "VIDEO" --> 
                  	<input type="text" data-bind="value: itemVideoUrl" value="http://">
                  <!-- /ko -->
                  <!-- ko if: itemMediaType() == "AUDIO" --> 
                  	<input type="text" data-bind="value: itemAudioUrl" value="http://">
                  <!-- /ko -->
                  <input type="text" data-bind="value: itemMediaDescription" placeholder="Media description"></input>
                </div>
              </div>
              <div class="button-group"><a href="#" class="btn-green-o cancel">Cancel</a>
              	<a href="#" data-bind="click: editItem.bind($data, 'editMedia')" data-bclass="btn-green">Add media</a></div>
            </section>
			</main>
		</div>
	</div>
</div>
