<div role="main">
	<div class="container-fluid">
		<div class="wrapper">
			<!-- ko if: isLogged() == true  -->
			<side-bar params="route: route"></side-bar>
			<!-- /ko -->
			<main>
				<!-- collection section-->
				<section class="exhibition">
					<!-- head-->
					<div class="list-head">
						<!-- back-->
						<div class="title">Exhibition Editor</div>
						<!-- control-->
						<div class="list-control">
							<a title="" data-placement="top" data-toggle="tooltip" data-bind="attr: {href: 'index.html#exhibitionview/'+dbId()}" data-original-title="Preview Exhibition" class="fa fa-eye"></a>
							<!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Upload background image" class="fa fa-image upload exhibition"></a> -->
							<div class="toggle">
								<input type="checkbox" id="toggle2">
								<label for="toggle2"></label><span class="private">private</span><span class="public">public</span>
							</div>
						</div>
					</div>
					<!-- editor box-->
					<div class="editorbox">
						<div class="wrap">
							<!-- scroll-->
							<div class="scroll" data-bind="hscroll: collectionItemsArray(), scrollOptions: { loadFunc: loadNextExhibition, offset: 20 }">
								<!-- box-->
								<div class="box">
									<input data-bind="{textInput: title, event: { blur: textfieldsLostFocus.bind($data, true) }}" class="editortext" />
									<textarea class="editortextarea" data-bind="{textInput: description, event: { blur: textfieldsLostFocus.bind($data, false) }}"/>
								</div>
								<!-- add-->
								<!-- ko template: { foreach: collectionItemsArray, beforeRemove: removeItem, afterAdd: showNewItem } -->
								<div class="add" data-bind="drop: {index: $index}">
									<span><a data-toggle="tooltip" data-placement="top" title="Drag an item here"><img src="img/ui/ic-add.png"></a></span>
								</div>
								<!-- box-->
								<div class="box fill" data-bind="{css: {videoadded: containsVideo}, drag: {item: $data, move: true}}">
									<div class="boxaction">
										<ul>
										<li><a href="#" data-toggle="tooltip" data-placement="top" title="Edit item text" data-bind="click: $parent.prepareForItemEdit" class="editbox"> <i class="fa fa-pencil-square-o"></i></a></li>
										<li><a href="#" data-toggle="tooltip" data-placement="top" title="Delete item" data-bind="click: $parent.xButtonClicked"> <i class="fa fa-trash-o"></i></a><li>
										</ul>
									</div>
									<div class="left">
										<div class="imgwrap">
											<img data-bind="attr: { src: thumbnailUrl }" id="itemImage"/>
										</div>
										<div class="imginfo">
											<span class="mediatitle" data-bind="text: title"></span><br/>
											<span class="mediasource" data-bind="text: provenance()[provenance().length - 1].provider"></span>
										</div>
									</div>
									<!--  ko if: containsText -->
										<div class="right">
											<div class="boxtitle" data-bind="text: contextData()[0].body.text.default"></div>
				                        </div>
									<!-- /ko -->
									<!-- ko else -->
										<!-- ko if: description -->
											<div class="right">
												<div class="boxtitle" data-bind="text: description"></div>
					                        </div>
										<!--  /ko -->
									<!-- /ko -->
								    <!--  ko if: containsVideo -->
									<div class="video">
				                        <div class="imgwrap">
				                          <!-- ko if: embeddedVideoUrl -->
				                          <div class="embed-responsive embed-responsive-4by3">
				                            <iframe data-bind="attr: {src: embeddedVideoUrl}" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
				                          </div>
				                          <!-- /ko -->
				                          <!-- ko else -->
				                          <div>Invalid video url:</div>
				                          <span style="color:red" data-bind="text: contextData()[0].body.videoUrl"></span>
				                          <!-- /ko -->
				                        </div>
				                        <!--  ko if: containsVideoDescription -->
				                        <div class="imginfo"><span class="mediatitle" data-bind="text: contextData()[0].body.videoDescription"></span></div>
				                        <!-- /ko -->
				                        <ul class="action">
				                          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Edit video" data-bind="click: $parent.prepareForItemEdit"><i class="fa fa-pencil videobox"></i></a></li>
				                          <li><a href="#" data-toggle="tooltip" data-placement="top" title="Delete video" data-bind="click: $parent.deleteVideo"><i class="fa fa-trash-o"></i></a></li>
				                        </ul>
				                     </div>
				                     <!-- /ko -->
				                     <!-- ko else -->
									 <div class="video"><a href="#" data-toggle="tooltip" data-placement="top" title="Add video" class="addvideo videobox" data-bind="click: $parent.prepareForItemEdit">
									 	<img src="img/ui/ic-add.png"></a>
									 </div>
									 <!-- /ko -->
									<div id="loadingIcon">
										<i class="fa fa-spinner fa-pulse"></i>
									</div>
			                    </div>
								<!-- /ko -->
								<div class="add">
									<span>
										<a data-toggle="tooltip" data-bind="drop: {index: collectionItemsArray().length}" data-placement="top" title="Drag an item here">
										<img src="img/ui/ic-add.png" />
										</a>
									</span>
								</div>
							</div>							
						</div>
					</div>
					<!-- assets-->
					<div class="assets">
						<!-- actions-->
						<div class="actions">
							<!--  ko if: myCollections().length > 0 -->
							<select id="CollectionSelect" class="form-control collectionlist" data-bind="options: myCollections, optionsText: 'title', value: selectedCollection"></select>
							<!-- /ko -->
							<div class="collectionsearch">
								<input id="searchBox" type="text" placeholder="Search"/><img src="img/ui/ic-mag.png" class="icon" data-bind="search"/>
							</div>
							<div class="notification">Select items from your collections and drag them to your exhibition</div>
						</div>
						<!-- listing-->
						<div class="assetlisting" id="outer-bottom">
							<ul data-bind="foreach: userSavedItemsArray">
								<li>
									<a id="bottom-box" href="#" data-toggle="tooltip" data-placement="top" 
									data-bind="{drag: {item: $data, move: false}, attr: {title: title}}">
										<div class="hue">
											<img data-bind="attr: { src: thumbnailUrl }" class="itemImage"/>
											<div class="color"></div>
										</div>
									</a>
								</li>
							</ul>
							<div data-bind="hscroll: userSavedItemsArray(), scrollOptions: { loadFunc: loadNextCollection, offset: 20 }"></div>
						</div>
					</div>
				</section>
				<section class="action upload">
					<div class="action-header">
						<div class="title">Upload background image</div>
					</div>
					<div class="action-body"><img src="img/ui/upload-placeholder.png" class="upload-img"><span style="width:40%;" class="progress"></span></div>
					<div class="button-group"><a href="#" class="btn-green-o cancel">Cancel</a><a href="#" class="btn-green">Save</a></div>
				</section>
				<section class="action editsection">
					<div class="action-header">
						<div class="title">Edit text</div>
					</div>
					<div class="action-body">
						<textarea type="text" placeholder="Add text" data-bind="value: itemText"></textarea>
						<!--  <div class="sectionside">
							<div class="head">Media location</div>
							<div class="toggle">
								<input type="checkbox" id="toggle3">
								<label for="toggle3"></label><span class="private">left</span><span class="public">right</span>
							</div>
						</div> -->
					</div>
					<div class="button-group"><a class="btn-green-o cancel" data-bind="click: closeSideBar">Cancel</a>
					<a class="btn-green" data-bind="click: editItem.bind($data, 'editText')">Save</a></div>
				</section>
				<section class="action editvideo">
					<div class="action-header">
						<div class="title">Edit video</div>
					</div>
					<div class="action-body">
						<textarea type="text" placeholder="Add youtube url" data-bind="value: itemVideoUrl"></textarea>
						<textarea type="text" placeholder="Add video description" data-bind="value: itemVideoDescription"></textarea>
					</div>
					<div class="button-group"><a class="btn-green-o cancel" data-bind="click: closeSideBar">Cancel</a>
					<a class="btn-green" data-bind="click: editItem.bind($data, 'editVideo')">Save</a></div>
				</section>
			</main>
		</div>
	</div>
</div>
