<main>
  <!-- collection section-->
  <section class="exhibition">
	<!-- head-->
	<div class="list-head">
	  <!-- back-->
	  <div class="title">Exhibition Editor</div>
	  <!-- control-->
	  <div class="list-control"><a title="" data-placement="top" data-toggle="tooltip" href="dashboard-exhibition-viewer.html" data-original-title="Preview Exhibition" class="fa fa-eye"></a><a href="#" data-toggle="tooltip" data-placement="top" title="Upload background image" class="fa fa-image upload"></a>
		<div class="toggle">
		  <input type="checkbox" id="toggle2">
		  <label for="toggle2"></label><span class="private">private</span><span class="public">public</span>
		</div>
	  </div>
	</div>
	<!-- editor box-->
	<div class="editorbox">
	  <div class="wrap">
		<!-- scroll-->
		<div class="scroll">
		  <!-- box-->
		  <div class="box">
			<h1 class="title">Never in all their history</h1>
			<p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center.</p>
		  </div>
		  <!-- add-->
		  <div class="add"><span><a href="#" data-toggle="tooltip" data-placement="top" title="Drag your media here"><img src="img/ui/ic-add.png"></a></span></div>
		</div>
	  </div>
	</div>
	<!-- assets-->
	<div class="assets">
	  <!-- actions-->
	  <div class="actions">
		<select class="form-control collectionlist">
		  <option>Collection 1</option>
		  <option>Collection 2</option>
		</select>
		<div class="collectionsearch">
		  <input type="text" placeholder="Search"><img src="img/ui/ic-mag.png" class="icon">
		</div>
		<div class="notification">Select your notifications and drag items to your editor</div>
	  </div>
	  <!-- listing-->
	  <div class="assetlisting">
		<ul>
		  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor siy amet">
			  <div class="hue"><img src="img/content/content-1.png">
				<div class="color"></div>
			  </div></a></li>
		  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor siy amet">
			  <div class="hue"><img src="img/content/content-2.png">
				<div class="color"></div>
			  </div></a></li>
		  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor siy amet">
			  <div class="hue"><img src="img/content/content-3.png">
				<div class="color"></div>
			  </div></a></li>
		  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor siy amet">
			  <div class="hue"><img src="img/content/content-4.png">
				<div class="color"></div>
			  </div></a></li>
		  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor siy amet">
			  <div class="hue"><img src="img/content/content-5.png">
				<div class="color"></div>
			  </div></a></li>
		  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor siy amet">
			  <div class="hue"><img src="img/content/content-6.png">
				<div class="color"></div>
			  </div></a></li>
		</ul>
	  </div>
	</div>
  </section>
  <!-- collection new-->
  <section class="action upload">
	<div class="action-header">
	  <div class="title">Upload background image</div>
	</div>
	<div class="action-body"><img src="img/ui/upload-placeholder.png" class="upload-img"><span style="width:40%;" class="progress"></span></div>
	<div class="button-group"><a href="#" class="btn-green-o cancel">Cancel</a><a href="#" class="btn-green">Save</a></div>
  </section>
</main>
