<input id="facet_tags" type="text" data-role="tagsinput">
<div class="facetfilters">
<button class="btn btn-default" id="facetsbtn" data-bind="click: showfacets,disable:$parent.searching" ><span>
<i class="fa fa-bars  pull-left"></i> Filter</span>
</button>
  
<div class="modalfacets" id="searchfacets" data-bind="if: visiblePanel,visible:visiblePanel">


 <div class="facetsearchbox">
    <div class="box">
    <input class="facetinput" id="f_search" placeholder="Search" type="text" value=""/>
   </div>
   </div>
 
<ul class="nav nav-tabs">
  <li class="active"><a href="#datasources" data-toggle="tab" data-bind="event:{click: sourceBind}">Sources</a></li>
  
  <!-- ko foreach: $parent.filters -->
  <!-- ko if: suggestedValues.length>0 -->
  <li><a data-bind="attr:{href:'#'+filterID},text:filterName,event:{click: $parent.listBind}"  data-toggle="tab"></a></li>
  <!-- /ko -->
  <!-- /ko -->
   
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane active" id="datasources">
     <ul class="thumbfilters list">
     
     <li>
      <input type="checkbox" value="Europeana" data-bind="checked: $parent.sources, click: listClick"/>
      <span>Europeana</span>
     
     </li>
       
       <li>
      <input type="checkbox" value="DPLA" data-bind="checked: $parent.sources, click:listClick"/>
       <span>DPLA</span>
      
     </li>
     <li>
      <input type="checkbox" value="NLA" data-bind="checked: $parent.sources, click:listClick"/>
      <span>NLA</span>
      
     </li>
     <li>
      <input type="checkbox" value="DigitalNZ" data-bind="checked: $parent.sources, click:listClick"/>
      <span>DigitalNZ</span>
      
     </li>
     
     <li>
      <input type="checkbox" value="YouTube" data-bind="checked: $parent.sources, click: listClick"/></span>
     <span>YouTube</span>
     
     </li>
    
    <!-- <li>
      <input type="checkbox" value="Mint" data-bind="checked: $parent.sources, click: listClick"/></span>
      <span>Mint</span>
     
     </li>-->
      <li>
      <input type="checkbox" value="Rijksmuseum" data-bind="checked: $parent.sources, click: listClick"/></span>
      <span>Rijksmuseum</span>
     
     </li>
     
      <li>
      <input type="checkbox" value="WITHin" data-bind="checked: $parent.sources, click: listClick"/></span>
      <span>WITHin</span>
     
     </li>
    </ul>
  </div>
  
   <!-- ko foreach: $parent.filters -->
   <div class="tab-pane fade" data-bind="attr:{id:filterID}">
    <!-- ko if:(filterID!="dates" &&  suggestedValues.length>0) -->
    <ul class="thumbfilters list">
   
    
   
    <!-- ko foreach: suggestedValues -->
   
    <li data-bind="click:function(){$parents[1].listSelect($parents[0].filterID,value);}">
      <span data-bind="text: value"></span>
      
     </li>
     <!-- /ko -->
      </ul>
     <!-- /ko -->
     
     <!-- ko if:(filterID=="dates" &&  suggestedValues.length>0) -->
     
        <ul class="list chart">
         <!-- ko foreach:$parent.yaxis -->
		    <li data-bind="attr:{'title': $data},click:function(){$parents[1].listSelect($parents[0].filterID,$data);}">
		    <span class="label" data-bind="text:$parents[1].yaxislabels()[$index()]"></span>
		    
		    <span class="bar" data-bind="attr: { 'data-number': $parents[1].barheights()[$index()]}"></span></li>
		  <!-- /ko -->  
		</ul>
     <!-- /ko -->
    
   
    
    
   
  </div>
   <!-- /ko -->
  </div>
  
  
</div>
</div>
