         <!-- search filter-->
          <section class="action searchfilter" data-bind="css :{active: visiblePanel}">
          <div id="searchfacets" data-bind="if: visiblePanel,visible:visiblePanel">
          
            <div class="action-header">
              <div class="title">Search Filter</div>
            </div>
            <div class="action-body">
              <!-- setting-->
              <!-- settings-->
              <div class="searchsetting">
                <!-- filter Text-->
                <div class="filtertext">
                  <input type="text" id="f_search" placeholder="Search" class="filterinput"><img alt="search" src="img/ui/ic-mag.png" class="filterimg">
                </div>
                <!-- wrap-->
                <div class="wraps">
                  <!-- tabs-->
                   <!-- tabs-->
                <ul role="tablist" class="nav nav-tabs">
                 <li class="active"><a href="#datasources" data-toggle="tab" data-bind="event:{click: sourceBind}">Sources</a></li>
  
				  <!-- ko foreach: $parent.filters -->
				  <!-- ko if: suggestedValues.length>0 -->
				  <li><a data-bind="attr:{href:'#'+filterID, 'title':sources},text:filterName, event:{click: $parent.listBind}"  data-toggle="tab" 
				   ></a></li>
				  <!-- /ko -->
				  <!-- /ko -->
                  
                </ul>
                  <!-- panes-->
                  <div class="tab-content">
                    <div class="tab-pane active" id="datasources">
				     <ul class="sources list">
				     <!-- ko foreach: facetFilter -->
				     <li><label>
				      <input type="checkbox" data-bind="checked: $parents[1].sources, click: $parent.listClick, value: $data"/>
				      <span data-bind ="text: $data"></span>
				     </label>
				     </li>
				     <!--  /ko -->
				     
				    </ul>
				  </div>
				  
				   <!-- ko foreach: $parent.filters -->
				   <div class="tab-pane" data-bind="attr:{id:filterID}">
				    <!-- ko if:(filterID!="dates" &&  suggestedValues.length>0) -->
				    <ul class="type list">
				   
				    
				   
				    <!-- ko foreach: suggestedValues -->
				   
				    <li data-bind="click:function(){$parents[1].listSelect($parents[0].filterID,value);}">
				      <a href="#" data-bind="text: value"></a>
				      
				     </li>
				     <!-- /ko -->
				      </ul>
				     <!-- /ko -->
				     
				     <!-- ko if:(filterID=="dates" &&  suggestedValues.length>0) -->
				     
				        <ul class="type list chart">
				         <!-- ko foreach:$parent.yaxis -->
						    <li data-bind="attr:{'title': $data},click:function(){$parents[1].listSelect($parents[0].filterID,$data);}">
						    <span class="label" data-bind="text:$parents[1].yaxislabels()[$index()]"></span>
						    
						    <span class="bar" data-bind="attr: { 'data-number': $parents[1].barheights()[$index()]}"></span></li>
						  <!-- /ko -->  
						</ul>
				     <!-- /ko -->
				    
				   
				    
				    
				   
				  </div>
				   <!-- /ko -->
                
                
                
                  </div>
                </div>
              </div>
            </div>
            <div class="button-group"><a class="btn-green cancel" data-bind="click: close">Close</a></div>
          </div>
          </section>
