
<div>
	<div class="intro-effect-grid">
              <ul class=" gridmosaic">
					<li> <figure class="effect-with">
						<figcaption>
						
							<h2>DISCOVER</h2>
							<p class="p2">Discover cultural content from around the world</p>
							
						</figcaption></figure>
						
					</li>
					<li> <figure class="effect-with">
						<figcaption>
							<h2>BUILD</h2>
							<p class="p2">Build using data exposed by the WITH API</p>
							
						</figcaption>
					</figure>	</li>
					<li> <figure class="effect-with">
						<figcaption>
							<h2>CREATE</h2>
							<p class="p2">Create collections, exhibitions and stories</p>
							
						</figcaption>
						
				    			
					</figure>
				          	
					</li>
					<li><figure class="effect-with">
						<figcaption>
							<h2>ANNOTATE</h2>
							<p class="p2">Link &amp; Enrich with LoD sources</p>
							
						</figcaption>	
					</figure>	
					</li>
					<li> <figure class="effect-with">
					
						<figcaption>
							<h2>AGGREGATE</h2>
							<p class="p2">Upload, map, transform and publish</p>
							
						</figcaption>		
						
					</figure>
					</li>
					<li><figure class="effect-with">
						<figcaption>
							<h2>PARTICIPATE</h2>
							<p class="p2">Tag, follow, discuss, moderate WITH</p>
							
						</figcaption>	
								
					</figure></li>
				</ul>
				
				</div>
				<main-content params="route: route"></main-content>
			</div>	
			