	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-center v-center">
				<div class="grid">
				<div class="col-md-4 text-center v-center">
				  <figure class="effect-marley">
						<img src="images/landing/explore.jpg" alt="explore" class="img-responsive">
						<figcaption>
							<h2><span>EXPLORE</span>WITH</h2>
							<p>Explore cultural content from around the world</p>
							
						</figcaption>			
					</figure>
					</div>
				<div class="col-md-4 text-center v-center">	
				 <figure class="effect-marley">
						<img src="images/landing/create.jpg" alt="explore" class="img-responsive">
						<figcaption>
							<h2><span>CREATE</span>WITH</h2>
							<p>Create collections, exhibitions and stories</p>
							
						</figcaption>			
					</figure>
					</div>
				<div class="col-md-4 text-center v-center">
				 <figure class="effect-marley">
						<img src="images/landing/export.jpg" alt="export" class="img-responsive">
						<figcaption>
							<h2><span>Export</span>WITH</h2>
							<p>Export data through the WITH API</p>
							
						</figcaption>			
					</figure>
				</div>
				</div>
			</div>
		<div class="col-lg-12 text-center v-center">
				<div class="grid">
				<div class="col-md-4 text-center v-center">
				  <figure class="effect-marley">
						<img src="images/landing/annotate.jpg" alt="explore" class="img-responsive">
						<figcaption>
							<h2><span>Annotate</span>WITH</h2>
							<p>Link & Enrich with LoD sources</p>
							
						</figcaption>			
					</figure>
					</div>
				<div class="col-md-4 text-center v-center">	
				 <figure class="effect-marley">
						<img src="images/landing/aggregate.jpg" alt="explore" class="img-responsive">
						<figcaption>
							<h2>Aggregate<span>WITH</span></h2>
							<p>Upload, map, transform and publish</p>
							
						</figcaption>			
					</figure>
					</div>
				<div class="col-md-4 text-center v-center">
				 <figure class="effect-marley">
						<img src="images/landing/participate.jpg" alt="e" class="img-responsive">
						<figcaption>
							<h2>Participate<span>WITH</span></h2>
							<p>Tag, follow, discuss, moderate WITH</p>
							
						</figcaption>			
					</figure>
				</div>
				</div>
			</div>
			
		</div>
	</div>

	<main-content params="route: route"></main-content>