
<div>
	<div class="intro-effect-grid">
              <ul class=" gridmosaic">
					<li> <div class="cardFlip"><div class="front"><figure class="effect-with">
					
						<img src="images/landing/explore2b&w.jpg" alt="discover" class="img-responsive">
						<figcaption>
						
							<h2>DISCOVER</h2>
							<p class="p2">Discover cultural content from around the world</p>
							
						</figcaption></figure>
						</div>	
						<div class="back"><p>
          	              <b>Search</b> for cultural heritage knowledge in distributed repositories</p>
          	              <p><b>Browse</b> an expanding set of diverse sources</p>
          	             
				      	<p><b>Tweak</b> the scope of your searches</p>
				      	<p><b>License-based search</b> for quality content</p>
				          </div>
						<div class="imholder"></div>
				        
				    	</div>
					</li>
					<li> <div class="cardFlip"><div class="front"><figure class="effect-with">
					<img src="images/landing/build.jpg" alt="build" class="img-responsive">
						<figcaption>
							<h2>BUILD</h2>
							<p class="p2">Build using data exposed by the WITH API</p>
							
						</figcaption>
					</figure>	</div>
						<div class="back"><p>
          	              <b> Leverage</b> the programmable web to help developers create applications using APIs</p>
          	              <p><b>HTML view
							</b>  of API responses</p>
							          	             
											      	<p><b>Combined access</b>  to common functionality 
							</p>
				      	<p>Use <b>source-specific</b> advanced features</p>
				      	<p>Metadata records serialized in <b>XML or JSON</b></p>
				      	<p><b>Download</b> a collection and its items</p>
				      	<p><b>Publish</b> collections, transformed and annotated records</p>
				      	<p>Access using protocols like <b>OAI-PMH</b> or through the platform's<b> API</b></p>
						<p><b>Customise</b> the JSON you expose via the WITH API</p>
				          </div>	
				          <div class="imholder"></div>
				          </div></li>
					<li> <div class="cardFlip"><div class="front"><figure class="effect-with">
					<img src="images/landing/createb&w.jpg" alt="create" class="img-responsive">
						<figcaption>
							<h2>CREATE</h2>
							<p class="p2">Create collections, exhibitions and stories</p>
							
						</figcaption>
						
				    			
					</figure></div>
					<div class="back"><p>
          	              <b>Compose</b> eclectic collections</p>
          	              <p><b>Retrieve</b> relevant information</p>
							          	             
				           <p><b>Contextualise</b> collections, create <b>Exhibitions</b> and <b>3D Galleries</b>
							</p>
				      	<p style="height:60%"></p>
				          </div><div class="imholder"></div>
				          </div>
				          	
					</li>
					<li><div class="cardFlip"><div class="front"><figure class="effect-with">
					<img src="images/landing/annotate2b&w.jpg" alt="annotate" class="img-responsive"/>
						<figcaption>
							<h2>ANNOTATE</h2>
							<p class="p2">Link &amp; Enrich with LoD sources</p>
							
						</figcaption>	
					</figure></div>
					<div class="back">
							<p><b>Tag</b> - simple, free-text or with controlled terminologies</p>
							<p><b>Enrich</b> - Combine NLP techniques, formal SKOS thesauri and semantic web technologies to add expressive power </p>
							<p><b>Link</b> - Connect collected resources</p>
							<p><b>Use ontologies</b> to express relations between resources</p>
							<p><b>Explore</b> and connect to the <b>Linked Open Data cloud</b></p>

				          </div><div class="imholder"></div>
				          </div>	
					</li>
					<li> <div class="cardFlip"><div class="front"><figure class="effect-with">
					<img src="images/landing/aggregateb&w.jpg" alt="aggregate" class="img-responsive">
					
						<figcaption>
							<h2>AGGREGATE</h2>
							<p class="p2">Upload, map, transform and publish</p>
							
						</figcaption>		
						
					</figure></div>
					<div class="back">
							<p><b>Upload, host and showcase</b> your content and metadata</p>
							<p><b>MINT-based</b> aggregation gateway</p>
							<p><b>Content</b> space media repository</p>
							<p><b>Map and transform</b> to metadata models</p>
							<p><b>Link</b> to high quality content</p>
							<p><b>Publish</b> (OAI-PMH, Europeana, 3rd party portals)</p>
							<p><b>Create </b>your institution page</p>
				          </div>
				          <div class="imholder"></div>
				       </div>	
					</li>
					<li><div class="cardFlip"><div class="front"> <figure class="effect-with">
					<img src="images/landing/partb&w.jpg" alt="participate" class="img-responsive">
					
						<figcaption>
							<h2>PARTICIPATE</h2>
							<p class="p2">Tag, follow, discuss, moderate WITH</p>
							
						</figcaption>	
								
					</figure></div>
					<div class="back">
							<p><b>Follow</b> content providers, contributors, collections</p>
							<p><b>Promote</b> content and collections using social media</p>
							<p><b>Contribute</b> to the development of the platform, integrate services, empower creative re-use</p>
				          </div>
				          <div class="imholder"></div>
				       </div>	</li>
				</ul>
				
				</div>
				<main-content params="route: route"></main-content>
			</div>	
			