	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center v-center">
				<div class="mycarousel col-centered">
					<div class="thumbnail mythumbnail">
						<img src="images/dance.jpg" height="300" alt="">
						<h3>DANCE</h3>
						<p>Click to create WITH...</p>
					</div>
					<div class="thumbnail mythumbnail">
						<img src="images/museum.jpg" height="300" alt="">
						<h3>MUSEUM</h3>
						<p>Click to create WITH...</p>
					</div>
					<div class="thumbnail mythumbnail">
						<img src="images/photography.jpg" height="300" alt="">
						<h3>Photography</h3>
						<p>Click to create WITH...</p>
					</div>
					<div class="thumbnail mythumbnail">
						<img src="images/europeana.jpg" height="300" alt="">
						<h3>EUROPEANA</h3>
						<p>Click to create WITH...</p>
					</div>
					<div class="thumbnail mythumbnail">
						<img src="images/dpla.jpg" height="300" alt="">
						<h3>DPLA</h3>
						<p>Click to create WITH...</p>
					</div>
					<div class="thumbnail mythumbnail">
						<img src="images/games.jpg" height="300" alt="">
						<h3>Games</h3>
						<p>Click to create WITH...</p>
					</div>
				</div>
			</div>

			<div class="col-lg-12 text-center v-center">
				<h1>create <span>WITH</span></h1>
			</div>
		</div>
	</div>


