<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				 <span class="withmain"><h2>My collections</h2></span>
				 
				 <p>
				  <a href="#"><span class="glyphicon glyphicon-plus"></span> Create new</a>
				</p>
				 
				 <!-- collections listed here -->
				 <div class="profilecoll">
				 <div class="container-fluid">
				 <div class="row profile">
				 <div class="col-xs-6 col-sm-6 col-md-4 pull-left">
				 <div class="closesign"><button type="button" title="delete" class="close" aria-label="delete" data-bind="event: {click: close}"><span aria-hidden="true">&times;</span></button>
				 </div>
				 <div class="content">
				   <h3>Collection title...</h3>
				   <div>This a test description blah blah blah blah blah blah blah...</div>
				   <div><b>Keywords:</b> test key1, test key2</div>
				  <div><b>Categorized as:</b> test category</div>
				  <span class="pull-left"><b>Items: </b>200.345, <b>Visibility: </b><i class="fa fa-eye-slash" title="secret"></i> hidden</span><span class="pull-right"><b>Created:</b> 22 March 2015</span>
				   </div>
				 </div>
				 <div class="col-xs-6  col-sm-6  col-md-8">
				 <div class="row-fluid">
				   <div class="imcontainer">
				   <div class="coll_figure"><img src="images/exhibitions/missoni.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				      <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				
				  </div>
				  </div>
				 </div>
				 </div>
				 </div>
				 </div> 
				 
				 
				 <!-- collection2 -->
				 
				 <div class="profilecoll">
				 <div class="container-fluid">
				 <div class="row profile">
				 <div class="col-xs-6 col-sm-6 col-md-4 pull-left">
				 <div class="closesign"><button type="button" class="close" aria-label="delete" data-bind="event: {click: close}"><span aria-hidden="true">&times;</span></button>
				 </div>
				 <div class="content">
				   <h3>Collection title...</h3>
				   <div>This a test description blah blah blah blah blah blah blah...</div>
				   <div><b>Keywords:</b> test key1, test key2</div>
				  <div><b>Categorized as:</b> test category</div>
				  <span class="pull-left"><b>Items: </b>200.345, <b>Visibility: </b><i class="fa fa-eye-slash" title="secret"></i> hidden</span><span class="pull-right"><b>Created:</b> 22 March 2015</span>
				   </div>
				 </div>
				 <div class="col-xs-6  col-sm-6  col-md-8">
				 <div class="row-fluid">
				   <div class="imcontainer">
				   <div class="coll_figure"><img src="images/exhibitions/missoni.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				      <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				
				  </div>
				  </div>
				 </div>
				 </div>
				 </div>
				 </div> 
				 
				 
				 <div class="profilecoll">
				 <div class="container-fluid">
				 <div class="row profile">
				 <div class="col-xs-6 col-sm-6 col-md-4 pull-left">
				 <div class="closesign"><button type="button" class="close" aria-label="delete" data-bind="event: {click: close}"><span aria-hidden="true">&times;</span></button>
				 </div>
				 <div class="content">
				   <h3>Collection title...</h3>
				   <div>This a test description blah blah blah blah blah blah blah...</div>
				   <div><b>Keywords:</b> test key1, test key2</div>
				  <div><b>Categorized as:</b> test category</div>
				  <span class="pull-left"><b>Items: </b>200.345, <b>Visibility: </b><i class="fa fa-eye-slash" title="secret"></i> hidden</span><span class="pull-right"><b>Created:</b> 22 March 2015</span>
				   </div>
				 </div>
				 <div class="col-xs-6  col-sm-6  col-md-8">
				 <div class="row-fluid">
				   <div class="imcontainer">
				   <div class="coll_figure"><img src="images/exhibitions/missoni.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				      <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				
				  </div>
				  </div>
				 </div>
				 </div>
				 </div>
				 </div> 
				 
				 
				 
				 <div class="profilecoll">
				 <div class="container-fluid">
				 <div class="row profile">
				 <div class="col-xs-6 col-sm-6 col-md-4 pull-left">
				 <div class="closesign"><button type="button" class="close" aria-label="delete" data-bind="event: {click: close}"><span aria-hidden="true">&times;</span></button>
				 </div>
				 <div class="content">
				   <h3>Collection title...</h3>
				   <div>This a test description blah blah blah blah blah blah blah...</div>
				   <div><b>Keywords:</b> test key1, test key2</div>
				  <div><b>Categorized as:</b> test category</div>
				  <span class="pull-left"><b>Items: </b>200.345, <b>Visibility: </b><i class="fa fa-eye-slash" title="secret"></i> hidden</span><span class="pull-right"><b>Created:</b> 22 March 2015</span>
				   </div>
				 </div>
				 <div class="col-xs-6  col-sm-6  col-md-8">
				 <div class="row-fluid">
				   <div class="imcontainer">
				   <div class="coll_figure"><img src="images/exhibitions/missoni.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				      <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				
				  </div>
				  </div>
				 </div>
				 </div>
				 </div>
				 </div> 
				 
				 
				 <div class="profilecoll">
				 <div class="container-fluid">
				 <div class="row profile">
				 <div class="col-xs-6 col-sm-6 col-md-4 pull-left">
				 <div class="closesign"><button type="button" class="close" aria-label="delete" data-bind="event: {click: close}"><span aria-hidden="true">&times;</span></button>
				 </div>
				 <div class="content">
				   <h3>Collection title...</h3>
				   <div>This a test description blah blah blah blah blah blah blah...</div>
				   <div><b>Keywords:</b> test key1, test key2</div>
				  <div><b>Categorized as:</b> test category</div>
				  <span class="pull-left"><b>Items: </b>200.345, <b>Visibility: </b><i class="fa fa-eye-slash" title="secret"></i> hidden</span><span class="pull-right"><b>Created:</b> 22 March 2015</span>
				   </div>
				 </div>
				 <div class="col-xs-6  col-sm-6  col-md-8">
				 <div class="row-fluid">
				   <div class="imcontainer">
				   <div class="coll_figure"><img src="images/exhibitions/missoni.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg"></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg"></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				      <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				   <div class="coll_figure"><img src="images/collections/dance/dance3.jpg" ></div>
				    <div class="coll_figure"><img src="images/collections/dance/dance2.jpg" ></div>
				
				  </div>
				  </div>
				 </div>
				 </div>
				 </div>
				 </div> 
				 
			</div>
		</div>
</div>