<nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottomBar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<div class="navbar-brand">Welcome to <b>WITH</b>. Start typing to search or use the featured categories to explore.</div>

			<ul class="nav navbar-nav navbar-right nav-pills">
				<li><a href="http://facebook.com/" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="http://twitter.com/" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="http://www.linkedin.com/in/" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://github.com/broadmarkio" class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a></li>
				<li><a href="/assets/developers.html" class="btn btn-social-icon">WITH API</a></li>
				<li><a href="/assets/developers-lite.html" class="btn btn-social-icon">API-Lite</a></li>

			</ul>
		</div>
	</div>
</nav>
