<div role="main">
  <!-- viewer mode-->
  <div class="viewer">
	<!-- hero section-->
	<section class="hero" data-bind="style: { 'background-image': backgroundImage }">
	  <div class="container">
		<div class="meta">
		  <div class="top-info">
			<div class="thumbnails">
				<!-- ko if: avatar.Square -->
				<img data-bind="attr : { src: avatar.Square }" data-toggle="tooltip" data-placement="top">
				<!-- /ko --><!-- ko ifnot: avatar.Square -->
				<img src="img/ui/profile-placeholder.png" data-toggle="tooltip" data-placement="top">
				<!-- /ko -->
			</div>
			<div class="header">
			  <div class="title" data-bind="text: friendlyName"></div>
			  <div class="location" data-bind="text: page.address"></div><a data-bind="attr: { href: page.url }, visible: page.url" target="_blank">Visit site</a>
			</div>
		  </div>
		  <div class="description" data-bind="text: about"></div>
		</div>
		<div data-bind="visible: coords">
			<iframe data-bind="attr : { src: coords }" frameborder="0" style="border:0" allowfullscreen class="map" ></iframe>
		</div>
	  </div>
	</section>
	<!-- isotope section-->
	<section class="isotope">
	  <section class="filter">
		<div class="container">
		  <div class="wrap">
			<!-- menu-->
			<ul class="nav">
			  <li data-filter="*" class="active" data-bind="click: filter"><a href="#" title="ALL">All</a></li>
			  <li data-filter=".collection" data-bind="click: filter"><a href="#" title="ALL">Collections</a></li>
			  <li data-filter=".exhibition" data-bind="click: filter"><a href="#" title="EXHIBITION">Exhibitions</a></li>
			</ul>
		  </div>
		</div>
	  </section>
	  <div class="container">
		<section class="listing">
		  <div class="grid" id="homemasonry" data-bind="profileisotope: page.featuredCollections">
			<!-- ko if: $index() === 0 -->
			<div class="sizer"></div>
			<!-- /ko -->
			<div class="item" data-bind="visible: isLoaded(), css: data.css()">
			  <div class="wrap"><a data-bind="attr: { href: data.url() }" title="View">
				  <div class="thumb"><img data-bind="attr: { src: data.thumbnail() }"></div>
				  <div class="info">
					<div class="type" data-bind="text: data.type()"></div>
					<h2 class="title" data-bind="text: data.title"></h2>
				  </div></a>
			  </div>
			</div>
		  </div>

		  <div id="more" data-bind="visible: loading, scroll: page.featuredCollections(), scrollOptions: { loadFunc: loadNext, offset: 0 }"> <i class="fa fa-spinner fa-pulse"></i></div>
		</section>
	  </div>
	</section>
  </div>
  <!-- footer-->
  <!-- footer-->
  <footer>
	<div class="container">
	  <!-- copyright-->
	  <section class="copyright"><img src="img/ui/logo-footer.png">
		<p>WITH <em>by</em> National Technical University of Athens</p>
	  </section>
	  <!-- social media-->
	  <section class="sosmed"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-vimeo"></i></a></section>
	</div>
  </footer>
</div>
