<div role="main">
<div class="viewer" data-bind="template: { name: templateName }" id="login">

</div>
</div>
<footer>
  <div class="container">
	<!-- copyright-->
	<section class="copyright"><img src="img/ui/logo-footer.png">
	  <p>WITH <em>by</em> National Technical University of Athens</p>
	</section>
	<!-- social media-->
	<section class="sosmed"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-vimeo"></i></a></section>
  </div>
</footer>
