<div class="dialog" id="loginPopup">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: function() { closeLoginPopup(); }"><span aria-hidden="true">&times;</span></button>

	<h2>Sign in to WITH</h2>
    
	<div>
		<div class="externalLogin">
			<button class="facebook" type="button" data-bind="click: function() { fbLogin(true) }">
				<i class="facebook_small"></i>
				<span>Facebook</span>
			</button>
			<button class="google" type="button" data-bind="click: function() { googleLogin(true, $parents[1])}">
				<i class="google_small"></i>
				<span>Google</span>
			</button>
			<button class="email" type="button" data-bind="click: function() { scrollEmail(); }">
				<i class="email_small"></i>
				<span>Email</span>
			</button>

			<div class="footer">
			<span> By logging in you agree to the following </span><a href="http://www.europeana.eu/portal/rights/contributions.html">terms.</a>
			<div> Don't have an account? <a href="../../../#register">Joining is quick and easy</a>.</div>
			</div>
		</div>
		<div class="emailLogin">
			<form class="form">
				<div class="col-md-5 col-sm-5 col-ms-5 col-xs-12">
					<div class="form-group" data-bind="validationElement: emailUser" style="vertical-align: top;">
						<label class="sr-only" for="useremail">Email address</label>
						<input type="email" class="form-control" id="useremail" placeholder="Enter email" data-bind="value: emailUser; hasFocus: true;">
					</div>
				</div>
				<div class="col-md-5 col-sm-5 col-ms-5 col-xs-12">
					<div class="form-group" data-bind="validationElement: emailPass" style="vertical-align: top;">
						<label class="sr-only" for="userpass">Email address</label>
						<input type="password" class="form-control" id="userpass" placeholder="Password" data-bind="value: emailPass;">
					</div>
				</div>
				<div class="col-md-2 col-sm-2 col-ms-2 col-xs-12">
					<button type="submit" class="btn btn-primary btn-block" data-bind="click: function() { emailLogin(true);}" style="vertical-align: top;">Login</button>
				</div>

				<div class="col-xs-12">
					<button type="button" class="btn btn-link" data-bind="click: function() { scrollDownEmail(); }">Login with Facebook or Google</span></button>
				</div>
			</form>
		</div>
	</div>
	
</div>