<div class="modal-dialog resetPasswordPopup">
	<div class="modal-content text-left">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4>Reset password</h4>
		</div>
		<div class="modal-body text-center">
			<p class="lead">Enter your email or username.<br/>We'll email instructions on how to reset your password.</p>

			<div class="row" style="margin: 3em 0 1em">
				<div class="col-sm-10 col-sm-offset-1">
					<form>
						<div class="form-group" data-bind="validationElement: useremail">
							<input type="email" class="form-control" id="useremail" placeholder="Username or Email" data-bind="value: useremail, hasFocus: true">
						</div>
					</form>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-bind="click: resetPassword">Reset</button>
		</div>
	</div>
</div>