

.md-modal-coll {
	position: fixed;
	top:5%;
	left: 50%;
	width: 100%;
	max-width: 330px;
	
	z-index: 1037;
	visibility: hidden;
	display:none;
	border-radius: 6px;
	padding-bottom:15px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(0%);
	-moz-transform: translateX(-50%) translateY(0%);
	-ms-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	background: white;
}

.md-modal-addto {
	  position: fixed;
	  top:10%;
	  left: 50%;
	  width: 100%;
	  max-width: 650px;
	 
	  height:320px;
	  overflow-y: auto;
	  z-index: 1037;
	  background-color:white;
	  visibility: hidden;
	  border-radius: 6px;
	  display: block;
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -webkit-transform: translateX(-50%) translateY(0%);
	  -moz-transform: translateX(-50%) translateY(0%);
	  -ms-transform: translateX(-50%) translateY(0%);
	  transform: translateX(-50%) translateY(0%);
	
}

.md-show {
	visibility: visible;
	
}

.md-overlay-coll {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1036;
	opacity: 0;
	background: rgba(227, 224, 226, 0.85);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-overlay-addto {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1036;
	opacity: 0;
	background: rgba(227, 224, 226, 0.85);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.md-show ~ .md-overlay-coll {
	opacity: 1;
	visibility: visible;
	
}


.md-show ~ .md-overlay-addto {
	opacity: 1;
	visibility: visible;
	
}


/* Content styles */
.md-content-coll {
	color: rgba(0, 0, 0, 0.52);
	background: #fff;
	position: relative;
	margin: 0 auto;
	padding:5px;
	border-radius: 6px;
	width: 100%;
}

.md-content-coll h3 {
	color: #333;
	clear: both;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0px 15px 1px;
}



.xxs{
	font-size: 11px;
}

.modal-dialog{
  width:300px;
  padding-top: 15%;
}

.modal-info .modal-dialog {
  width: 40%;
}


#withcollection #collcolumns figure:hover .closeButton{
	display:inline-block;
	
}



.closeButton {
  position: relative;
  font-size: 14px;
  background-color: none;
  cursor: pointer;
  float: right;
}

.closeButton:hover {
  color:red;
}


 .morecontent span {
display: none;
}

.fake-link {
    color: blue;
    cursor: pointer;
}

.userΙmage {
	position: relative;
}

.rightsIcon {
	position: absolute;
	top: 50%;
   left: 50%;
   transform: translate(-50%,-50%); 
    z-index:99;
}


.topOfModal {
    z-index:1100!important;
} 

.userPhoto {
	max-width: 70px;
	max-height: 80px;
    margin-bottom: 3px;
    z-index: 1;
}

.overflowText {
	overflow: hidden;
	max-width: 80px;
	position: relative;
	display: inline-block;
	text-overflow:ellipsis;
}

.readBorder {
	border: 3px solid #337ab7;
}

.writeBorder {
	border: 3px solid #5cb85c;
}

.ownBorder {
	border: 3px solid #ee656d;
}


