

.md-modal-coll {
	position: fixed;
	top:5%;
	left: 50%;
	width: 100%;
	max-width: 330px;
	
	z-index: 1037;
	visibility: hidden;
	display:none;
	border-radius: 6px;
	padding-bottom:15px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(0%);
	-moz-transform: translateX(-50%) translateY(0%);
	-ms-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	background: white;
}

.md-modal-addto {
	  position: fixed;
	  top:0%;
	  left: 50%;
	  width: 100%;
	  max-width: 650px;
	 
	  height:320px;
	  overflow-y: auto;
	  z-index: 1037;
	  background-color:white;
	  visibility: hidden;
	  border-radius: 6px;
	  display: block;
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -webkit-transform: translateX(-50%) translateY(0%);
	  -moz-transform: translateX(-50%) translateY(0%);
	  -ms-transform: translateX(-50%) translateY(0%);
	  transform: translateX(-50%) translateY(0%);
	
}

.md-show {
	visibility: visible;
	
}

.md-overlay-coll {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1036;
	opacity: 0;
	background: rgba(227, 224, 226, 0.85);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-overlay-addto {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1036;
	opacity: 0;
	background: rgba(227, 224, 226, 0.85);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.md-show ~ .md-overlay-coll {
	opacity: 1;
	visibility: visible;
	
}


.md-show ~ .md-overlay-addto {
	opacity: 1;
	visibility: visible;
	
}


/* Content styles */
.md-content-coll {
	color: rgba(0, 0, 0, 0.52);
	background: #fff;
	position: relative;
	margin: 0 auto;
	padding:5px;
	border-radius: 6px;
	width: 100%;
}

.md-content-coll h3 {
	color: #333;
	clear: both;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0px 15px 1px;
}



.xxs{
	font-size: 11px;
}

.modal-dialog{
  width:300px;
  padding-top: 15%;
}


#withcollection #collcolumns{
	width:100%;
	padding:0;
	
}


#withcollection #collcolumns figure{
	margin-bottom:20px;
}

#withcollection #collcolumns figure:hover .closeButton{
	display:inline-block;
	
}

#withcollection #collcolumns figure:hover{
	
    border:solid;
    border-width: 1px;
    border-color:grey;
}

#collcolumns {

column-gap: 5px;
width: 96%;
/*
max-width: 1500px;*/
margin: 50px auto;

}

div#collcolumns figure {
opacity:0;
background: #fefefe;
border: 2px solid #fcfcfc;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
margin: 0 2px 10px;

padding: 15px; 
padding-bottom: 10px;
/*transition: opacity .4s ease-in-out;*/
column-break-inside: avoid;


}
div#collcolumns figure img {
width: 100%; height: auto;
border-bottom: 1px solid #ccc;
padding-bottom: 15px;
margin-bottom: 5px;
}



.closeButton {
  position: absolute;
  right: -7px;
  top: -10px;
  display: none;
  z-index: 2;
  font-size: 15px;
  background-color:white;
  cursor:pointer;
}

 .morecontent span {
display: none;
}

.fake-link {
    color: blue;
    cursor: pointer;
}