

.md-modal-coll {
	position: absolute;
	top:10%;
	left: 50%;
	width: 50%;
	max-width: 330px;
	min-width: 320px;
	overflow-y: scroll;
	z-index: 1037;
	visibility: hidden;
	display:none;
	border-radius: 6px;
	padding-bottom:15px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(0%);
	-moz-transform: translateX(-50%) translateY(0%);
	-ms-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	background: white;
}

.md-show {
	visibility: visible;
}

.md-overlay-coll {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1036;
	opacity: 0;
	background: rgba(227, 224, 226, 0.85);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay-coll {
	opacity: 1;
	visibility: visible;
}


/* Content styles */
.md-content-coll {
	color: rgba(0, 0, 0, 0.52);
	background: #fff;
	position: relative;
	margin: 0 auto;
	padding:5px;
}

.md-content-coll h3 {
	color: #333;
	clear: both;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0px 15px 1px;
}



.xxs{
	font-size: 11px;
}