.facetfilters{
	width:300px;
	left:6.5em;
	position: absolute;
	padding:20px 0;
	z-index:1;
}
#facetsbtn{
	margin-bottom:1em;
	margin-bottom: 1em;
  position: relative;
  color: #fff;
  font-family: Arial,"Helvetica Neue",Helvetica,"Nimbus Sans L",sans-serif;
  font-size: 14px;
  text-transform: none;
  text-shadow: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  background-clip: padding-box;
  background-color: #696969;
}

#facetsbtn:input:disabled {
    background: #fff;
}

#facetsbtn > span{
	  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.modalfacets{
/* border: 2px solid #fcfcfc;*/
 
  width: 470px;
  border: 1px solid #d2d2d2;
  background-clip: padding-box;
  background-color: transparent;
  background-color: rgba(241,241,241,0.95);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#ccffffff,endColorstr=#ccffffff);
  zoom: 1;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
      overflow: auto;
}

.facetcontents{
	position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalfacets .nav-tabs {
  float: left;
  border-bottom: 0;
  text-transform: uppercase;
  word-spacing: .1em;
  font-size: 13px;
  font-weight: 900;
}

.modalfacets .nav-tabs li {
  float: none;
  margin: 0;
}

.modalfacets .nav-tabs li a {
  margin-right: 0;
  border: 0;
  /*background-color: #c0392b;*/
  color:#000;
  font-weight:400;font-size:0.9em;
}

.modalfacets .nav-tabs li a:hover { background-color: white; }

.modalfacets .nav-tabs .glyphicon { color: #555; }

.modalfacets .nav-tabs .active .glyphicon { color: #555; }

.modalfacets .nav-tabs > li.active > a,
.modalfacets .nav-tabs > li.active > a:hover,
.modalfacets .nav-tabs > li.active > a:focus { border: 0; }

.modalfacets .tab-content { margin-left: 45px; }

.modalfacets .tab-content .tab-pane {
  display: none;
  background-color: #fff;
  padding: 10px 0px 3px 3px;
  overflow-y: auto;
  min-height:460px;
  max-height: 460px;
  border-radius: 4px;
}

.modalfacets .tab-content .active {   display: list-item; }

modalfacets .wrapper{
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  overflow-x: hidden!important;
  overflow-y: hidden!important;
  overflow:auto;
}

ul.thumbfilters {
  left: 90px;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 0;
  overflow-x: hidden!important;
  overflow-y: hidden!important;
  overflow:auto;
}
 
ul.thumbfilters h3 {
	
  font: bold 11px/1.5 Helvetica, Verdana, sans-serif;
  margin-top:1em;
}
 
ul.thumbfilters li img {
  float: left;


}
 
ul.thumbfilters li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
ul.thumbfilters li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
  cursor: pointer;
  color: #696969;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;

}

ul.thumbfilters li:first-child {
    border-top:0;
    border-radius: 0 4px 0 0;
}


ul.thumbfilters li input
{
      margin-left: 1em;
  float: right;
  margin-right: 1em;
   
}



 
ul.thumbfilters li:hover {
  background: #eee;
  cursor: pointer;
}


.bootstrap-tagsinput {
  display: block;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding:4px 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
  display:none;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  display: inline-block;
  margin-right: 2px;
  color: white;
  font-size:1.0em;
  font-weight: 400;
  background-color: #a2a2a2;
  padding: 5px 5px 5px 10px;
  border: 1px solid #fff;
  border-color: rgba(255,255,255,0.7);
  background-clip: padding-box;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.facetsearchbox{
	position: relative;
    border-bottom: 1px solid #d2d2d2;
    padding:15px;
}

.facetsearchbox .box{
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d2d2d2;
  color: #696969;
  width: 100%;
  
}

.facetinput{
	
  width: 100%;
  height: 100%;
  padding: 0 20px 0 10px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;

}

.chart li {
  display: block;
  height: 23px;
  margin-top: 3px;
  left: 0;
  position: relative;
  cursor:pointer;
}


.chart li .label{
  color:black;
  float: left;
   margin-left: -3em;
}

/*.chart li:hover {
  display: block;
  color: white;
  background-color:black;
  content: attr(title);
  position: absolute;
}
*/

.chart li:before{
	content:none;
}


.chart li .number {
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
  position: absolute;
  top: -2px;
  margin-left: 10%;
}

.chart li .bar {
  min-width: 1%;
  left: 2.2em;
  position: absolute;
  cursor:pointer;
}

.chart li title{
	left:-20%;
	}