.imageUploadPopup {
	width: 600px;
	padding-top: 0;
	max-width: 90%;
}

#uploaded-image {
	margin: 0 auto;
	width: 50%;
	max-width: 200px;
	max-height: 25%;
}

#uploaded-image img {
	width: 100%;
}

.btn-browse {
	position: relative;
	overflow: hidden;
	width: 50%;
	max-width: 200px;
}

.btn-browse input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}