// Imports main.less file (along with anything that imports)
@import "main.less";

// Add any modifications here

#uploaded-image > input
{
    display: none;
}

.has-error {
	color: #a94442!important;
}

// Collection View
body div[role="main"] .wrapper main section.collection .list-head .upload,
body div[role="main"] .wrapper main section.exhibition .list-head .upload,
body div[role="main"] .wrapper main section.favorite .list-head .upload,
body div[role="main"] .wrapper main section.project .list-head .upload {
    padding-left: 10px;
}
