// Imports main.less file (along with anything that imports)
@import "main.less";

// Add any modifications here

#uploaded-image > input
{
    display: none;
}


// Validation Decoration
.has-error {
	color: #a94442!important;
}
a.redheart {
	color: #ec5a62!important;
}

.closemedia{
    cursor: pointer;
}

// Loading Icon
body div[role='main'] .more {
	bottom: 100px;
	right: 40px;
	padding: 5px;
	position: fixed;
	z-index: 1032;
	font-size: 25px;
}

/* Collection View
body div[role="main"] .wrapper main section.collection .list-head .upload,
body div[role="main"] .wrapper main section.exhibition .list-head .upload,
body div[role="main"] .wrapper main section.favorite .list-head .upload,
body div[role="main"] .wrapper main section.project .list-head .upload {
    padding-left: 10px;
	cursor: pointer;
}

body div[role='main'] .wrapper main section.favorite .list-head .list-control .fa {
	cursor:pointer
}
body div[role='main'] .wrapper main section.collection .list-body.grids li.sizer {
	width: 25%; margin-left:0;
}

body div[role='main'] .wrapper main section.collection .list-body.grids li.item {
	width: 25%; padding: 0 15px 0 15px;float:none;margin-left:0;
}
*/
body div[role='main'] .wrapper section.action .button-group,
.list-control a,
.action-group a {
	cursor: pointer;
}

// My Groups
body div[role="main"] .wrapper main section.project section.project-list .list-body.list li .thumbnails .wrap.small {
	width: 100px;
}

body div[role="main"] .wrapper main section.collection .list-body.list li .thumbnails .wrap,
body div[role="main"] .wrapper main section.exhibition .list-body.list li .thumbnails .wrap   {
  overflow: hidden;
}

// Remove dummy map
body div[role="main"] .wrapper main section.collection section.hero .map,
body div[role="main"] .wrapper main section.exhibition section.hero .map,
body div[role="main"] .wrapper main section.favorite section.hero .map,
body div[role="main"] .wrapper main section.project section.hero .map {
	background: none;
}

#uploaded-logo img {
	cursor: pointer;
}

.hiddenfile {
	width: 0px;
	height: 0px;
	overflow: hidden;
}
