
.profileheader{
-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.22);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.22);
  left: 0;
  position: fixed;
  right: 0;
  top: 154px;
  z-index: 103;
}

.profile{
    background: whitesmoke;
    padding: 10px 0;
    border: 1px solid rgb(215,215,215);
}

.profile:hover{
    cursor:pointer;
    border: 1px solid rgb(128,128,128);
}

div.closesign {
    display: none;
}

.profile:hover div.closesign {
    display: block;
}

.row-fluid{
     white-space: nowrap;
}
.row-fluid .col-md-1{
     display: inline-block;
     height:100px;
}


.content{
	/*border: 1px solid rgb(215,215,215);*/
	/*padding: 5px;*/
	background-color:whitesmoke;
	min-height: 130px;
}

.content .coll-footer {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.5em;
  padding: 0;
}

.coll-message {
  height: 130px;
  display: table;
}

.coll-message {
  display: flex;
  align-items: center;
}

.coll-body {
  border-right: 1px solid rgb(215, 215, 215);
}

.coll-footer .label {
  line-height: inherit;
}

.content .coll-descr {
  display: block;
  /*height: 95px;*/
}

.content .h3, h3{
	margin-top:0;
	font-size:18px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profilecoll{
	float:left;
	display: inline-block;
	position:relative;
	text-align:left;
    width:100%;
}

.profilecoll > div.container-fluid{
	padding-left:0;
    margin-top: 15px;
}

.profilecoll .content div{
	margin-bottom: 5px;
	/*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;

}


.profilecoll div.imcontainer{
    height:100%;
    position:relative;
    display:inline-block;
    overflow-y: hidden;
    overflow-x: auto;
	width:100%;
}

.profilecoll div.imcontainer div.coll_figure {
  position: relative;
  height: 130px;

  display: inline-block;
  text-align:center;
  vertical-align:middle;

}


.profilecoll div.imcontainer div.coll_figure > img {
  height: 130px;
  max-height: 100%;
  padding:3px;
}