

.withlogo{
/*padding-bottom:1.3em;*/
  margin-top:-2em;
  font-size: 1em;
  font-weight: 800;
  font-size:30px;
  font-family: 'Raleway', Arial, sans-serif;
  color:#fff;
}

.withlogo a{
	color:#fff;
  line-height: 32px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}



.withmain h2 {
  font-size: 1em;
  font-weight: 600;
  font-size:15px;
  font-family: 'Raleway', Arial, sans-serif;
  color:black;
  text-transform:uppercase;
  margin-bottom:10px;
  text-align: left;
  padding-top:10px
}

/*.logo{

padding-bottom:1.3em;
}*/

.truncate {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchwith {
display: block;
padding: 0 0 10px 0;
font-size: 14px;
color: #fff;
}

#searchwith>span {
margin-left: 8px;
}

/*h1{
 font-size:4.9em;
 color:white;
 word-spacing:-10px;
 border:0;
 font-weight:400;
}


h1 span{
 text-transform:uppercase;
 font-size:0.8em;
 font-weight:900;
 border:0;
 padding-left:10px;
}

*/

.col-centered{
    float: none;
    margin: 0 auto;
    padding-top:10px;
}

.row {
height: 100%;
margin-left: 0;
margin-right: 0;
}


.maincontent{
	padding-bottom:100px;

}

  .mycarousel{
    width:80%;
    height:270px;
    padding-top:1em;
  }

  .thumbnail>img{
     height:210px;
     width:auto;
  }

  .mythumbnail{
    background:none;
    border:none;
    text-align:center;
    cursor:pointer;
  }

  .thumbnail>h3{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 1.1em;
    color:white;
    letter-spacing: 0.2em;
    font-weight: 300;
    z-index:100;
  }

.thumbnail>h3 span {
  font-weight: 800;
}

.navbar-brand {font-size:0.9em;
}

#catcontainer:{
   width:700px;
   float:left;
}



  .mythumbnail p {display:none}

 /*masonry*/
 .masonry {

  max-width: 640px;
}

.masonry .item {
  width:  60px;
  height: 60px;
  float: left;

}

.item.w2 { width:  120px; }
.item.w3 { width:  180px; }
.item.w4 { width:  240px; }

.item.h2 { height: 100px; }
.item.h3 { height: 130px; }
.item.h4 { height: 180px; }

/*masonry*/



/*sidebar & main content*/

.column {
    height: 100%;
    overflow: auto;
    /*zoom:1;*/
}

.column:before, .column:after {
    content: "";
   /* display: table;*/
}


.column:after {
    clear: both;
}


#main {
background-color: #CDCDCD;
padding-left: 0;
padding-right: 0;
}


#sidebar {
    padding:0px;
	padding-top:15px;

}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#9d9d9d;
    background-color:#222;
	text-shadow:0 0 2px #000000;

}
#sidebar .nav li>a:hover {
   color:#ffffff;
}

#lg-menu{
	display:inline-block;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
   /* background-color:#444444;*/
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-align:center;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}



/*sidebar*/

.register-login {
  padding: 10px 15px;
}

.register-login .btn {
  margin-bottom: 10px;
}

.register-login .btn-default {
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
}

.register-login .btn-default:hover, .register-login .btn-primary:hover {
  background-color: #fff;
  color: #000;
}

.register-login .btn-primary:hover {
  border: 2px solid #fff;
}

.register-login .btn-primary {
  border: none;
  background-color: #222;
  color: #9d9d9d;
}



/*.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1200px;
  list-style: none;
  text-align: center;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 290px;
  max-width: 320px;
  max-height:360px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  color: #fff;

}

.grid figure h2 {
  word-spacing: -0.15em;

}


.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


*/

.landFlip{

    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border:1px solid #ddd;
    background-color:#f1f1f1;

}

.landData{
    /* Hiding the .sponsorData div */
    display:none;
    color:white;
}

.landDescription{
    font-size:13px;
    padding:50px 10px 20px 20px;

}

/*grid tryout*/


.intro-effect-grid .gridmosaic li::after {
  /*  background: none repeat scroll 0 0 rgba(71, 63, 59, 0.5);*/
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;

    width: 100%;
}

.intro-effect-grid .gridmosaic li {
     border: 1px solid #e1e1e1;


}




.intro-effect-grid {
    border: 0;
    /*zoom: 1; /* IE6&7 */


}

.intro-effect-grid .gridmosaic:before,
.intro-effect-grid .gridmosaic:after {
    content: "";
   /* display: table;*/
}

.intro-effect-grid .gridmosaic:after {
    clear: both;
}

.containermason {
    width: 500px;
    height: 240px;
    overflow:hidden;
}

.outlay{

  	margin: 0 10px 10px;
  	padding: 15px;
  	padding-bottom: 10px;
	/*width:500px;*/
	background-color:whitesmoke;
	float:left;
	display: inline-block;
	position:relative;

	border: 1px solid rgb(215,215,215);
	min-width: 300px;
	min-height:100px;
	text-align:left;
  	/*box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.1);*/

}




.exhibit{max-width: 340px;
  height: 260px;
  overflow: hidden;
  border:1px solid rgb(82, 82, 82);
  display: inline-block;}

.exhibit img{height: 100%;
  float: right;}

.outlay h2{

  font-size: 1em;
  font-weight: 500;
  font-size: 25px;
  font-family: 'Raleway', Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  position: absolute;
  text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
  top: 80px;
  max-width: 500px;
  z-index: 2;
}

.outlay h3{

  font-size: 1.2em;
  color: black;
  font-weight: 600;
  border: 0;
  margin: 5px 0 10px 0;
  text-align: left;


}

.outlay p{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    color: #2f3238;
    display: inline-block;
    font-size:50%;
    font-weight: 500;
    margin: 0 0 0.25em;
    padding: 0.4em 1em;
    text-transform: none;
    position: relative;
    width:15em;
    z-index: 2;

}

.square {
    border: 0px;
    float: left;

}
.bigsquare {
    width: 40%;
    height: 100%;

}
.littlesquare {
    width: 20%;
    height: 50%;

}

img.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); }


 .back b{
   color:#EC5A62;
   font-size:120%;
   padding-right:5px;
 }

 .back p{
  opacity:1;
  min-height: 30px;
 }

 .imholder{
    height:350px; opacity: 0.2; z-index: -100; position: relative;display:none;background-size: 100% 100%;
 }

 .unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main-content{

    position: absolute;
    top: 50%;
    padding-bottom:200px;
    width:100%;

}

/* Popup */
.profilePopup, .organizationPopup {
  width: 600px;
  padding-top: 0;
  max-width: 90%;
}

.organizationPopup {
  width: 800px;
}

.editCollectionPopup {
  min-width: 35%;
  padding-top: 0;
}

#profile-image {
  max-width: 80px;
  margin-bottom: 10px;
}

#thumbnail img {
  max-width: 80px;
  margin-bottom: 10px;
}

#coverImage img {
  max-width: 95%;
  height: 80px;
  margin-bottom: 10px;
}

.org-group {
  display: block;
}

.org-group .btn {
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.photo-group {
  display: inline-block;
  vertical-align: center;
}

.modal-footer {
  background-color: #f0f0f0;
}

.btn-file {
  position: relative;
  overflow: hidden;
  background-color: #cccccc;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 6px 0;
}

.btn-file:hover {
  border-color: #e6e6e6;
}

.btn-image {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file], .btn-image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Navbar Profile Image */
nav .img-thumbnail {
  max-height: 32px;
  padding: 0;
  margin-right: 8px;
}

nav .dropdown > a {
  padding: 0;
  margin: -3px 0 0 0;
  text-transform: uppercase;
}

nav #notifications {
  margin-top: -3px;
  margin-bottom: 0;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 32px;
}




figure.effect-with  {
	cursor: pointer;
}





figure.effect-with figcaption {
	text-align: right;
}

figure.effect-with h2,
figure.effect-with p {
	position: absolute;
	right: 30px;
	left: 10px;
	font-weight: 300;
	font-size:15px;
	padding: 10px 0;

}

figure.effect-with h2 {

	font-size: 1em;
	font-weight: 400;
  font-size:200%;
  font-family: 'Raleway', Arial, sans-serif;
  color:white;
  padding-bottom: 100px;
}

figure.effect-with h2 span{

  font-size: 30px;

  font-weight: 800;
}

figure.effect-with p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-with p.p2 {
	bottom: 10px;
	line-height: 1;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	color:white;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    color: #2f3238;
    display: inline-block;
    font-size:90%;
    font-weight: 500;
    margin: 0 0 0.25em;
    padding: 0.4em 1em;
    text-transform: none;
    transform: translate3d(-360px, 0px, 0px);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;

}

figure.effect-with h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);

}

figure.effect-with:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	font-weight:800;
	 color:#EC5A62;

}

figure.effect-with h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-with h2::after,
figure.effect-with p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-with:hover h2::after,
figure.effect-with:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*grid tryout*/

.intro-effect-grid .gridmosaic {
    height: 40%;
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 0;
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}
.intro-effect-grid .gridmosaic li::after {
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: background 0.3s ease 0s;
    width: 100%;
}

.intro-effect-grid .gridmosaic li {
    backface-visibility: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    position: absolute;
    opacity: 1;
   /* transition: background-size 0.3s ease-in;
-moz-transition: background-size 0.3s ease-in;
-ms-transition: background-size 0.3s ease-in;
-o-transition: background-size 0.3s ease-in;
-webkit-transition: background-size 0.3s ease-in;*/

}

.intro-effect-grid .gridmosaic li:hover{
    opacity: 0.8;
    /*background-size: 110%;*/

}

.intro-effect-grid .gridmosaic li:first-child {
    background-image: url("../images/landing/explore2b&w.jpg");
    height: 50%;
    left: 0;
    top: 0;
    width: 25%;
}
.intro-effect-grid .gridmosaic li:nth-child(2) {
    background-image: url("../images/landing/build.jpg");
    height: 50%;
    left: 0;
    top: 50%;
    width: 25%;
    transform:scaleX(1.02)
}
.intro-effect-grid .gridmosaic li:nth-child(3) {
    background-image: url("../images/landing/createb&w.jpg");
    height: 100%;
    left: 25%;
    top: 0;
    width: 25%;
}
.intro-effect-grid .gridmosaic li:nth-child(4) {
    background-image: url("../images/landing/annotate2b&w.jpg");
    height: 50%;
    left: 50%;
    top: 0;
    width: 50%;
}
.intro-effect-grid .gridmosaic li:nth-child(5) {
    background-image: url("../images/landing/aggregateb&w.jpg");
    height: 50%;
    left: 50%;

    top: 50%;

    width: 25%;
     transform:scaleX(1.02);
     z-index:-1;
}


.intro-effect-grid .gridmosaic li:nth-child(6) {
    background-image: url("../images/landing/partb&w.jpg");
    height: 50%;
    left: 75%;
    top: 50%;
    width: 25%;
}



.withsearch-content-masonry #publiccolumns{
	width:100%;
	padding:0;

}


.withsearch-content-masonry #publiccolumns figure{
	margin-bottom:20px;
}

.withsearch-content-masonry #publiccolumns figure:hover .closeButton{
	display:inline-block;

}

.withsearch-content-masonry #publiccolumns figure:hover{

    border:solid;
    border-width: 1px;
    border-color:grey;
}

#publiccolumns {

column-gap: 5px;
width: 96%;
/*
max-width: 1500px;*/
margin: 50px auto;

}

div#publiccolumns figure {
opacity:0;
background: #fefefe;
border: 2px solid #fcfcfc;
box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
margin: 0 2px 10px;

padding: 15px;
padding-bottom: 10px;
/*transition: opacity .4s ease-in-out;*/
column-break-inside: avoid;


}
div#publiccolumns figure img {
width: 100%; height: auto;
border-bottom: 1px solid #ccc;
padding-bottom: 15px;
margin-bottom: 5px;
}

div#publiccolumns figure figcaption {
  top: 40%;
  width: 80%;
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  font-size: 1.2em;
  text-decoration: overline;
  text-decoration: underline overline;
  display: block;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

.galleries{
	height: 400px;display:block;width:700px;overflow: hidden;padding-top:10px;
}


.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.sub-arrow {
  display: none;
}

.collectiontab {
	display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.collectiontab h2 a{
	color: grey;
}

.active h2 a{
	color:black
}

/* Submenus */
.dropdown-menu {
  border-radius: 0;
  margin: 17px 0 0;
  min-width: 200px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #454545!important;
  color: #fff!important;
  display: block;
  width: 100%;
}

.dropdown-menu > li > a {
  color: #454545!important;
  padding: 8px 20px;
  margin-right: 0!important;
  margin-bottom: 0!important;
  display: block;
}

.dropdown-menu > li.divider {
  border-bottom: 1px solid #d7d7d7;
  height: 2px!important;
}

.dropdown-menu > li {
  margin-right: 0!important;
  display: inline-block;
  width: 100%;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  top: 7px;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #333333;
  margin-top: 5px;
  margin-left: -10px;
  z-index: 10000;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #333333;
}
.dropdown-submenu > .dropdown-menu {
  top: -23px;
  width: 350px;
  left: -350px;
  margin-right: -6px;
  overflow: auto;
  max-height: 200px;
}

a {
  outline: 0!important;
}

/* Notification System */
nav .badge {
  position: absolute;
  left: 15px;
  top: 0px;
  background-color: rgb(238, 43, 51);
}

.notifications .popover {
  display: block!important;
  max-height: 100%;
  height: auto;
  font-size: 12px;

}

.notifications .popover-content {
  padding: 0;
}

.notify-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.notify-list li {
  padding: 8px 12px;
  border-bottom: 1px solid #ebebeb;
}

.notify-list .unread {
  background-color: #f6f7f8;
}

.notify-list em {
  color: #f36e6c;
}

.notify-all {
  border-radius: 0 0 5px 5px;
  position: relative;
  font-weight: 700;
  text-align: center;
  background-color: #f7f7f7;
  padding: 6px 14px;
}

/* Notification Page */
.notification-list  .list-group-item {
  margin-bottom: 10px;
  min-height: 60px;
  font-size: 14px;
}

.message small {
  vertical-align: middle;
  color: #777;
}

.notify-list small {
  color: #777;
}

.list-group-item .btn {
  padding-bottom: 10px!important;
}

.notification-list  .list-group-item:first-child,
.notification-list  .list-group-item:last-child
 {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
}

