
      <section class="menubar">
        <div class="container">
          <ul>
            <li class="active"><a href="#about" title="#">About</a></li>
            <li><a href="#terms" title="#">Terms of Use</a></li>
            <li><a href="#privacy" title="#">Privacy Policy</a></li>
            <li><a href="#contact" title="#">Feedback &amp; Contact</a></li>
          </ul>
        </div>
      </section>
      <!-- hero bar-->
      <section class="hero">
        <div class="hue">
          <!-- container-->
          <div class="container">
            <!-- banner-->
            <div class="banner">
              <h1>About HackTheBook Space</h1>
              <p>
                Discover exhibits and collections from museums and archives all around the world.
                Explore cultural treasures in extraordinary detail from hidden gems to masterpieces. 
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- text box-->
      <section class="inner about">
        <div class="container">
          <!-- wrap-->
          <div class="wrap">
            <!-- title-->
            <div class="sectionhead">LOREM IPSUM SLOGAN</div>
            <!-- description-->
            <div class="descriptiontext">
              <!-- left-->
              <div class="left">
                <p>
                  As we got further and further away, it diminished in size. Finally it shrank to the size of a 
                  marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, 
                  so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has 
                  to change a man.
                </p>
                <p>
                  Science has not yet mastered prophecy. We predict too much for the next year and yet far too little 
                  for the next 10. We choose to go to the moon in this decade and do the other things, not because 
                  they are easy, but because they are hard, because that goal will serve to organize and measure the 
                  best of our energies and skills, because that challenge is one that we are willing to accept, one 
                  we are unwilling to postpone, and one which we intend to win.
                </p>
              </div>
              <!-- right-->
              <div class="right">
                <p>
                  As we got further and further away, it diminished in size. Finally it shrank to the size of a 
                  marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, 
                  so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has 
                  to change a man.
                </p>
                <p>
                  Science has not yet mastered prophecy. We predict too much for the next year and yet far too little 
                  for the next 10. We choose to go to the moon in this decade and do the other things, not because 
                  they are easy, but because they are hard, because that goal will serve to organize and measure the 
                  best of our energies and skills, because that challenge is one that we are willing to accept, one 
                  we are unwilling to postpone, and one which we intend to win.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about highlights-->
      <section class="abouthighlight">
        <div class="container">
          <!-- wrap	-->
          <div class="wrap">
            <!-- photo-->
            <div class="gallery">
              <!-- flow-->
              <div class="flow">
                <!-- images--><img src="img/content/img-gallery-1.png" alt="gallery">
              </div>
            </div>
            <!-- info-->
            <div class="info">
              <!-- slogan-->
              <div class="slogan">
                <blockquote>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before</blockquote>
              </div>
              <!-- content provider-->
              <div class="contentprovider">
                <!-- heading-->
                <h2>Content Providers</h2>
                <!-- carousel-->
                <div class="carousel">
                  <div class="item">
                    <ul>
                      <li>Audiovisual Technologies Informatics</li>
                      <li>British Universities Film and Video Council</li>
                      <li>Nederlands Instituut voor Beeld en Geluid</li>
                      <li>Deutsche Welle</li>
                      <li>Istituto Luce Cinecittà</li>
                      <li>Eötvös Loránd University</li>
                      <li>Rádio e Televisão de Portugal</li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul>
                      <li>Audiovisual Technologies Informatics</li>
                      <li>British Universities Film and Video Council</li>
                      <li>Nederlands Instituut voor Beeld en Geluid</li>
                      <li>Deutsche Welle</li>
                      <li>Istituto Luce Cinecittà</li>
                      <li>Eötvös Loránd University</li>
                      <li>Rádio e Televisão de Portugal</li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul>
                      <li>Audiovisual Technologies Informatics</li>
                      <li>British Universities Film and Video Council</li>
                      <li>Nederlands Instituut voor Beeld en Geluid</li>
                      <li>Deutsche Welle</li>
                      <li>Istituto Luce Cinecittà</li>
                      <li>Eötvös Loránd University</li>
                      <li>Rádio e Televisão de Portugal</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about shortcut-->
      <section class="shortcut">
        <div class="container">
          <!-- ul-->
          <ul>
            <li><a href="contact.html" title="Contact Us" class="btn btn-alt">CONTACT US</a></li>
            <li><a href="index.html#search" title="Explore HackTheBook Space" class="btn btn-alt">EXPLORE</a></li>
          </ul>
        </div>
      </section>
    </div>
    