// footer
footer
	.container

		// copyright
		section.copyright
			img(src="img/ui/logo-footer.png")
			p WITH <em>by</em> National Technical University of Athens

		// social media
		section.sosmed
			a(href="#")
				i.fa.fa-facebook
			a(href="#")
				i.fa.fa-twitter
			a(href="#")
				i.fa.fa-vimeo
