//- script
script(src='js/vendor/jquery/dist/jquery.min.js')
script(src='js/vendor/bootstrap/dist/js/bootstrap.min.js')
script(src='js/vendor/masonry/dist/masonry.pkgd.min.js')
script(src='js/vendor/slick.js/slick/slick.min.js')
script(src='js/vendor/jquery.nicescroll/dist/jquery.nicescroll.min.js')
script(src='js/vendor/isotope/isotope.pkgd.min.js')
script(src='js/vendor/jquery-sticky/jquery.sticky.js')
script(src='js/plugin.js')
script(src='js/main.js')