// settings
.searchsetting

	// filter Text
	.filtertext
		input.filterinput( type="text" placeholder="Search" )
		img.filterimg( alt="search" src="img/ui/ic-mag.png" )
		

	// wrap
	.wraps

		// tabs
		ul.nav.nav-tabs( role="tablist" )
			li.active
				a( href="#sources" title="" data-toggle="tab" ) SOURCES
			li
				a( href="#type" title="" data-toggle="tab" ) TYPE
			li
				a( href="#provider" title="" data-toggle="tab" ) PROVIDER
			li
				a( href="#dataprovider" title="" data-toggle="tab") DATA PROVIDER
			li
				a( href="#creator" title="" data-toggle="tab") CREATOR
			li
				a( href="#right" title="" data-toggle="tab") RIGHTS
			li
				a( href="#country" title="" data-toggle="tab") COUNTRY
			li
				a( href="#year" title="" data-toggle="tab") YEAR

		// panes
		.tab-content
			.tab-pane.active( id="sources" )
				
				// sources
				ul.sources.list
					li
						label
							input( type="checkbox" ) 
							span EUROPEANA
					li
						label
							input( type="checkbox" ) 
							span DPLA
					li
						label
							input( type="checkbox" ) 
							span NLA
					li
						label
							input( type="checkbox" ) 
							span YOUTUBE
					li
						label
							input( type="checkbox" ) 
							span DIGITAL NZ
					li
						label
							input( type="checkbox" ) 
							span EUSPACE

			.tab-pane( id="type" )

				// type
				ul.type.list
					li
						a( href="#" title="#" ) The European Library
					li
						a( href="#" title="#" ) EuroPhoto
					li
						a( href="#" title="#" ) AthenaPlus
					li
						a( href="#" title="#" ) Hispana
					li
						a( href="#" title="#" ) Culture Grid
					li
						a( href="#" title="#" ) Linked Heritage
					li
						a( href="#" title="#" ) Digitale Collectie
					li
						a( href="#" title="#" ) EUscreenXL
					li
						a( href="#" title="#" ) Cultura Italia
					li
						a( href="#" title="#" ) Europeana Photography
						

			.tab-pane( id="provider" )
				// type
				ul.type.list
					li
						a( href="#" title="#" ) Newspaper
					li
						a( href="#" title="#" ) Article
					li
						a( href="#" title="#" ) Text
					li
						a( href="#" title="#" ) Image
					li
						a( href="#" title="#" ) Archive
					li
						a( href="#" title="#" ) Research Paper
					li
						a( href="#" title="#" ) Sound
					li
						a( href="#" title="#" ) Video
					li
						a( href="#" title="#" ) Manuscripts
					li
						a( href="#" title="#" ) Data
			.tab-pane( id="dataprovider" )
				// type
				ul.type.list
					li
						a( href="#" title="#" ) Newspaper
					li
						a( href="#" title="#" ) Article
					li
						a( href="#" title="#" ) Text
					li
						a( href="#" title="#" ) Image
					li
						a( href="#" title="#" ) Archive
					li
						a( href="#" title="#" ) Research Paper
					li
						a( href="#" title="#" ) Sound
					li
						a( href="#" title="#" ) Video
					li
						a( href="#" title="#" ) Manuscripts
					li
						a( href="#" title="#" ) Data
			.tab-pane( id="creator" )
				// type
				ul.type.list
					li
						a( href="#" title="#" ) Newspaper
					li
						a( href="#" title="#" ) Article
					li
						a( href="#" title="#" ) Text
					li
						a( href="#" title="#" ) Image
					li
						a( href="#" title="#" ) Archive
					li
						a( href="#" title="#" ) Research Paper
					li
						a( href="#" title="#" ) Sound
					li
						a( href="#" title="#" ) Video
					li
						a( href="#" title="#" ) Manuscripts
					li
						a( href="#" title="#" ) Data
			.tab-pane( id="right" )
				// type
				ul.type.list
					li
						a( href="#" title="#" ) Newspaper
					li
						a( href="#" title="#" ) Article
					li
						a( href="#" title="#" ) Text
					li
						a( href="#" title="#" ) Image
					li
						a( href="#" title="#" ) Archive
					li
						a( href="#" title="#" ) Research Paper
					li
						a( href="#" title="#" ) Sound
					li
						a( href="#" title="#" ) Video
					li
						a( href="#" title="#" ) Manuscripts
					li
						a( href="#" title="#" ) Data
			.tab-pane( id="country" )
				// type
				ul.type.list
					li
						a( href="#" title="#" ) Newspaper
					li
						a( href="#" title="#" ) Article
					li
						a( href="#" title="#" ) Text
					li
						a( href="#" title="#" ) Image
					li
						a( href="#" title="#" ) Archive
					li
						a( href="#" title="#" ) Research Paper
					li
						a( href="#" title="#" ) Sound
					li
						a( href="#" title="#" ) Video
					li
						a( href="#" title="#" ) Manuscripts
					li
						a( href="#" title="#" ) Data
			.tab-pane( id="year" )
				// type
				ul.type.list
					li
						a( href="#" title="#" ) Newspaper
					li
						a( href="#" title="#" ) Article
					li
						a( href="#" title="#" ) Text
					li
						a( href="#" title="#" ) Image
					li
						a( href="#" title="#" ) Archive
					li
						a( href="#" title="#" ) Research Paper
					li
						a( href="#" title="#" ) Sound
					li
						a( href="#" title="#" ) Video
					li
						a( href="#" title="#" ) Manuscripts
					li
						a( href="#" title="#" ) Dat