
<div role="main" class="searchpage">
      <div class="container-fluid">
        <!-- wrapper-->
        <div class="wrapper">
          <!-- main-->
          <div class="search">
            <!-- searchbar-->
            <section class="searchbar">
              <div class="container-fluid" id="withsearchid">
                
                    <!-- close search--><a href="void(0);"  data-bind="click: close" title="Close Search" class="close" data-toggle="tooltip" data-placement="left"><img src="img/ui/ic-close.png"></a>
            
                  <!-- view setting-->
                  <ul class="view">
                       <li class="active" data-bind="event: {click: toggleSourceview}, enable: searching()==false"><a href="#" title="Column View" data-view="column" data-toggle="tooltip" data-placement="left"><img src="img/ui/ic-list.png" alt="list"></a></li>
                       <li data-bind="event: {click: toggleSourceview}, enable: searching()==false"><a href="#" title="Grid View" data-view="grid" data-toggle="tooltip" data-placement="right"><img src="img/ui/ic-grid.png" alt="grid"></a></li>
                  </ul>
               
                 <!-- settings bar-->
                <div class="settings"><a href="#" data-view="column" data-toggle="tooltip" data-placement="bottom" title="Search filter" data-bind="event : {click: function(data, event) {showfacets(event)}}" data-bind="disable:$parent.searching"><img src="img/ui/ic-setting.png" alt="settings"></a></div>
               </div>
            </section>
            <!-- search filter-->
            <section class="searchlabel">
               <div class="container-fluid" data-bind="visible: filterselect()==true || results().length>0">
                <input id="facet_tags" type="text" data-role="tagsinput">
        	  </div>
        	</section>
           
            <!-- results-->
            <div class="searchresults" data-bind="style: { visibility : mixresults().length>0 ? '':'hidden'}">
              <!-- search result grid-->
              <section id="gridlist" class="gridlist" data-bind="css : {active: sourceview()==false}">
                <!-- collect button--><a id="multiplecollect" href="#" class="multiplecollect" onclick="collectInMultiple();">COLLECT MULTIPLE ITEMS</a>
               
                <section class="listing itemlistview">
                  <div class="container">
                    <!-- grid-->
                    <div class="grid">
                      <!-- item-->
                      <div class="sizer"></div>
                      
                      
                    </div>
                     <div class="scroll-top-wrapper"  data-bind="visible: mixresults().length>0 && $('.grid').height()>800, event:{click: goToTop}">
						<span class="scroll-top-inner">
							<i class="fa fa-2x fa-arrow-circle-up"></i>
						</span>
					</div>
                  </div>
                 <div class="more" data-bind="visible: searching, scrollsearch: mixresults(), scrollOptions: { loadFunc: searchNext, offset: 0 }"> <i class="fa fa-spinner fa-pulse"></i></div>
		        
                </section>
              </section>
              <!-- search result-->
               <!-- ko if: sourceview()==true -->
              <section id="columnlist" class="searchlist active">
                <div class="container-fluid">
                        <!-- row-->
				          <div class="row">
				          <!-- ko if: noResults -->
							<div>
							  <p><br/><br/>Your search did not return results. Please try again.</p>
							</div>
							<!-- /ko -->
							<!-- ko if: results().length > 0 -->
				            <!-- ko foreach: results -->
				            <div data-bind="attr: {'id': source+'_result'}, css: $parent.selectedSource()==source? 'column selected' : 'column'">
				              <!-- wrap-->
				              <div class="wrap">
				                <div class="header"><a data-bind="attr: { href:consoleurl}" target="_blank" title="API console">
				                    <div class="source" data-bind="text: source"></div>
				                    <div class="link"><i class="fa fa-external-link"></i></div>
				                    <div class="loading" data-bind="visible: loading()==true"><i class="fa fa-circle-o-notch fa-spin"></i></div>
				                    </a></div>
				                <div class="result" data-bind="foreach: items, event: { scroll: $parents[0].scrolled }">
				                
				                  <!-- item-->
				                  <div class="item"><a href="#" data-bind="event: { click: $parents[1].columnRecordSelect}" data-view="inline" class="mediaviewer">
				                      <div class="imgwrap"><img onError="this.src='img/ui/ic-noimage.png'" data-bind="attr: { src:thumb }" class="thumb"></div><span class="text" data-bind="text: title"></span></a></div>
				                  <!-- item-->
				                  
				                 </div>
				              </div>
				            </div>
				            
				            <!-- /ko -->
				            <!-- /ko -->
				          </div>
                      <!-- scroll pointer--><img id="pointermark" src="img/ui/ic-right.png" data-toggle="tooltip" data-placement="top" title="Scroll to the right to see more results" class="pointer">
                </div>
              </section>
              <!-- /ko -->
            </div>
          </div>
           <!-- ko if:showSearch()==true --> 
           <!-- item view-->
               <item-view params="route: route"></item-view>
          
  			<!-- collection give access-->
              <section class="action collect">
              <collection params="route: route"></collection>
              </section>
             
             
          <facets id="search-facets" params="name:'search-filters',params: {}"></facets>
 		<!-- /ko -->
        </div>
      </div>
      </div>
    