<div class="md-modal md-effect-1" id="modal-1">
			<div class="md-content">
			    <button type="button" class="close" aria-label="Close" data-bind="event: {click: close}"><span aria-hidden="true">&times;</span></button>
				<h3 class="truncate">
				 <span class="withcollect" data-bind="event: {click: collect}">
				 
				 
 						 <img src="images/logos/wsmall.png" width="20">
				
				<span class="collectit"> collect it</span>
				
				
				</span>
				 
				
				
				<!-- ko text: record().title() --><!-- /ko --> 
				
				
				</h3>
				<hr class="faded">
				
			  <div class="container-fluid">
				   <div class="row" style="overflow-y:auto;max-height:400px">
					  <div class="col-md-6">
					    <div class="spec">
					      <div class="itemlabel">Description
					      </div>
					      <div class="value" data-bind="text:record().description()"> 
					      </div>
					      </div>
					      
					     
					    
					     <div class="spec" data-bind="if: record().creator()">
					      <div class="itemlabel">Creator
					      </div>
					      <div class="value" data-bind="text:record().creator()">
					      
					      </div>
					    </div>
					  
					   <div class="spec" data-bind="if: record().provider()">
					      <div class="itemlabel">Provider
					      </div>
					      <div class="value" data-bind="text:record().provider()">
					      
					      </div>
					    </div>
					    
					    <div class="spec" data-bind="if: record().rights()">
					      <div class="itemlabel">Rights
					      </div>
					      <div class="value" data-bind="text:record().rights()">
					      
					      </div>
					    </div>
					    
					    <div class="spec" data-bind="if: (record().collectedCount()>0)">
					      <div class="itemlabel">In 
					     
					<!-- ko text: record().collectedCount() --><!-- /ko --> 
					      collections					      
					    </div>
					      	<!-- ko foreach: record().collections() -->
					      <div class="value">
							 <h6 data-bind="text: title"></h6> 
						  </div>
							 <!-- /ko -->	
					  
					    </div>
					    

					  
					   <div class="spec">
					      <div class="itemlabel">Record source
					      </div>
					      <div class="value">
					      
					      <div><img  class="logo" data-bind="attr:{src:record().sourceImage()}"/>
					      </div>
					      </div>
					    </div>
					  
					   <div class="spec">
					     
					      <div class="value">
					      <a data-bind="attr: { href:record().view_url()}" target="_blank">More details </a>
					      
					      </div>
					    </div>
					  
					  
					  
					  
					  </div>
					  <div class="col-md-6"><img id="fullresim" data-bind="event: { error: changeSource },attr: { src:record().fullres(), alt: record().title() }" class="itemim"/></div>
					</div>
				 </div>
			
				
				
			</div>
</div>
		
		
		
<div class="md-overlay" data-bind="event: {click: close}"></div><!-- the overlay element -->

<collection params="route: route"></collection>	
		