
					<div data-bind="template: { name: templateName, beforeRender: animatePageChange }"></div>

					<footer>
						<div class="container">

							<!-- copyright -->
							<section class="copyright">
								<img src="img/ui/logo-footer.png">
								<p>WITH <em>by</em> National Technical University of Athens</p>
							</section>

							<!-- social media -->
							<section class="sosmed">
								<a href="//www.facebook.com/WITHinCulture/" target="_new">
									<i  class="fa fa-facebook"></i>
								</a>
								<a href="#">
									<i  class="fa fa-twitter"></i>
								</a>
								<a href="mailto:withdev@image.ntua.gr">
									<i  class="fa fa-envelope"></i>
								</a>
							</section>
						</div>
					</footer>
