<div class="modal-dialog profilePopup">
	<div class="modal-content text-left">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4>Manage Members</h4>
		</div>
		<div class="modal-body row">
<!-- BODY -->
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-bind="click: closeWindow">Close</button>
			<!-- <button type="button" class="btn btn-primary" data-bind="click: saveUsers">Save changes</button> -->
		</div>
	</div>
</div>