<div class="action-header">
                  <div class="title">Collect an item</div>
                </div>
                <div class="action-body">
                  <select  class="form-control input-sm xxs" id="select_col" data-bind="selectize: collectionlist, selectedOptions: selected_items2, options: {maxItems: null,create: true,closeAfterSelect: true,persist:false}" multiple></select>
			      <br/>
                    <div class="group">
			        <div class="title">Media info</div>
                    <p><!-- ko text:record().title --><!-- /ko --></p>
                    <textarea data-bind="textInput: record().description" disabled></textarea>
                  </div>
                </div>
<div class="button-group"><a class="btn-green-o cancel" data-bind="click: reset">Cancel</a><a class="btn-green" data-bind="click: addToCollections">Add to collection</a></div>
<div class="loading" data-bind="visible: saving"></div>