                <div class="action-header">
                  <div class="title">New Collection</div>
                  <div class="toggle">
                    <input type="checkbox" id="toggle1" data-bind="checked:isPublic">
                    <label for="toggle1"></label><span class="private">private</span><span class="public">public</span>
                  </div>
                </div>
                  
                <div class="action-body">
                <div class="form-group" data-bind="validationElement: collname">
                  <input type="text" placeholder="Name your collection"  data-bind="{value: collname}" id="collname"></div><a href="#"  class="add" data-bind="event: { click: function(data,event) { addDescription(event); } }"><span class="plus"></span><span class="text">Add description</span></a>
                   <textarea placeholder="Describe your collection" data-bind="visible:false, {value: description}"></textarea>
                </div>
                <div class="button-group"><a href="#" class="btn-green-o cancel" data-bind="click: reset">Cancel</a><a class="btn-green" data-bind="click: save">Create collection</a></div>
            	<div class="loading" data-bind="visible: saving"></div>
			