<div class="viewer">
	<section class="entrance register-email">
		<div class="section-header">
			<div class="text">Register with your email address</div>
		</div>
		<div class="section-body">
			<div class="input-group">
				<div class="left" data-bind="validationElement: email">
					<input type="text" class="has-error has-feedback" placeholder="Email" id="useremail" data-bind="value: email, valueUpdate: 'afterkeypress', hasFocus: true;">
				</div>
				<div class="right" data-bind="validationElement: username">
					<input type="text" placeholder="Username" id="username" data-bind="value: username, valueUpdate: 'afterkeypress'">
				</div>
			</div>
			<div class="input-group" data-bind="visible: usingEmail">
				<div class="left" data-bind="validationElement: password">
					<input type="password" placeholder="Password" id="userpassword" data-bind="value: password, valueUpdate: 'afterkeypress'">
				</div>
				<div class="right" data-bind="validationElement: password2">
					<input type="password" placeholder="Repeat Password" id="userpassword2" data-bind="value: password2, valueUpdate: 'afterkeypress'">
				</div>
			</div>
			<div class="input-group">
				<div class="left" data-bind="validationElement: firstName">
					<input type="text" placeholder="First name" id="firstName" data-bind="value: firstName, valueUpdate: 'afterkeypress'">
				</div>
				<div class="right" data-bind="validationElement: lastName">
					<input type="text" placeholder="Last name" id="lastName" data-bind="value: lastName, valueUpdate: 'afterkeypress'">
				</div>
			</div>
			<div class="input-group">
				<select id="gender" data-bind="options: genders, optionsCaption: 'Select gender', value: gender"></select>
			</div>
			<div class="input-group ack">
				<input type="checkbox" id="ack" data-bind="checked: acceptTerms">
				<label for="ack">I acknowledge the i have read and accept <a href="#"> Terms of Use Agreement</label>
			</div>
			<div class="button-group"><a href="javascript:void(0)" class="btn-green" type="submit" data-bind="enable: acceptTerms, click: submitRegistration">Register</a></div>
		</div>
	</section>
</div>
