				<h1>login</h1>

				<p class="lead" data-bind="ifnot: hasAccount">Use Facebook, Google or your email to login. <br />
				Don't have a WITH account yet? No worries, <a href="#register">joining</a> is easy.</p>

				<p class="lead" data-bind="if: hasAccount">You are already a member of <span>WITH</span>. <br />
				Please use one of the options below to login.</p>

				<br />

				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-lg-offset-1">
							<button class="facebook huge" type="button" data-bind="click: function() { fbLogin(); window.opener.location.reload(); }">
								<i class="facebook_huge"></i>
								<p>Facebook</p>
							</button>

							<button class="google huge" type="button" data-bind="click: function() { googleLogin(); window.opener.location.reload();}">
								<i class="google_huge"></i>
								<p>Google</p>
							</button>
						</div>
						<div class="col-lg-4 text-left">
							<form>
								<div class="form-group" data-bind="validationElement: emailUser">
									<label for="useremail">Email or Username</label>
									<input type="email" class="form-control" id="useremail" placeholder="Enter email" data-bind="value: emailUser;" autofocus>
								</div>
								<div class="form-group" data-bind="validationElement: emailPass">
									<label for="userpassword">Password</label>
									<input type="password" class="form-control" id="userpassword" placeholder="Password" data-bind="value: emailPass;">
								</div>
								<div class="row vcenter">
									<div class="col-sm-6">
										<a href="#" data-bind="click: function() { forgotPassword(); }">Forgot password?</a>
									</div>
									<div class="checkbox col-sm-6 text-right">
										<label><input type="checkbox" data-bind="checked: stayLogged">Keep me signed in</label>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="row" style="margin-top: 20px;">
						<div class="col-lg-9 col-lg-offset-1">
							<div class="well well-sm">
								<div class="row">
									<div class="col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-4 col-xs-12">
										<a class="btn btn-primary btn-block" data-bind="click: function() { emailLogin(); window.opener.location.reload();}">Login</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
