<!-- Login-->
<section class="login entrance">
	<div class="section-header">
		<div class="text">Sign in</div>
	</div>
	<p data-bind="if: hasAccount">You are already a member of <em>WITH</em>. Please use one of the options below to login.</p>
	<div class="section-body"> <a href="javascript:void(0)" data-bind="click: function() { fbLogin(); }" class="fb"><i class="fa fa-facebook-official"></i><span class="text">Sign in with Facebook account</span></a><a href="javascript:void(0)" data-bind="click: function() { googleLogin(); }" class="gplus"><i class="fa fa-google-plus"></i><span class="text">Sign in with Google account</span></a>
		<div class="or"><span class="text">or</span></div>
		<form>
			<div class="input-group">
				<div class="form-group" data-bind="validationElement: emailUser">
					<input type="text" placeholder="Email or username" data-bind="value: emailUser">
				</div>
				<div class="form-group" data-bind="validationElement: emailPass">
					<input type="password" placeholder="Password" data-bind="value: emailPass">
				</div>
				<input type="checkbox" id="login" data-bind="checked: stayLogged">
				<label for="login" data-bind="checked: stayLogged">Keep me signed in</label>
			</div>
			<div class="button-group"><a href="javascript:void(0)" class="btn-green-o" data-bind="click: function() { forgotPassword(); }">Forgot password?</a><a href="javascript:void(0)" class="btn-green" data-bind="click: function() { emailLogin(); }">Sign in</a></div>
		</form>
	</div>
</section>
