			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-12">
						<h2>Reset Password</h2>
					</div>
				</div>

				<div class="row" id="new-password">
					<p class="lead">Your password has been reset. You can now set a new password.</a>.</p>

					<form>
						<div class="col-md-5 col-md-offset-1 col-sm-6">
							<div class="form-group" data-bind="validationElement: password">
								<input type="password" class="form-control" id="userpassword" data-bind="value: password, valueUpdate: 'afterkeypress', hasfocus: true" placeholder="Password">
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="form-group" data-bind="validationElement: password2">
								<input type="password" class="form-control" id="userpassword2" data-bind="value: password2, valueUpdate: 'afterkeypress'" placeholder="Password (confirm)">
							</div>
						</div>
					</form>
				</div>

				<div class="row text-right">
					<div class="col-md-12">
						<div class="well well-sm">
							<button class="btn btn-primary" data-bind="click: newPassword">Change Password</button>
						</div>
					</div>
				</div>
			</div>
