				<h1>join <span>WITH</span></h1>

				<p class="lead">Getting in is easy. Use one of your social networks or start fresh with an email address. <br />
				Already have a WITH account? <a href="#login">Sign in</a>.</p>

				<br />

				<button class="facebook huge" type="button" data-bind="click: function() { fbRegistration(); }">
					<i class="facebook_huge"></i>
					<p>Facebook</p>
				</button>

				<button class="google huge" type="button" data-bind="click: function() { googleRegistration(); }">
					<i class="google_huge"></i>
					<p>Google</p>
				</button>

				<button class="email huge" type="button" data-bind="click: function() { emailRegistration(); }">
					<i class="email_huge"></i>
					<p>Email</p>
				</button>

