<div class="viewer">
	<!-- Register using social-->
	<section class="entrance register-social">
		<div class="section-header">
			<div class="text">Register</div>
		</div>
		<div class="section-body"> <a href="javascript:void(0)" data-bind="click: function() { fbRegistration(); }" class="fb"><i class="fa fa-facebook-official"></i><span class="text">Register with Facebook account</span></a><a href="javascript:void(0)" data-bind="click: function() { googleRegistration(); }" class="gplus"><i class="fa fa-google-plus"></i><span class="text">Register with Google account</span></a>
			<div class="or"><span class="text">or</span></div>
			<div class="button-group"><a href="javascript:void(0)" data-bind="click: function() { emailRegistration(); }" class="btn-green">Register with your email address</a></div>
		</div>
	</section>
</div>
