//- header.home.jade
header
	
	//- includes
	include mainnav.jade

	// hero
	section.hero

		// the wrap
		.wrap
			.hue

				//- container
				.container

					// banner
					.banner
						h1
							| BUILD YOUR OWN STORIES
						p
							| Discover exhibits and collections from museums and archives all around the world.
							| Explore cultural treasures in extraordinary detail from hidden gems to masterpieces. 
						a.btn.btn-blue( href="search.html" title="EXPLORE EUSPACE" )
							| EXPLORE