//- listing.jade
section.listing
	.container

		// grid
		.grid

			// item
			.sizer

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-1.png" alt="Lorem ipsum" )

						// info
						.info
							h1.title
								| The earth was small light blue and so touchingly alone ur home that must be defended like a relic
							span.owner
								| Museum of Modern Art
						
						// rights
						span.rights
							| DPLA

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-2.png" alt="Lorem ipsum" )

						// info
						.info
							h1.title
								| The earth was small light blue and so touchingly alone.
							span.owner
								| Museum of National History
						
						// rights
						span.rights
							| NLA

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-3.png" alt="Lorem ipsum" )

						// info
						.info
							h1.title
								| The earth was small light blue and so touchingly alone ur
							span.owner
								| Museum of Modern Art
						
						// rights
						span.rights
							| DIGITAL NZ

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-4.png" alt="Lorem ipsum" )

						// info
						.info
							h1.title
								| The earth was small light blue 
							span.owner
								| Museum of Modern Art
						
						// rights
						span.rights
							| EUROPEANA

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-1.png" alt="Lorem ipsum" )
							label.collection COLLECTION

						// info
						.info
							h1.title
								| The earth was small light blue and so touchingly alone.
							span.owner
								| Museum of National History
						
						// rights
						span.rights
							| EUSPACE

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-2.png" alt="Lorem ipsum" )
							label.exhibition EXHIBITION

						// info
						.info
							h1.title
								| The earth was small light blue and so touchingly alone.
							span.owner
								| Museum of National History
						
						// rights
						span.rights
							| EUSPACE

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-3.png" alt="Lorem ipsum" )

						// info
						.info
							h1.title
								| The earth was small light blue and so touchingly alone ur home that must be defended like a relic
							span.owner
								| Museum of Modern Art
						
						// rights
						span.rights
							| DPLA

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.media
				.wrap

					// anchor
					a( href="media.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-media-4.png" alt="Lorem ipsum" )

						// info
						.info
							h1.title
								| The earth was small light blue and so touchingly alone ur home that must be defended like a relic
							span.owner
								| Museum of National History
						
						// rights
						span.rights
							| NLA

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			