//- menubar
section.menubar
	.container
			
		ul
			li( class=page === "about" ? "active" : "" )
				a( href="about.html" title="#" )
					| About
			li( class=page === "terms" ? "active" : "" )
				a( href="terms.html" title="#" )
					| Terms of Use
			li( class=page === "privacy" ? "active" : "" )
				a( href="privacy.html" title="#" )
					| Privacy Policy
			li( class=page === "contact" ? "active" : "" )
				a( href="contact.html" title="#" )
					| Feedback &amp; Contact