<div id="galleryroom" class="container-fluid">
		<div class="gallerycontainer" id="gallery">	
			
			<h1>3D Gallery Room </h1>

			<div id="gr-gallery" class="gr-gallery">
				<div class="gr-main">
					<figure>
						<div>
							<img src="images/gallery/11.jpg" alt="img01" />
						</div>
						<figcaption>
							<h2><span>Penn. Station, Madison Square Garden and Empire State Building</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/12.jpg" alt="img02" />
						</div>
						<figcaption>
							<h2><span>American Museum of Natural History #1</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/13.jpg" alt="img03" />
						</div>
						<figcaption>
							<h2><span>NYC Marathon in Harlem #4</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/14.jpg" alt="img04" />
						</div>
						<figcaption>
							<h2><span>Cathedral Church of Saint John the Divine #3</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/15.jpg" alt="img01" />
						</div>
						<figcaption>
							<h2><span>SoHo</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/16.jpg" alt="img02" />
						</div>
						<figcaption>
							<h2><span>Manhattan Downtown/Wall St. Heliport</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/17.jpg" alt="img03" />
						</div>
						<figcaption>
							<h2><span>Musée National du Moyen Âge</span></h2>
							<div><p>Paris, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/18.jpg" alt="img08" />
						</div>
						<figcaption>
							<h2><span>Métro Jussieu</span></h2>
							<div><p>Paris, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/19.jpg" alt="img09" />
						</div>
						<figcaption>
							<h2><span>Rose Main Reading Room, New York Public Library</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
					<figure>
						<div>
							<img src="images/gallery/20.jpg" alt="img10" />
						</div>
						<figcaption>
							<h2><span>Midtown Manhattan</span></h2>
							<div><p>New York City, 2009, by <a href="http://www.flickr.com/photos/thomasclaveirole">Thomas Claveirole</a></p></div>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
</div>