
      <div class="container-fluid">
        <!-- wrapper-->
        <div class="wrapper">
          <!-- sidebar-->
          <!-- ko if:isLogged()==true  -->
           <side-bar params="route: route"></side-bar>
           <!-- /ko -->
          <!-- main-->
          <main data-bind="css:{ 'full-page' :isLogged()==false }">
            <!-- collection section-->
            <section class="collection">
              <section class="header"><span class="title"><!-- ko text:title() --><!-- /ko --></span><span class="item-count" data-bind="visible: entryCount() > -1 "><!-- ko text:entryCount() --><!-- /ko -->  Items</span>
                <p class="description" data-bind="text:desc.display"></p>
		        <span><a data-bind="visible: desc.showButton, text: desc.showAll() ? '  show less' : '...show more', click: desc.toggleShowAll" href="#"></a></span>
		      </section>
              <!-- collection main-->
              <section class="collection-list">
                <!-- collection main header-->
                <div class="list-head">
                  <!-- back-->
                  <a href="void(0);"  onclick="window.history.go(-1); return false;" title="back" class="back">Return to previous page</a>
                  <!-- control-->
                  <div class="list-control">
                    <!-- upload--><a class="upload" data-bind="visible: isLogged() && (access() == 'WRITE' || access() == 'OWN')"><span class="plus"></span><span class="text">Upload Image</span></a><a data-bind="visible: isLogged() && (access() == 'WRITE' || access() == 'OWN')" data-toggle="tooltip" data-placement="top" title="Edit Collection" class="fa fa-pencil editaction"></a><a data-toggle="tooltip" data-placement="top" title="API Calls" class="fa fa-rss detail-control"></a><a data-bind="visible: isLogged() && (access() == 'WRITE' || access() == 'OWN')"  data-toggle="tooltip" data-placement="top" title="Delete Collection" class="fa fa-trash"></a>
                  </div>
                </div>
                <!-- listing-->
                <ul class="list-body grids" data-bind="attr: {id: id}">
                <li class="sizer"></li>
                 
                </ul>
                
                <!-- load more -->
					<a href="#" class="loadmore" data-bind="visible: citems().length>0 ,event: {click: loadNext}">
						Load more
						<div class="left"></div>
						<div class="right"></div>
						<div class="top"></div>
						<div class="bot"></div>
					</a>
					<div class="more" data-bind="visible: loading"> <i class="fa fa-spinner fa-pulse"></i></div>
                
                
              </section>
              <!-- collection api-->
              <section class="action api">
                <div class="action-header">
                  <div class="title">API Calls</div>
                </div>
                <div class="action-body">
                  <div class="input-style"><span class="get">GET</span>
                    <input type="text" data-bind="value: getAPIUrlCollection()">
                  </div>
                  <div class="input-style"><span class="post">POST</span>
                    <input type="text" data-bind="value: getAPIUrlRecords()">
                  </div>
                </div>
                <div class="button-group"><a class="btn-green cancel">close</a></div>
              </section>
              <!-- collection edit-->
              <section class="action edit">
                <div class="action-header">
                  <div class="title">Edit Collection</div>
                  <div class="toggle">
                    <input type="checkbox" id="toggle1">
                    <label for="toggle1"></label><span class="private">private</span><span class="public">public</span>
                  </div>
                </div>
                <div class="action-body">
                  <input type="text" placeholder="Name your collection">
                  <textarea placeholder="Describe your collection"></textarea>
                </div>
                <div class="button-group"><a class="btn-green-o cancel">Cancel</a><a href="#" class="btn-green">Save collection</a></div>
              </section>
              <!-- collection new-->
              <section class="action upload">
                <!-- ko component: {
				    name: "image-upload",
				    params: { collectionId: id() }
				} -->
				<!-- /ko -->
              </section>
              <!-- collection give access-->
              <section class="action collect">
                <div class="action-header">
                  <div class="title">Collect an item</div>
                </div>
                <div class="action-body">
                  <select class="form-control">
                    <option>Select a collection</option>
                    <option>Select a collection</option>
                    <option>Select a collection</option>
                  </select>
                  <div class="group">
                    <div class="title">Media info</div>
                    <p>Lorem ipsum dolor sit amet conceptuas</p>
                    <textarea disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</textarea>
                  </div>
                </div>
                <div class="button-group"><a class="btn-green-o cancel">Cancel</a><a href="#" class="btn-green">Add to collection</a></div>
              </section>
              <!-- item view-->
              <section class="itemview">
                <!-- header-->
                <div class="header">
                  <div class="container-fluid">
                    <!-- head-->
                    <h3>Media Viewer</h3>
                    <!-- actions-->
                    <div class="actions"><a href="#" data-toggle="tooltip" data-placement="top" title="Add to favorite" class="fa fa-heart favorite"></a><a href="#" data-toggle="tooltip" data-placement="top" title="Collect it" class="fa fa-download collect"></a><a href="#" data-toggle="tooltip" data-placement="bottom" title="Visit item site" class="medialink"><i class="fa fa-external-link"></i></a><a href="#" data-toggle="tooltip" data-placement="bottom" title="Close media viewer" class="closemedia"><img src="img/ui/ic-close.png"></a></div>
                  </div>
                </div>
                <!-- media content-->
                <div class="mediacontent">
                  <div class="container-fluid">
                    <!-- wrap-->
                    <div class="wrap">
                      <!-- item-->
                      <div class="media"><img src="img/content/img-item.jpg"></div>
                      <!-- metadata-->
                      <div class="metadata">
                        <div class="infowrap">
                          <!-- title-->
                          <h1>Avenue de l'Observatoire , 1932-34</h1>
                          <div class="owner"><a href="#" title="#">National Gallery Athens</a></div>
                          <!-- metadata-->
                          <ul role="tablist" class="nav nav-tabs">
                            <li class="active"><a href="#information" title="" data-toggle="tab">Info</a></li>
                            <li><a href="#related" title="" data-toggle="tab">Related</a></li>
                            <li><a href="#comment" title="" data-toggle="tab">Comments</a></li>
                            <li><a href="#share" title="" data-toggle="tab">Share</a></li>
                          </ul>
                          <!-- panes-->
                          <div class="tab-content">
                            <div id="information" class="tab-pane active">
                              <!-- description-->
                              <ul class="meta">
                                <li>
                                  <div class="title">
                                    <div class="titlewrap">Description</div>
                                  </div>
                                  <div class="field">
                                    George Brassaï (pseudonym of Gyula Halász) (9 September 1899 — 8 July 1984) was a Hungarian photographer, 
                                    sculptor, and filmmaker who rose to international fame in France in the 20th century. He was one of the numerous 
                                    Hungarian artists who flourished in Paris beginning between the World Wars. In the early 21st century, the discovery 
                                    of more than 200 letters and hundreds of drawings and other items from the period 1940–1984 has provided scholars with 
                                    material for understanding his later life and career.
                                  </div>
                                </li>
                                <li>
                                  <div class="title">
                                    <div class="titlewrap">Provider</div>
                                  </div>
                                  <div class="field">National Gallery - Alexandros Soutzos Museum, Athens.</div>
                                </li>
                                <li>
                                  <div class="title">
                                    <div class="titlewrap">Rights</div>
                                  </div>
                                  <div class="field">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                </li>
                                <li>
                                  <div class="title">
                                    <div class="titlewrap">Record Source</div>
                                  </div>
                                  <div class="field"><a href="#" title="#">EUROPEANA</a></div>
                                </li>
                              </ul>
                            </div>
                            <div id="related" class="tab-pane">
                              <!-- related media-->
                              <div class="title">
                                <div class="titlewrap">Other media item by National Gallery Athens</div><a href="#" title="Follow National Gallery Athens" class="follow">FOLLOW</a>
                              </div>
                              <ul class="related">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                              </ul>
                              <!-- related media-->
                              <div class="title">
                                <div class="titlewrap">Similar media item</div>
                              </div>
                              <ul class="related">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"><img src="img/content/content-4.png" alt="media"></a></li>
                              </ul>
                            </div>
                            <div id="comment" class="tab-pane">
                              <!-- comment -->
                              <div class="comments">
                                <div class="form">
                                  <textarea placeholder="Fill in your comment" class="commentbox form-control"></textarea>
                                  <button class="btn btn-green">Submit</button>
                                </div>
                                <!-- commentlist-->
                                <ul class="commentlist">
                                  <li><a href="#" title="#"><span class="profilepicture"><img src="img/content/img-profile.jpg"></span></a>
                                    <div class="entry"><span class="name">Mike Jones</span>
                                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</div>
                                      <div class="meta">1 day ago</div>
                                    </div>
                                  </li>
                                  <li><a href="account.html" title="#"><span class="profilepicture"><img src="img/content/img-profile.jpg"></span></a>
                                    <div class="entry"><span class="name">Mike Jones</span>
                                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</div>
                                      <div class="meta">1 day ago</div>
                                    </div>
                                  </li>
                                  <li><a href="account.html" title="#"><span class="profilepicture"><img src="img/content/img-profile.jpg"></span></a>
                                    <div class="entry"><span class="name">Mike Jones</span>
                                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</div>
                                      <div class="meta">1 day ago</div>
                                    </div>
                                  </li>
                                  <li><a href="account.html" title="#"><span class="profilepicture"><img src="img/content/img-profile.jpg"></span></a>
                                    <div class="entry"><span class="name">Mike Jones</span>
                                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	</div>
                                      <div class="meta">1 day ago</div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div id="share" class="tab-pane">
                              <!-- share-->
                              <div class="sharetext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                              <ul class="social">
                                <li><a href="#" title="#"><img src="img/ui/ic-facebook.png" alt="facebook"></a></li>
                                <li><a href="#" title="#"><img src="img/ui/ic-twitter.png" alt="facebook"></a></li>
                                <li><a href="#" title="#"><img src="img/ui/ic-pinterest.png" alt="facebook"></a></li>
                                <li><a href="#" title="#"><img src="img/ui/ic-mail.png" alt="facebook"></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
          </main>
        </div>
      </div>
 