<item-view params="route: route"></item-view>
      <!-- featured-->
      <section class="annotate">
        <!-- bottom-->
        <div class="bottom">
          <!-- container-->
          <div class="container">
            <!-- goal-->
            <div class="goal">
              <!-- icon-->
              <div class="icon">
                <div data-percent="50" class="chart"> 
                  <div class="amount">50<span>%</span></div>
                </div>
              </div>
              <!-- info-->
              <div class="info">
                <h2>Help us reach our goal</h2>
                <p>By the end pf our crowdsourcing campaign, our objective is to have 3000 audio items annotated by users. 
                	The annotations used in the campaign</p>
                <!-- action button--><a href="#" data-bind="click: startAnnotate" class="annotatebtn">Annotate now</a>
              </div>
            </div>
            <!-- badge-->
            <div class="badges">
              <!-- icon-->
              <div class="icon"><img src="img/ic-badges.png"></div>
              <!-- info-->
              <div class="info">
                <h2>Get your badge</h2>
                <p>30 annotations grant you a bronze badge, 60 a silver, and with 100 annotations you win a golden badge. Special gifts will be
                	provided to golden winners!</p>
                <!-- action button--><a href="#" data-bind="click: startAnnotate" class="annotatebtn">Annotate now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- filter-->
      <section class="filter">
        <div class="container">
          <div class="wrap">
            <!-- menu-->
            <ul class="nav">
              <li class="active" data-filter="*" data-bind="click: filter"><a href="javascript:void(0)" title="ALL">All</a></li>
              <li data-filter=".exhibition" data-bind="click: filter"><a href="javascript:void(0)" title="EXHIBITION">Exhibition</a></li>
              <li data-filter=".collection" data-bind="click: filter"><a href="javascript:void(0)" title="COLLECTION">Collection</a></li>
            </ul>
            <!-- menu-->
            <ul class="counter">
              <li class="collection"><!-- ko text:totalCollections --> <!-- /ko --> Collection </li>
              <li class="exhibition"><!-- ko text:totalExhibitions --> <!-- /ko --> Exhibition </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- listing-->
      <section class="listing">
        <div class="container">
          <!-- grid-->
          <div class="grid" id="homemasonry">
              <div class="sizer"></div>
          </div>
          
          <div id="more" data-bind="visible: loading, scroll: homecollections(), scrollOptions: { loadFunc: loadNext, offset: 0 }"> <i class="fa fa-spinner fa-pulse"></i></div>
          </div>
        
      </section>
 	  
 




			
					
		 						
		 					
		 
					  
