<search-page params="route: route"></search-page>

<div class="wrap">
				<div class="container">

					<!-- logo-->
					<a href="#" class="logo">
						<img src="img/ui/logo.png">
					</a>

					<!-- nav-->
					<nav>
						<ul>
							<li><a href="#" title="Home">HOME</a></li>
							<li><a href="#search" title="Explore" onclick="toggleSearch('focus'); return false;">EXPLORE</a></li>
							<li><a href="#about" title="About">ABOUT</a></li>
							<li data-bind="visible: isLogged()"><a href="#mycollections">MY COLLECTIONS</a></li>
    					    <li data-bind="visible: isLogged()"><a href="#myexhibitions">MY EXHIBITIONS</a></li>
    					    <li data-bind="visible: isLogged()" class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					            <img class="img-circle img-thumbnail" data-bind="attr: { src: profileImage }" style="max-height: 20px;" />
					            <span data-bind="text: username"></span> <span class="caret"></span>
					          </a>
					          <ul class="dropdown-menu" role="menu">
					            <li><a href="#myfavorites">My Favorites</a></li>
					            <li><a href="#" onclick="editProfile(); return false;">Edit Profile</a></li>
					            <li class="divider"></li>
					            <li class="dropdown-submenu">
					              <a tabindex="-1">Organizations</a>
					              <ul class="dropdown-menu">
					              <!-- ko foreach: organizations -->
					                <li><a data-bind="attr: { href: '#organization/' + id }, text: friendlyName"></a></li>
					              <!-- /ko -->
					                <li class="divider"></li>
					                <li><a href="#" onclick="newOrganization(); return false;">New Organization...</a></li>
					              </ul>
					            </li>
					            <li class="dropdown-submenu">
					              <a tabindex="0">Projects</a>
					              <ul class="dropdown-menu">
					              <!-- ko foreach: projects -->
					                <li><a data-bind="attr: { href: '#project/' + id }, text: friendlyName"></a></li>
					              <!-- /ko -->
					                <li class="divider"></li>
					                <li><a href="#" onclick="newProject(); return false;">New Project...</a></li>
					              </ul>
					            </li>
					            <li class="divider"></li>
					            <li><a href="#" onclick="logout(); return false;">Sign out</a></li>
					          </ul>
					        </li>
							
						</ul>
					</nav>

					<!-- sign in -->
					<section class="login-section">
						<a data-bind="visible: !isLogged()" href="#login" class="login">SIGN IN</a>
						<a data-bind="visible: !isLogged()" href="#register" class="register">REGISTER</a>
						<!-- <a href="#" class="menu-trigger">
							<span></span> 
						</a> -->
					</section>
				</div>
			</div>



