<main>
  <section class="dashboard">
	<!-- message-->
	<section class="message"><img src="img/ui/ic-inbox.png" class="hero">
	  <div class="message-body">
		<div class="header">Welcome to Your Dashboard</div>
		<div class="description">This is <b> Your Dashboard </b>, where you can see all the most recent activities on your collections and exhibitions. Do you know that you can start exploring the media by typing letters on your keyboard? try it now!</div><a href="#"><span class="cross"></span><span class="text">Hide welcome message</span></a>
	  </div>
	</section>
	<section class="notification">
	  <!-- header-->
	  <div class="list-head">
		<div class="sort"><a id="sorting" href="#" data-toggle="dropdown"><span class="text">My Notification</span><span class="arrow"></span></a>
		  <!-- dropdown-->
		  <ul aria-labelledby="sorting" class="dropdown-menu">
			<li><a href="#">Title</a></li>
			<li><a href="#">Date</a></li>
		  </ul>
		</div>
	  </div>
	  <ul class="notif-list">
		<li>
		  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><img src="img/ui/ic-plus.png" class="icon">
		  <div class="meta">
			<div class="text">You created <a href="#">a collection: My Collection</a></div>
		  </div>
		  <div class="timing">2 hours ago</div>
		</li>
		<li>
		  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><img src="img/ui/ic-mark.png" class="icon">
		  <div class="meta">
			<div class="text">Diana Stanton is not interested in <a href="#">collection: Street Art</a></div>
		  </div>
		  <div class="timing">2 hours ago</div>
		</li>
		<li>
		  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><img src="img/ui/ic-cross.png" class="icon">
		  <div class="meta">
			<div class="text">You deleted <a href="#">an exhibition: Paris in afternoon</a></div>
		  </div>
		  <div class="timing">2 hours ago</div>
		</li>
		<li>
		  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><img src="img/ui/ic-notice.png" class="icon">
		  <div class="meta">
			<div class="text">Diana Stanton just shared <a href="#">collection:Street Art </a>with you</div>
		  </div>
		  <div class="timing">2 hours ago</div>
		</li>
	  </ul>
	</section>
  </section>
</main>
