<div id="userCollections" class="container-fluid" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<span class="withmain"><h2>My Notifications</h2></span>

			<ul class="list-group notification-list" data-bind="foreach: notifications">
				<li class="list-group-item" data-bind="css: { 'list-group-item-info': pendingResponse }">
					<div class="message pull-left">
						<span data-bind="html: message"></span><br />
						<small data-bind="text: date"></small>
					</div>
					<div class="pull-right">
						<button type="button" class="btn btn-primary" data-bind="click: $parent.accept"><span class="glyphicon glyphicon-ok"></span></button>
						<button type="button" class="btn btn-default" data-bind="click: $parent.decline"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</li>
			</ul>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12">
			<span class="withmain"><h2>My Groups' Notifications</h2></span>

			<ul class="list-group notification-list" data-bind="foreach: groupNotifications">
				<li class="list-group-item" data-bind="css: { 'list-group-item-info': pendingResponse }">
					<div class="message pull-left">
						<span data-bind="html: message"></span><br />
						<small data-bind="text: date"></small>
					</div>
					<div class="pull-right">
						<button type="button" class="btn btn-primary" data-bind="click: $parent.accept"><span class="glyphicon glyphicon-ok"></span></button>
						<button type="button" class="btn btn-default" data-bind="click: $parent.decline"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>