<aside>
	<label class="header">NAVIGATE</label>
	<nav class="app">
		<ul>
			<li data-bind="css: { active: checkRoute('#dashboard') }"><a href="#dashboard"><span class="icon"><i class="fa fa-dot-circle-o"></i></span>Dashboard</a></li>
			<li data-bind="css: { active: checkRoute('#mycollections') || checkRoute('#collectionview') }"><a href="#mycollections"><span class="counter" data-bind="text: collectionCount"></span><span class="icon"><i class="fa fa-clone"></i></span>My Collections</a></li>
			<li data-bind="css: { active: checkRoute('#myexhibitions') || checkRoute('#exhibitionview') || checkRoute('#exhibition-edit') }"><a href="#myexhibitions"><span class="counter" data-bind="text: exhibitionCount"></span><span class="icon"><i class="fa fa-television"></i></span>My Exhibitions</a></li>
			<li data-bind="css: { active: checkRoute('#myfavorites') }"><a href="#myfavorites"><span class="counter" data-bind="text: favoritesCount"></span><span class="icon"><i class="fa fa-heart-o"></i></span>My Favorites</a></li>
			<li data-bind="css: { active: checkRoute('#organizations') || checkRoute('#organization') }"><a href="#organizations"><span class="icon"><i class="fa fa-bookmark-o"></i></span>Organizations</a></li>
			<li data-bind="css: { active: checkRoute('#projects') || checkRoute('#project')}"><a href="#projects"><span class="icon"><i class="fa fa-comment-o"></i></span>Projects</a></li>
		</ul>
	</nav>
	<nav class="site">
		<ul>
			<li><a href="#">Help</a></li>
			<li><a href="#">Frequently Asked Questions</a></li>
			<li><a href="#">About WITH</a></li>
			<li><a href="#">WITH API</a></li>
			<li><a href="#">Feedback</a></li>
		</ul>
	</nav>
</aside>
