//- head.jade
head
	
	// meta
	title #{title}
	meta( charset="utf-8" )
	meta( http-equiv="X-UA-Compatible" content="IE=edge" )
	meta( name="description" content="#{title}" )
	meta( name="viewport" content="width=device-width, initial-scale=1" )
	meta( name="theme-color" content="#009edf" )
	
	// icons
	link( rel="apple-touch-icon" href="apple-touch-icon.png" )
	link( rel="icon" type="image/png" href="favicon.png" )
	meta( name="msapplication-TileImage" content="tile.png" )
	meta( name="msapplication-TileColor" content="#d83434" )

	// stylesheets
	link( rel="stylesheet" href="css/main.css" )
	link( rel="stylesheet" href="js/vendor/bootstrap/css/bootstrap.css" )
	link( rel="stylesheet" href="js/vendor/slick.js/slick/slick.css" )
	link( rel="stylesheet" href="js/vendor/magnific-popup/dist/magnific-popup.css" )

	// script
	script( src="js/vendor/modernizr/modernizr.js" )