//- listing.jade
section.listing
	.container

		// grid
		.grid

			// item
			.sizer

			// item
			.item.exhibition
				.wrap

					// anchor
					a( href="exhibition.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-empty.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| EXHIBITION
							h1.title
								| The earth was small light blue and so touchingly alone ur home that must be defended like a relic
							span.owner
								| Museum of Modern Art

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.collection
				.wrap

					// anchor
					a( href="collection.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-exhibition-2.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| COLLECTION
							h1.title
								| The earth was small light blue and so touchingly alone.
							span.owner
								| Museum of National History

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.exhibition
				.wrap

					// anchor
					a( href="exhibition.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-exhibition-3.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| EXHIBITION
							h1.title
								| The earth was small light blue and so touchingly alone ur
							span.owner
								| Museum of Modern Art

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.exhibition
				.wrap

					// anchor
					a( href="exhibition.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-exhibition-4.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| EXHIBITION
							h1.title
								| The earth was small light blue 
							span.owner
								| Museum of Modern Art

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.collection
				.wrap

					// anchor
					a( href="collection.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-exhibition-1.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| COLLECTION
							h1.title
								| The earth was small light blue and so touchingly alone.
							span.owner
								| Museum of National History

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.collection
				.wrap

					// anchor
					a( href="collection.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-exhibition-5.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| COLLECTION
							h1.title
								| The earth was small light blue and so touchingly alone.
							span.owner
								| Museum of National History

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.exhibition
				.wrap

					// anchor
					a( href="exhibition.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-exhibition-3.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| EXHIBITION
							h1.title
								| The earth was small light blue and so touchingly alone ur home that must be defended like a relic
							span.owner
								| Museum of Modern Art

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			// item
			.item.collection
				.wrap

					// anchor
					a( href="collection.html" title="Lorem ipsum" )

						// thumbnail
						.thumb
							img( src="img/content/thumb-exhibition-2.png" alt="Lorem ipsum" )

						// info
						.info
							span.type
								| COLLECTION
							h1.title
								| The earth was small light blue and so touchingly alone ur home that must be defended like a relic
							span.owner
								| Museum of National History

						// pointer
						.pointer
							span.arrow
								img( src="img/ic-right-arrow.png" alt="Arrow")

			