//- script.jade
script( src="js/vendor/jquery/dist/jquery.min.js" )
script( src="js/vendor/bootstrap/dist/js/bootstrap.min.js" )
script( src="js/vendor/masonry/dist/masonry.pkgd.min.js" )
script( src="js/vendor/slick.js/slick/slick.min.js" )
script( src="js/vendor/magnific-popup/dist/jquery.magnific-popup.min.js" )
script( src="js/vendor/isotope/isotope.pkgd.min.js" )
script( src="js/plugin.js" )
script( src="js/main.js" )