
<div role="main" class="homepage">
			<!-- hero -->
			<section class="hero">
				<div class="container">
					<img class="hero-img" src="img/ui/logo-hero.png">
					<div class="hero-heading">WELCOME TO <b>WITH</b></div>
					<p class="hero-desc">Where culture meets creativity
					</p>
				</div>
			</section>

			<!-- selection -->
			<section class="selection">
				<div class="container">
					<ul>

						<!-- selection item 1 -->
						<li>
							<!-- hover -->
							<div class="select-hover">
								<p>Discover cultural content from around the world</p>
								<a href="#about/discover">
									Learn More
									<div class="left"></div>
									<div class="right"></div>
									<div class="top"></div>
									<div class="bot"></div>
								</a>
							</div>
							<!-- idle -->
							<div class="select-idle">
								<img src="img/ui/ic-discover.png" class="icon">
								<div class="select-heading">Discover</div>
							</div>
						</li>

						<!-- selection item 2 -->
						<li>
							<!-- hover -->
							<div class="select-hover">
								<p>Build using data exposed by the WITH API</p>
								<a href="#about/build">
									Learn More
									<div class="left"></div>
									<div class="right"></div>
									<div class="top"></div>
									<div class="bot"></div>
								</a>
							</div>
							<!-- idle -->
							<div class="select-idle">
								<img src="img/ui/icon-2.png" class="icon">
								<div class="select-heading">Build</div>
							</div>
						</li>

						<!-- selection item 3 -->
						<li>
							<!-- hover -->
							<div class="select-hover">
								<p>Create stories, collections and exhibitions</p>
								<a href="#about/create">
									Learn More
									<div class="left"></div>
									<div class="right"></div>
									<div class="top"></div>
									<div class="bot"></div>
								</a>
							</div>
							<!-- idle -->
							<div class="select-idle">
								<img src="img/ui/icon-3.png" class="icon">
								<div class="select-heading">Create</div>
							</div>
						</li>

						<!-- selection item 4 -->
						<li>
							<!-- hover -->
							<div class="select-hover">
								<p>Link &amp; Enrich with LoD sources</p>
								<a href="#about/annotate">
									Learn More
									<div class="left"></div>
									<div class="right"></div>
									<div class="top"></div>
									<div class="bot"></div>
								</a>
							</div>
							<!-- idle -->
							<div class="select-idle">
								<img src="img/ui/icon-4.png" class="icon">
								<div class="select-heading">Annotate</div>
							</div>
						</li>

						<!-- selection item 5 -->
						<li>
							<!-- hover -->
							<div class="select-hover">
								<p>Upload, map, transform and publish</p>
								<a href="#about/aggregate">
									Learn More
									<div class="left"></div>
									<div class="right"></div>
									<div class="top"></div>
									<div class="bot"></div>
								</a>
							</div>
							<!-- idle -->
							<div class="select-idle">
								<img src="img/ui/icon-5.png" class="icon">
								<div class="select-heading">Aggregate</div>
							</div>
						</li>

						<!-- selection item 6 -->
						<li>
							<!-- hover -->
							<div class="select-hover">
								<p>Tag, follow, discuss, moderate WITH</p>
								<a href="#about/participate">
									Learn More
									<div class="left"></div>
									<div class="right"></div>
									<div class="top"></div>
									<div class="bot"></div>
								</a>
							</div>
							<!-- idle -->
							<div class="select-idle">
								<img src="img/ui/icon-6.png" class="icon">
								<div class="select-heading">Participate</div>
							</div>
						</li>
					</ul>
				</div>
			</section>

			<!-- featured-->
			<section class="featured">
				<div class="container">

					<!-- featured box -->
					<div class="featured-box space">
						<div class="wrap">

							<!-- thumbnail -->
							<a href="../custom/soundspace/index.html" class="featured-hero">
								<img src="img/content/soundspace-featured2.png">
							</a>

							<!-- meta -->
							<div class="featured-meta">
								<p class="category">Featured space</p>
								<h2 class="title"><b>Europeana Sounds crowdsourcing space</b></h2>
								<h4 class="desc">Tag our archive: Spot musical instruments</h4>
								<p class="desc">Have an ear for musical instruments? Use your talent to tag all the instruments you hear in the music archives of Europeana Sounds!</p>

								<!-- view -->
								<a href="../custom/soundspace/index.html" class="view">
									view space <span> ></span>
									<div class="left"></div>
									<div class="right"></div>
									<div class="top"></div>
									<div class="bot"></div>
								</a>
							</div>
						</div>
					</div>




					<!-- featured box -->
					<div class="featured-box exhibition" data-bind="with: featuredExhibition">
						<div class="wrap">

							<!-- anchor -->
							<a data-bind="attr: {href: data.url()}" title="VIEW EXHIBITION">

								<!-- thumbnail -->
								<div class="featured-hero">
									<img src="">
								</div>

								<!-- meta -->
								<div class="featured-meta">


									<p class="category">Featured exhibition</p>
									<h2 class="title"><b><!-- ko text:data.title --><!-- /ko --></b></h2>
									<ul class="img-exhibition">
										<li>
											<img data-bind="attr: { src: data.media[0].Thumbnail.url}" alt="exb 1" title="exb 1">

										</li>
										<li>
											<img data-bind="attr: { src: data.media[1].Thumbnail.url}" alt="exb 1" title="exb 1">
											<p></p>
										</li>
										<li>
											<img data-bind="attr: { src: data.media[2].Thumbnail.url}" alt="exb 1" title="exb 1">
											<p></p>
										</li>
									</ul>
								</div>
							</a>
						</div>
					</div>

					<!-- featured box -->
					<div class="featured-box collection"  data-bind="with: featuredCollection">
						<div class="wrap">

							<!-- anchor -->
							<a data-bind="attr: {href: data.url()}"  title="VIEW COLLECTION">

								<!-- thumbnail -->
								<div class="featured-hero">
									<img data-bind="attr: { src: data.media[0].Thumbnail.url}">
								</div>
								<div class="featured-hero">
									<img data-bind="attr: { src: data.media[1].Thumbnail.url}">
								</div>
								<div class="featured-hero">
									<img data-bind="attr: { src: data.media[2].Thumbnail.url}">
								</div>

								<div class="featured-hero">
									<img data-bind="attr: { src: data.media[1].Thumbnail.url}">
								</div>

								<!-- meta -->
								<div class="featured-meta">
									<p class="category">Featured collection</p>
									<h2 class="title"><b><!-- ko text:data.title --><!-- /ko --></b></h2>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<!-- filter-->
			<section class="filter">
				<div class="container">
					<div class="wrap">

						<!-- menu-->
						<ul class="nav">
							<li data-filter="*" class="active" data-bind="click: filter"><a href="#" title="ALL">All</a></li>
							<li data-filter=".collection" data-bind="click: filter"><a href="#" title="COLLECTIONS">Collections</a></li>
							<li data-filter=".exhibition" data-bind="click: filter"><a href="#" title="EXHIBITION">Exhibitions</a></li>
							<li data-filter=".space" data-bind="click: filter"><a href="#" title="SPACES">Spaces</a></li>
						</ul>

						<!-- menu-->
						<div href="#" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Featured <span></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Recently Updated</a></li>
								<li><a href="#">Most liked</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- listing-->
			<section class="listing">
				<div class="container">

                 <div class="grid" id="homemasonry">

	              <div class="sizer"></div>


	          	</div>



					<!-- load more -->
					<a href="#" class="loadmore" data-bind="visible: homecollections().length>0 ,event: {click: loadNext}">
						Load more
						<div class="left"></div>
						<div class="right"></div>
						<div class="top"></div>
						<div class="bot"></div>
					</a>
					<div class="more" data-bind="visible: loadingex()==true || loadingcoll()==true || loadingspaces()==true "> <i class="fa fa-spinner fa-pulse"></i></div>
                  </div>

			</section>

			<!-- partners -->
			<section class="partners">
				<div class="container">

					<!-- section heading -->
					<h2 class="section-heading">
						Partners using <b>with</b>
					</h2>

					<!-- section description -->
					<p class="section-desc">
					</p>

					<!-- list partners logo -->
					<ul>
						<li>
							<img src="img/ui/partners-1.png">
						</li>
						<li>
							<img src="img/ui/partners-2.png">
						</li>
						<li>
							<img src="img/ui/partners-3.png">
						</li>
						<li>
							<img src="img/ui/partners-4.png">
						</li>
						<li>
							<img src="img/ui/partners-5.png">
						</li>
					</ul>
				</div>
			</section>

			<!-- api -->
			<section class="api">
				<div class="container">



					<!-- register now -->
					<a href="#register" class="register">
						register now
						<div class="left"></div>
						<div class="right"></div>
						<div class="top"></div>
						<div class="bot"></div>
					</a>
				</div>
			</section>

			<!-- ko if: isLogged() -->
			<div class="wrapper">
			<!-- ko component: "profile" --><!-- /ko -->
			</div>
				<!-- /ko -->
			
           </div>
			<footer>
				<div class="container">

					<!-- copyright -->
					<section class="copyright">
						<img src="img/ui/logo-footer.png">
						<p>WITH <em>by</em> National Technical University of Athens</p>
					</section>

					<!-- social media -->
					<section class="sosmed">
						<a href="//www.facebook.com/WITHinCulture/" target="_new">
							<i  class="fa fa-facebook"></i>
						</a>
						<a href="#">
							<i  class="fa fa-twitter"></i>
						</a>
						<a href="mailto:withdev@image.ntua.gr">
							<i  class="fa fa-envelope"></i>
						</a>
					</section>
				</div>
			</footer>









