			<div class="container-fluid" style="padding-bottom:200px">
			     <div class="row">
		 					<span class="withmain"><h2>Exhibitions</h2></span>
									
							   <div class="outlay exhibit">
							   <h2>Street art
							   <div><p>By 
Christchurch City Libraries <span class='withsearch-view'><i class='fa fa-arrow-circle-right' title='see more'></i></span></p>
							   </div></h2>	
									<img src='images/exhibitions/streetart2.jpg' class="img-responsive"/>
									
							   </div>
							   <div class="outlay exhibit">
							   <h2>Portraits
							   <div><p>By 
University of Otago <span class='withsearch-view'><i class='fa fa-arrow-circle-right' title='see more'></i></span></p>
							   </div></h2>	
									<img src='images/exhibitions/portrait.jpg' class="img-responsive"/>
									
							   </div>
							   
							   <div class="outlay exhibit">
							   <h2>Fashion Sketches
							   <div><p>By 
MISSONI <span class='withsearch-view'><i class='fa fa-arrow-circle-right' title='see more'></i></span></p>
							   </div></h2>	
									<img src='images/exhibitions/sketch.jpg' class="img-responsive"/>
									
							   </div>
							   </div>
			
			  			<span class="withmain"><h2>Featured Collections</h2></span>
							
							<div style="overflow-x:scroll;">
							   
							   <div class="row-fluid" style="width:2000px;">
							   <div class="outlay">
							   <h2>Dance
							   <div> <p>The beauty of the human body in movement</p>
							  </div>
							   </h2>
							      <div class="containermason">
								    <div class="square bigsquare"><img src="images/dance.jpg" class="img-responsive desaturate"></div>
								    <div class="square littlesquare"><img src="images/collections/dance/dance2.jpg" class="img-responsive"></div>
								     <div class="square littlesquare"><img src="images/collections/dance/dance4.jpeg" class="img-responsive"></div>
								   
								    <div class="square littlesquare"><img src="images/collections/dance/dance3.jpg" class="img-responsive"></div>
								        <div class="square littlesquare"><img src="images/collections/dance/dance6.jpg" class="img-responsive"></div>
								   
								</div>
								
							   </div>
							   
							    <div class="outlay">
							   <h2>Photography
							   <div><p><i>"To me, photography is an art of observation. It's about finding something interesting in an ordinary place... I've found it has little to do with the things you see and everything to do with the way you see them." </i><br/><br/>Elliott Erwitt </p>
							   </div></h2>
							      <div class="containermason">
								    <div class="square bigsquare"><img src="images/collections/photo/photo1.jpeg" class="img-responsive desaturate"></div>
								    <div class="square littlesquare"><img src="images/collections/photo/photo2.jpg" class="img-responsive"></div>
								     <div class="square littlesquare"><img src="images/collections/photo/photo6.jpg" class="img-responsive"></div>
								   
								    <div class="square littlesquare"><img src="images/collections/photo/photo4.jpg" class="img-responsive"></div>
								        <div class="square littlesquare"><img src="images/collections/photo/photo5.jpg" class="img-responsive"></div>
								   
								</div>
								
							   </div>
							   <div class="outlay">
							   <h2>Egypt<div><p>Ancient Egyptian art</p></div>
							   </h2>
							      <div class="containermason">
								    <div class="square bigsquare"><img src="images/collections/egypt/egypt1.jpg" class="img-responsive desaturate"></div>
								    <div class="square littlesquare"><img src="images/collections/egypt/egypt2.jpg" class="img-responsive"></div>
								     <div class="square littlesquare"><img src="images/collections/egypt/egypt6.jpeg" class="img-responsive"></div>
								   
								    <div class="square littlesquare"><img src="images/collections/egypt/egypt4.jpg" class="img-responsive"></div>
								        <div class="square littlesquare"><img src="images/collections/egypt/egypt5.jpeg" class="img-responsive"></div>
								   
								</div>
								
							   </div>
							    </div>
							
							   
		 						</div>
		 						
		 					
		 </div>
					  