			<div class="container-fluid" style="background:#FFFFFF">
							    <br/><br/><br/>
							<div class="row">
							   <div class="col-md-6">
							        <div class="masonry js-masonry" data-masonry-options='{ "columnWidth": 60 }'>
							  <div class="item"><img src="images/museum.jpg"></div>
							  <div class="item w2 h2"><img src="images/dance.jpg"></div>
							 <div class="item w2 h2"><img src="images/europeana.jpg"></div>
							  <div class="item w3"><img src="images/dancer.jpg"></div>
							  <div class="item"> <img src="images/dpla.jpg"></div>
							  <div class="item"><img src="images/games.jpg"></div>
							  <div class="item w2 h3"><img src="images/dance.jpg"></div>
							  <div class="item"><img src="images/museum.jpg"></div>
							  <div class="item h2"><img src="images/europeana.jpg"></div>
							  <div class="item"><img src="images/game.jpg"></div>
							  <div class="item w2 h2"><img src="images/museum.jpg"></div>
							  <div class="item w2"><img src="images/photography.jpg"></div>
							  <div class="item"><img src="images/dpla.jpg"></div>
							  <div class="item h2"><img src="images/games.jpg"></div>
							  <div class="item"><img src="images/dance.jpg"></div>
							  <div class="item"><img src="images/dpla.jpg"></div>
							  <div class="item h3"><img src="images/museum.jpg"></div>
							  <div class="item h2"><img src="images/europeana.jpg"></div>
							  <div class="item"><img src="images/photography.jpg"></div>
							  <div class="item"><img src="images/game.jpg"></div>
							 
							</div>
							
							<br/><br/><br/><br/><br/><br/><br/><br/>
							      </div>
							      <div class="col-md-6">  
							   <div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 60 }' style="margin-left:50px;">
							 <div class="item"><img src="images/museum.jpg"></div>
							  <div class="item w2 h2"><img src="images/dance.jpg"></div>
							 <div class="item w2 h2"><img src="images/europeana.jpg"></div>
							  <div class="item w3"><img src="images/dancer.jpg"></div>
							  <div class="item"> <img src="images/dpla.jpg"></div>
							  <div class="item"><img src="images/games.jpg"></div>
							  <div class="item w2 h3"><img src="images/dance.jpg"></div>
							  <div class="item"><img src="images/museum.jpg"></div>
							  <div class="item h2"><img src="images/europeana.jpg"></div>
							  <div class="item"><img src="images/game.jpg"></div>
							  <div class="item w2 h2"><img src="images/museum.jpg"></div>
							  <div class="item w2"><img src="images/photography.jpg"></div>
							  <div class="item"><img src="images/dpla.jpg"></div>
							  <div class="item h2"><img src="images/games.jpg"></div>
							  <div class="item"><img src="images/dance.jpg"></div>
							  <div class="item"><img src="images/dpla.jpg"></div>
							  <div class="item h3"><img src="images/museum.jpg"></div>
							  <div class="item h2"><img src="images/europeana.jpg"></div>
							  <div class="item"><img src="images/photography.jpg"></div>
							  <div class="item"><img src="images/game.jpg"></div>
							 
							</div>      
							    <br/><br/><br/><br/><br/><br/><br/><br/>    
						    </div>
							     
							  </div> 
							   
							  <div class="row">
							   <div class="col-md-6">
							   <br/><br/><br/><br/><br/>
							   </div>
							   <div class="col-md-6"><br/><br/><br/><br/><br/>
							   </div>
					      </div>
                       
                   
            			</div>