//- index.jade
- var title = "WITH - Terms of Use"
- var page  = "Terms"

doctype html
html

	// head
	include ./includes/head.inc.jade

	// body
	body

		// header
		header
			.wrap
				.container
					a(href="index.html").logo
						img(src="img/ui/logo.png")

					nav
						ul
							li
								a(href="index.html" title="home") HOME
							li
								a(href="search-view.html" title="home") EXPLORE
							li
								a(href="about.html" title="home") ABOUT
							li.mobile
								a( href="login.html" class="login") SIGN IN
								a( href="register.html" class="register") REGISTER

					// login
					section.login-section
						a( href="login.html" class="login") SIGN IN
						a( href="register.html" class="register") REGISTER

					// mobile menu trigger
					a.mobile-trigger( href="#" )
						.burger

		// main
		div( role="main" )

			// static page
			.static

				// container
				.container

					// aside
					aside
						ul
							li
								a( href="faq.html" title="Frequently Asked Question" )
									| FAQ
							li.active
								a( href="terms.html" title="Terms of use" )
									| Terms of use
							li
								a( href="privacy.html" title="Terms of use" )
									| Privacy Policy
							li
								a( href="feedback.html" title="Feedback" )
									| Feedback &amp; Contact
					
					// static content
					.staticcontent
						.pads
							// h1
							h1 Terms of Use
							p
								| It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.

							hr 

							h2 1. Definitions
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
								| et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
								| aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							h2 2. Contribution
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
								| et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
								| aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							h3 3. Intellectual Property rights
							p
								| The Website as well as all Content published on and/or transmitted by means of the Website, are protected by Intellectual Property Rights. The Intellectual Property Rights with regard to the Website and the Content, including but not limited to the texts, images, design, photographs, software, audiovisual material and other materials are exclusively vested in EUscreen or its licensors. This article does not apply to the Contributions. 
			// script
							
							
		// footer
		include ./includes/footer.view.jade
			
	// script
	include ./includes/script.inc.jade