 <div id="annotations-end" style="display: none">
 	<header>
	<section class="annotatehero" id="annotateherothanks">
        <!-- top-->
        <div class="top">
          <!-- wrap-->
          <div class="wrap">
            <div class="container">
              <!-- the wrap-->
              <!-- ko if: batchItemsAnnotated.length > 0 -->
              <h1>Thank you for annotating <span data-bind="text: batchItemsAnnotated"></span> items</h1>
              <!-- /ko -->
              <!-- ko if: batchItemsAnnotated.length <= 0 -->
                   <h1>The annotations batch has finished</h1>
              <!-- /ko -->
              <span class="topic">So far, you have earned a <span data-bind="text: badgeName" ></span> badge.</span>
              <!-- description-->
              <div class="badges" style="padding-top: 50px">
              <center><div class="icon"><img data-bind="attr: {src: badgeImg()}"></div></center>
              </div>
            </div>
          </div>
        </div>
      </section>
     </header>
     <section class="annotate">
        <!-- bottom-->
        <div class="bottom">
          <!-- container-->
          <div class="container">
            <div class="goal">
              <div class="info">
              	<h2>Help us reach our goal</h2>
              	<!-- ko if: userTotalAnnotatedRecordsCount() > 0 -->
                <p> In total, you have annotated <span data-bind="text: userTotalAnnotatedRecordsCount"> </span> items
                	with <span data-bind="text: userTotalAnnotationCount"></span> annotations about musical instruments.</p>
                <!-- action button-->
                 <a href="#" data-bind="click: startAnnotate" class="annotatebtn">Try another annotation turn</a>
              <!-- /ko -->
          	<!-- ko if: userTotalAnnotatedRecordsCount() == 0 -->
          		<p>10 annotations grant you a bronze badge, 20 a silver, and with 40 annotations you win a golden badge. Special gifts will be
                	provided to golden winners!</p>
          		<a href="#" data-bind="click: startAnnotate" class="annotatebtn">Try another annotation turn</a>
          	<!-- /ko -->
            </div>
           </div>
            <div class="goal">
              <div class="info">
                <h2>Thank you for contributing to Europeana Sounds objective.</h2>
                <p>By the end of the crowdsourcing campaign, the objective is to have 1000 audio items annotated by users. 
                	The annotations used in the campaign concern concepts about musical instruments (from the MIMO thesaurus).</p>
                    <a href="#" data-bind="click: returnHomepage" class="annotatebtn">Go to homepage</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
	 <section class="listing">
        <div class="container">
          <!-- grid-->
          <div class="grid">
            <!-- item-->
            <div class="sizer"></div>
            <!-- ko foreach: batchItemsAnnotated -->
            <!-- item-->
            <div class="item media" data-bind="click: itemShow">
              <div class="wrap">
                <!-- anchor--><a href="#" data-view="inline">
                  <!-- thumbnail-->
                  <div class="thumb"><img data-bind="attr: {src: thumb}"></div>
                  <!-- info-->
                  <div class="info">
                    <h1 class="title" data-bind="text: title"></h1><span class="owner" data-bind="text: dataProvider"></span>
                  </div>
                  <!-- rights--><span class="rights" data-bind="text: rights"></span>
                  <!-- pointer-->
                  <div class="pointer"><span class="arrow"><img src="img/ic-right-arrow.png" alt="Arrow"></span></div></a>
              </div>
            </div>
            <!-- /ko -->
           </div>
        </div>
        </div>
      </section>
</div>