 <!-- mainnav-->
      <nav class="main">
        <div class="container">
          <!-- logo-->
          <h1 class="logo"><a href="javascript:void(0)" data-bind="event :{ click: function(data,event){goToPage('#home',event);}}"  title="Home">ESPACE</a></h1>
          <!-- mobile menu-->
          <button type="button" role="button" aria-label="Show Navigation" class="mobilemenu"><span class="lines"></span></button>
          <!-- search-->
          <ul class="search">
            <li><a href="#search" title="Search"><img src="img/ic-search.png" alt="search"></a></li>
          </ul>
          <!-- nav-->
          <ul class="menu">
            <li><a href="javascript:void(0)" data-bind="event :{ click: function(data,event){goToPage('#home',event);}}" title="Home">Home</a></li>
        	<li><a href="#" data-bind="visible: isLogged()==true,event :{ click: function(data,event){gotoWith(event);}}" 
        		title="WITH Login" target="_blank"><img  alt="with logo" src="img/with_logo.png" style="width: 20px;vertical-align: top;">
        		&nbsp;<!-- ko text:currentUser.username() --><!-- /ko --></a>
        		<a href="#" data-bind="visible: isLogged()==false,event :{ click: function(data,event){openLogin(event);}}"  
        		title="WITH Login" target="_blank">WITH Login</a>
        	</li>                
        	<li class="subnav">
              <ul>
                <li><a href="#terms" title="Terms of Usage">Terms of Use</a></li>
                <li><a href="#privacy" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="#contact" title="Contact">Feedback &amp; Contact</a></li>
              </ul>
            </li>
            <li class="info">ESpace is a place to discover exhibits and collections from museums and archives all around the world. </li>
          </ul>
        </div>
      </nav>

       <!-- hero, only to be rendered in index page => how? moved to index.html-->
       <section class="annotatehero " id="annotatehero">
        <!-- top-->  
        <div class="top ">
          <div class = "hero-bg">
          <!-- wrap-->
          <div class="wrap">
            <div class="container ">
              <!-- the wrap-->
              <h1></h1>
              <h2></h2>
              <h1>Tag our archive</h1><span class="topic">Spot musical instruments</span>
              <!-- description-->
              <p>Have an ear for musical instruments? Use your talent to tag all the instruments you 
              	hear in the music archives of Europeana Sounds! There are so many historical music recordings 
              	in our archives, that it is impossible to describe all the instruments by ourselves. This is 
              	why we kindly ask your help to tag our beloved music collections with all the instruments that you can hear 
              	in a song. The music in Europeana Sounds ranges from beautiful folk songs from Greece to Scandinavian improvised 
              	space rock, all the way to sounds coming from Tibetian monasteries.</p>
              <!-- action button-->
              <div class="annotatebtn"><a> <span class="text">Start tagging now and earn your badge!</span>
              <img style="cursor: pointer" src="img/ic-bullet-arrow.png" data-bind="click: startAnnotate"></a></div>
            <div class="hero-bg-credit">
            <h2></h2>
            Jubal en zijn gezin maken muziekinstrumenten, Johann Sadeler (I), after Maerten de Vos, 1583, Public Domain</div>
            </div>
          </div>
        </div>
      </section>
