
      <section class="menubar">
        <div class="container">
          <ul>
            <li class="active"><a href="#about" title="#">About</a></li>
            <li><a href="#terms" title="#">Terms of Use</a></li>
            <li><a href="#privacy" title="#">Privacy Policy</a></li>
            <li><a href="#contact" title="#">Feedback &amp; Contact</a></li>
          </ul>
        </div>
      </section>
      <!-- hero bar-->
      <section class="hero">
        <div class="hue">
          <!-- container-->
          <div class="container">
            <!-- banner-->
            <div class="banner">
              <h1>About FOOD AND DRINK Space</h1>
              <p>
                Discover exhibits and collections from museums and archives all around the world.
                Explore cultural treasures in extraordinary detail from hidden gems to masterpieces. 
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- text box-->
      <section class="inner about">
        <div class="container">
          <!-- wrap-->
          <div class="wrap">
            <!-- title-->
            <div class="sectionhead">ABOUT FOOD AND DRINK SPACE</div>
            <!-- description-->
            <div class="descriptiontext">
              <!-- left-->
              <div class="left">
                <p>
                  <a href="http://withculture.eu/">WITH</a> platform aims to increase and enhance the creative industries’ 
                  use of online collections of digital cultural content (Europeana, DPLA, DigitalNZ), and facilitate 
                  reuse of cultural heritage content by delivering a range of resources to support their engagement. 
                  All sectors of the creative industries, from content providers to producers, exhibitors, artists 
                  and makers of cultural/creative content, publishers, broadcasters, telecoms and distributors of digital 
                  content are addressed.
                </p>
                <p>
                  <a href="http://withculture.eu/">WITH</a> also permits the creation of cultural spaces i.e. of virtual 
                  spaces where  groups of artists, curators and organizations put their thematic cultural collections  together. 
                  The  Food and Drink space that is based on WP2 Content Base is available  
                  <a href="http://with.image.ntua.gr/custom/eufoodanddrink">here</a>.
                </p>
              </div>
              <!-- right-->
              <div class="right">
                <p>
                <a href="http://withculture.eu/">WITH</a> platform is available for cultural institutions and organizations, 
                  professional users and third party developers in order to easily search for the cultural resources that 
                  meet their retrieval criteria so as to collect, use and re-use them to promote innovation and demonstrate 
                  the social and economic value of cultural content. This is achieved through the delivery of APIs that 
                  facilitate the development of applications based on cultural content. The latter serve as the basis for 
                  continued experimentation and innovation in a series of dedicated hackathons and workshops that are expected 
                  to produce new applications and services based on available resources.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about highlights-->
      <section class="abouthighlight">
        <div class="container">
          <!-- wrap	-->
          <div class="wrap">
            <!-- photo-->
            <div class="gallery">
              <!-- flow-->
              <div class="flow">
                <!-- images--><img src="img/content/img-gallery-1.png" alt="gallery">
              </div>
            </div>
            <!-- info-->
            <div class="info">
              <!-- slogan-->
              <div class="slogan">
                <blockquote>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before</blockquote>
              </div>
              <!-- content provider-->
              <div class="contentprovider">
                <!-- heading-->
                <h2>Content Providers</h2>
                <!-- carousel-->
                <div class="carousel">
                  <div class="item">
                    <ul>
                      <li>Audiovisual Technologies Informatics</li>
                      <li>British Universities Film and Video Council</li>
                      <li>Nederlands Instituut voor Beeld en Geluid</li>
                      <li>Deutsche Welle</li>
                      <li>Istituto Luce Cinecittà</li>
                      <li>Eötvös Loránd University</li>
                      <li>Rádio e Televisão de Portugal</li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul>
                      <li>Audiovisual Technologies Informatics</li>
                      <li>British Universities Film and Video Council</li>
                      <li>Nederlands Instituut voor Beeld en Geluid</li>
                      <li>Deutsche Welle</li>
                      <li>Istituto Luce Cinecittà</li>
                      <li>Eötvös Loránd University</li>
                      <li>Rádio e Televisão de Portugal</li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul>
                      <li>Audiovisual Technologies Informatics</li>
                      <li>British Universities Film and Video Council</li>
                      <li>Nederlands Instituut voor Beeld en Geluid</li>
                      <li>Deutsche Welle</li>
                      <li>Istituto Luce Cinecittà</li>
                      <li>Eötvös Loránd University</li>
                      <li>Rádio e Televisão de Portugal</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about shortcut-->
      <section class="shortcut">
        <div class="container">
          <!-- ul-->
          <ul>
            <li><a href="contact.html" title="Contact Us" class="btn btn-alt">CONTACT US</a></li>
            <li><a href="index.html#search" title="Explore FOOD AND DRINK Space" class="btn btn-alt">EXPLORE</a></li>
          </ul>
        </div>
      </section>
    </div>
    