<section class="menubar">
        <div class="container">
          <ul>
            <li><a href="#about" title="#">About</a></li>
            <li><a href="#terms" title="#">Terms of Use</a></li>
            <li><a href="#privacy" title="#">Privacy Policy</a></li>
            <li class="active"><a href="#contact" title="#">Feedback &amp; Contact</a></li>
          </ul>
        </div>
      </section>
      <!-- hero bar-->
      <section class="hero">
        <div class="hue">
          <!-- container-->
          <div class="container">
            <!-- banner-->
            <div class="banner">
              <h1>Feedback &amp; Contact</h1>
              <p>
                Discover exhibits and collections from museums and archives all around the world.
                Explore cultural treasures in extraordinary detail from hidden gems to masterpieces. 
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- section-->
      <section class="inner terms">
        <div class="container">
          <!-- wrap-->
          <div class="wrap">
            <h1>Feedback &amp; Contact</h1>
            <p>We cordially invite you to leave comments or feedback. Your input is valuable as it will allow us to respond to your requests and improve the FOOD AND DRINK Space experience. Many thanks in advance for your assistance. </p><a href="mailto:withdev@image.ece.ntua.gr" class="btn btn-alt btn-contact">CONTACT US FOR FURTHER INQUIRIES</a>
          </div>
        </div>
      </section>
    