
      <section class="menubar">
        <div class="container">
          <ul>
            <li><a href="#about" title="#">About</a></li>
            <li class="active"><a href="#terms" title="#">Terms of Use</a></li>
            <li><a href="#privacy" title="#">Privacy Policy</a></li>
            <li><a href="#contact" title="#">Feedback &amp; Contact</a></li>
          </ul>
        </div>
      </section>
      <!-- hero bar-->
      <section class="hero">
        <div class="hue">
          <!-- container-->
          <div class="container">
            <!-- banner-->
            <div class="banner">
              <h1>Terms of Use</h1>
              <p>
                Discover exhibits and collections from museums and archives all around the world.
                Explore cultural treasures in extraordinary detail from hidden gems to masterpieces. 
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- section-->
      <section class="inner terms">
        <div class="container">
          <!-- wrap-->
          <div class="wrap">
            <h1>Terms of Use</h1>
            <p>
              These Terms of Use apply to all use of the Website (as defined below). Please read these Terms of Use carefully so 	
              that you know what your rights and obligations are when you use the Website. These Terms of Use constitute a valid 
              and binding agreement between FOOD AND DRINK Space and you, for the use of the Website.
            </p>
            <hr>
            <h2>1. Definitions</h2>
            <p>
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <h2>2. Contribution</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <h3>3. Intellectual Property rights</h3>
            <p>The Website as well as all Content published on and/or transmitted by means of the Website, are protected by Intellectual Property Rights. The Intellectual Property Rights with regard to the Website and the Content, including but not limited to the texts, images, design, photographs, software, audiovisual material and other materials are exclusively vested in FOOD AND DRINK Space or its licensors. This article does not apply to the Contributions. </p>
          </div>
        </div>
      </section>
  
 