@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
body {
  overflow-y: hidden;
}
body .readme p {
  margin: 0;
}
body .navbar .version {
  border: 1px solid #444;
  border-radius: 4px;
  color: #777 !important;
  font-size: 0.829em;
  margin: 10px 10px 0 0;
  padding: 3px 10px;
}
body .navbar .version:hover {
  color: #999 !important;
  border: 1px solid #999;
}
body .navbar .framesize {
  border: 1px solid #444;
  border-radius: 4px;
  color: #777;
  font-size: 0.829em;
  margin: 10px 10px 0 0;
  padding: 5px 10px;
}
body .navbar .open {
  border-left: 1px solid #333;
}
body .navbar .open a {
  font-size: 0.78em;
  color: #777;
}
body .maincontent .row .sidebar {
  position: fixed;
  background: #f2f2ea;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  top: 50px;
  width: 230px;
  z-index: 1000;
  border-right: 1px solid  #d4d5d0;
  padding: 0px;
  -webkit-box-shadow: 10px 4px 5px -10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 4px 5px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 4px 5px -10px rgba(0, 0, 0, 0.1);
}
body .maincontent .row .sidebar .header {
  display: block;
  font-size: 0.714em;
  letter-spacing: 1px;
  padding: 25px 0 20px 20px;
  color: #b8b8b3;
  font-weight: lighter;
}
body .maincontent .row .sidebar .nav-sidebar li {
  border-bottom: 1px solid #e3e5d0;
}
body .maincontent .row .sidebar .nav-sidebar li:first-child {
  border-top: 1px solid #e3e5d0;
}
body .maincontent .row .sidebar .nav-sidebar li a {
  outline: none;
  color: #787876;
  font-size: 0.78em;
  padding: 0px 20px 0px 0px;
  height: 40px;
  overflow: hidden;
}
body .maincontent .row .sidebar .nav-sidebar li a .icon {
  display: block;
  width: 43px;
  height: 40px;
  text-align: center;
  border-right: 1px solid #e3e5d0;
  float: left;
  padding-top: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body .maincontent .row .sidebar .nav-sidebar li a .title {
  display: inline-block;
  padding: 10px 0 0 15px;
}
body .maincontent .row .sidebar .nav-sidebar li a:hover {
  background: none;
}
body .maincontent .row .sidebar .nav-sidebar li.red.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.red.active a .icon {
  background: #de6262;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.red a .icon {
  border-left: 3px solid #de6262;
}
body .maincontent .row .sidebar .nav-sidebar li.red a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.red a:hover .icon {
  background: #de6262;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.blue.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.blue.active a .icon {
  background: #65a8dd;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.blue a .icon {
  border-left: 3px solid #65a8dd;
}
body .maincontent .row .sidebar .nav-sidebar li.blue a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.blue a:hover .icon {
  background: #65a8dd;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.green.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.green.active a .icon {
  background: #70c67f;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.green a .icon {
  border-left: 3px solid #70c67f;
}
body .maincontent .row .sidebar .nav-sidebar li.green a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.green a:hover .icon {
  background: #70c67f;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.purple.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.purple.active a .icon {
  background: #9d63de;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.purple a .icon {
  border-left: 3px solid #9d63de;
}
body .maincontent .row .sidebar .nav-sidebar li.purple a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.purple a:hover .icon {
  background: #9d63de;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.darkblue.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.darkblue.active a .icon {
  background: #5166a8;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.darkblue a .icon {
  border-left: 3px solid #5166a8;
}
body .maincontent .row .sidebar .nav-sidebar li.darkblue a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.darkblue a:hover .icon {
  background: #5166a8;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.orange.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.orange.active a .icon {
  background: #d8a11c;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.orange a .icon {
  border-left: 3px solid #d8a11c;
}
body .maincontent .row .sidebar .nav-sidebar li.orange a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.orange a:hover .icon {
  background: #d8a11c;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.cyan.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.cyan.active a .icon {
  background: #71a69c;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.cyan a .icon {
  border-left: 3px solid #71a69c;
}
body .maincontent .row .sidebar .nav-sidebar li.cyan a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.cyan a:hover .icon {
  background: #71a69c;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.brown.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.brown.active a .icon {
  background: #a76f72;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.brown a .icon {
  border-left: 3px solid #a76f72;
}
body .maincontent .row .sidebar .nav-sidebar li.brown a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.brown a:hover .icon {
  background: #a76f72;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.black.active a {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.black.active a .icon {
  background: #333;
  color: #fff;
}
body .maincontent .row .sidebar .nav-sidebar li.black a .icon {
  border-left: 3px solid #333;
}
body .maincontent .row .sidebar .nav-sidebar li.black a:hover {
  color: #444;
}
body .maincontent .row .sidebar .nav-sidebar li.black a:hover .icon {
  background: #333;
  color: #fff;
}
body .maincontent .row .sidebar .info {
  border-top: 1px solid #e3e5d0;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #9e9e9e;
  font-size: 0.857em;
  text-align: center;
}
body .maincontent .row .sidebar .info .readme {
  display: block;
  width: 53px;
  height: 50px;
  text-align: center;
  border-right: 1px solid #e3e5d0;
  float: left;
  font-size: 1.5em;
  padding-top: 13px;
  color: #787876;
}
body .maincontent .row .sidebar .info .readme:hover {
  color: #555;
}
body .maincontent .row .sidebar .info .version {
  padding: 17px 0 0px 10px;
  display: block;
  float: left;
  height: 51px;
  word-break: break-word;
  width: 75%;
  line-height: 16px;
}
body .maincontent .row .sidebar .info:hover {
  color: #444;
}
body .maincontent .row .main {
  height: 100%;
  padding: 0px;
  padding-left: 230px;
}
body .maincontent .row .main iframe {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  border: 0px;
}
body .frame iframe {
  height: 700px;
  width: 100%;
  border: 0px;
  margin-bottom: -6px;
}
body .modal {
  padding-right: 0!important;
}
body .modal .modal-dialog iframe {
  height: 600px !important;
}
body.modal-open {
  padding-right: 0!important;
}
body footer {
  width: 100%;
  height: 100px;
  background: #5e6d47;
  color: #7f9066;
}
body footer .container:before,
body footer .container:after {
  content: " ";
  display: table;
}
body footer .container:after {
  clear: both;
}
body footer .container .copyright {
  display: inline-block;
  margin: 40px 0 0 0;
  float: left;
}
body footer .container .version {
  display: inline-block;
  margin: 40px 0 0 0;
  float: right;
}
