
      <section class="menubar">
        <div class="container">
          <ul>
            <li class="active"><a href="#about" title="#">About</a></li>
            <li><a href="#terms" title="#">Terms of Use</a></li>
            <li><a href="#privacy" title="#">Privacy Policy</a></li>
            <li><a href="#contact" title="#">Feedback &amp; Contact</a></li>
          </ul>
        </div>
      </section>
      <!-- hero bar-->
      <section class="hero">
        <div class="hue">
          <!-- container-->
          <div class="container">
            <!-- banner-->
            <div class="banner">
              <h1>E-Space</h1>
              <p>Discover digital artifacts, exhibits and collections from museums and archives all around the world. Explore cultural treasures in extraordinary detail from hidden gems to great masterpieces. Experiment with open and protected digital cultural content and unlock your creativity!</p>
            </div>
          </div>
        </div>
      </section>
      <!-- text box-->
      <section class="inner about">
        <div class="container">
          <!-- wrap-->
          <div class="wrap">
            <!-- title-->
            <div class="sectionhead">About E-Space</div>
            <!-- description-->
            <div class="descriptiontext">
              <!-- left-->
              <div class="left">
              <p>E-Space is a Best Practice Network focused on the creative reuse of digital cultural heritage.  It provides an environment for experimenting with the development of applications and services using digital cultural content. 
			</p><p>	
				This is the Technical Space of E-Space which is built on WITH infrastructure. This is an innovative technical development that exposes APIs from different portals and repositories. It allows you to search for digital content from a range of different and unconnected repositories and databases from a single access point.  
				</p>
            </div>
              <!-- right-->
              <div class="right">
              <p>Searchable repositories include Europeana, the Digital Public Library of America, YouTube and E-Space’s own repository of content, both open and protected.</p>
               <p>
				Digital cultural artifacts, exhibitions and collections are available, and you can build your own space of favorites: log in and start creating!
				       </p>
               
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- about shortcut-->
      <section class="shortcut">
        <div class="container">
          <!-- ul-->
          <ul>
            <li><a href="contact.html" title="Contact Us" class="btn btn-alt">CONTACT US</a></li>
            <li><a href="index.html#search" title="Explore E-Space" class="btn btn-alt">EXPLORE</a></li>
          </ul>
        </div>
      </section>
    
    