@(qform:Form[espace.core.CommonQuery], content: List[espace.core.SourceResponse],filters: List[espace.core.CommonFilterResponse] )
@import helper._
@import helper.twitterBootstrap._



@testsearchmain("Test search") {
	@helper.form( action= routes.SearchController.posttestsearch() ){
	    

<div id="hsection">
	<div id="vsection">
	@helper.inputText(qform("searchTerm"))
	@helper.inputText(qform("termToExclude"))		
	</div>
	<div id="vsection">
	
	@inputNumber(qform("page"), '_default -> "2" )
	</div>
	</div>
	<div id="hsection">
	
			<input type="submit" class="button" value="Search" />
			</div>
	}
	
	<div id="hsection">
 	<div id="nav">
 	<div id="vsection">
<ul >
@for(p <- filters) {
<li onClick="" >@p.filterName

<ul >
@for(pp <- p.suggestedValues) {
<li style="background-color: #f6ffd5;" onClick="gothere('zeus', '@p.filterID', '@pp')" >@pp</li>

}
</ul> 	

</li>

}
</ul> 	

</div>
 	</div>
	<div id="section">
@if(content!=null) {

<div id="tabs">
<ul class="basictab">

@for(p <- content) {
<li onClick="change('@p.source')" >@p.source</li>
}
</ul>

@for(p <- content) {
<div id="@p.source" class="content_tab">
  <b>Source: </b> @p.source <br/>
  <b>Count: </b>@p.count <br/>
  <b>Query: </b>@p.query <br/>
  @if(p.items!=null){ 
  @for(it <- p.items) {
  <div id="thumbframe">
  
  <div id="thumb"   >
  <img alt="" src="@if(it.thumb!=null) {@it.thumb.get(0)} else {NA}" />  
    
    </div>
    <div  id="thinfo">
  <b>Title: </b> <a href="@if(it.url!=null) {@if(it.url.original!=null) {@it.url.original.get(0)} else {#}} else {NA}"> 
 @shorttext(it.title.get(0).value,40)
 </a><br/>
  <b>Descr: </b>@if(it.description!=null && it.description.size()>0) {@shorttext(it.description.get(0).value,100)} else {NA} <br/>
  
  </div>
  
  </div>
  }
  }
  
  
</div>
}
</div>
 
} else {
  Nothing here	
}	
}

<div id="Display_content" onload="change('@content.get(0).source')">
  </div>
  
 </div>
  </div>