<div style="margin-bottom: 200px;">
	<div class="container-fluid">
		<div class="row">
			<span class="withmain"><h2>Collections</h2></span>
			<div class="withsearch-content-masonry" style="padding-top:0;">
				<div id="publiccolumns" data-bind="foreach: collections, masonrypc">
					<figure class="masonryitem">
					<a data-bind="attr: {href: 'index.html#collectionview/'+id()}"><img data-bind="attr: {src: thumbnail()}" /></a><figcaption data-bind="text: collname()"></figcaption></figure>
				</div>
			</div>
		</div>
		<div class="row">
			<span class="withmain"><h2>Featured Exhibitions</h2></span>
			<div class="row">
				<div class="outlay">
					<h2>Photography
					<div><p>All our yesterdays </p>
					</div></h2>
					<div class="containermason">
						<div class="square bigsquare" id="omeka"><img src="images/collections/photo/ph5.jpg" class="img-responsive desaturate"></div>
						<div class="square littlesquare"><img src="images/collections/photo/ph2.jpg" class="img-responsive"></div>
						<div class="square littlesquare"><img src="images/collections/photo/ph3.jpg" class="img-responsive"></div>
						<div class="square littlesquare"><img src="images/collections/photo/ph4.jpg" class="img-responsive"></div>
						<div class="square littlesquare"><img src="images/collections/photo/ph6.jpg" class="img-responsive"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top:20px;">
			<span class="withmain"><h2>3D Galleries</h2></span>
			<div class="galleries">
				<div style="float:left;width:300px;">
					<div class="gr-gallery2">
						<figure><div><a href="#gallery/55b747c3569e1b44eeac72b3/2"><img src="images/gallery/portrait1.jpg" width="200"/></a></div><figcaption style="font-size: 1.3em;cursor: auto;">Female Portraits</figcaption></figure>
					</div>
				</div>
				<div style="float:right;width:300px;">
					<div class="gr-gallery">
						<figure><div><a href="#gallery/55b74e5b569e1b44eeac72c0/1"><img src="images/gallery/streetart1.jpg" width="200"/></a></div><figcaption style="font-size: 1.3em;cursor: auto;">Street art</figcaption></figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>