<div class="container-fluid">
	<div class="wrapper">
		<!-- ko if: isLogged() == true  -->
		<side-bar params="route: route"></side-bar>
		<!-- /ko -->
		<main>	
		  <!-- collection section-->
		  <section class="collection">
			<section class="header">
			  <!-- collection picker--><a id="picker" href="#" data-toggle="dropdown" class="picker"><span class="text">My Collections</span><span class="arrow"></span></a>
			  <ul aria-labelledby="picker" class="dropdown-menu">
				<li><a href="#">My Collections</a></li>
				<li><a href="#">Collections shared with me</a></li>
			  </ul>
			  <!-- new collection--><a href="#" class="new"><span class="plus"></span><span class="text">New Collection</span></a>
			</section>
			<!-- message-->
			<!--<section class="message"><img src="img/ui/ic-inbox.png" class="hero">
			  <div class="message-body">
				<div class="header">Welcome to My Collections</div>
				<div class="description">This is <b> My Collections </b>. All collections created by and shared with you will be presented here.</div><a href="#"><span class="cross"></span>
					<span class="text">Hide welcome message</span></a>
			  </div>
			</section>-->
			<!-- collection main-->
			<section class="collection-list">
			  <!-- collection main header-->
			  <div class="list-head">
				<div class="sort"><span>Sort by</span><a id="sorting" href="#" data-toggle="dropdown"><span class="text">Title</span><span class="arrow"></span></a>
				  <!-- dropdown-->
				  <ul aria-labelledby="sorting" class="dropdown-menu">
					<li><a href="#">Title</a></li>
					<li><a href="#">Date</a></li>
				  </ul>
				</div>
				<div class="list-control">
					<a href="#" data-toggle="tooltip" data-placement="top" data-bind="click: changeList" title="List view" class="fa fa-bars"></a>
					<a href="#" data-toggle="tooltip" data-placement="top" data-bind="click: changeList" title="Grid view" class="fa fa-th active"></a>
				</div>
			  </div>
			  <!-- listing-->
			  <ul class="list-body grids">
			  	<!-- ko foreach: myCollections -->
				<li data-bind="css: { private: !administrative.access.isPublic()}">
				  <div class="thumbnails">
				  	<!-- ko if: administrative.access.isPublic()-->
					<div class="category">public</div>
					<!--/ko-->
					<!-- ko else -->
					<div class="category">private</div>
					<!--/ko-->
					<!-- ko if: media()[0]-->
					<div class="wrap"><img data-bind="attr: {src: media()[0].thumbnailUrl}"/></div>
					<!-- /ko -->
					<!-- ko else -->
					<div class="wrap"></div>
					<!-- /ko -->
					<!-- ko if: media()[1]-->
					<div class="wrap small"><img data-bind="attr: {src: media()[1].thumbnailUrl}"/></div>
					<!-- /ko -->
					<!-- ko else -->
					<div class="wrap small"></div>
					<!-- /ko -->
					<!-- ko if: media()[2]-->
					<div class="wrap small"><img data-bind="attr: {src: media()[2].thumbnailUrl}"/></div>
					<!-- /ko -->
					<!-- ko else -->
					<div class="wrap small"></div>
					<!-- /ko -->
				  </div>
				  <div class="meta">
				  	<a class="header" data-bind="{text: title(), attr: {href: 'index.html#collectionview/'+dbId()}}"></a>
					<div class="description" data-bind="text: description()"></div>
					<div class="other-info">
					  <div class="count" data-bind="text: administrative.entryCount()"></div>
					  <div class="date" data-bind="text: administrative.created()"></div>
					  <div class="user"data-bind="text: withCreatorInfo.username"></div>
					</div>
					<div class="action-group">
						<a href="#" data-toggle="tooltip" data-bind="click: $parent.deleteMyCollection" data-placement="top" title="Delete collection" class="fa fa-trash-o"></a>
						<a data-toggle="tooltip" data-placement="top" title="Share collection" class="fa fa-paper-plane-o"></a>
						<a href="#" data-toggle="tooltip" data-bind="click: $parent.prepareForEditCollection" data-placement="top" title="Edit collection" class="fa fa-pencil editaction"></a>
					</div>
				  </div>
				</li>
				<!--/ko-->
			  </ul><a href="#" class="loadmore">load more</a>
			</section>
			<!-- collection edit-->
			<section class="action edit">
			  <div class="action-header">
				<div class="title">Edit Collection</div>
				<!--<div class="toggle">
				  <input type="checkbox" id="toggle1">
				  <label for="toggle1"></label><span class="private">private</span><span class="public">public</span>
				</div>-->
			  </div>
			  <div class="action-body">
				<input type="text" data-bind="{value: titleToEdit, 
				      attr: {placeholder: titleToEdit}}">
				<textarea data-bind="{value: descriptionToEdit, 
					  attr: {placeholder: descriptionToEdit}"></textarea>
			  </div>
			  <div class="button-group">
			  	<a class="btn-green-o cancel" data-bind="click: closeSideBar">Cancel</a>
			  	<a class="btn-green" data-bind="click: editCollection">Save collection</a>
			  </div>
			</section>
			<!-- collection new-->
			<section class="action new">
			  <div class="action-header">
				<div class="title">New Collection</div>
				<div class="toggle">
				  <input type="checkbox" id="toggle2">
				  <label for="toggle2"></label><span data-bind="event: {click: isPublicToggleEmpty(false)}" class="private">private</span><span data-bind="event: {click: isPublicToggleEmpty(true)" class="public">public</span>
				</div>
			  </div>
			  <div class="action-body">
				<input type="text" data-bind="{value: titleToEdit}" placeholder="Name your collection">
				<a class="add" >
					<span class="plus" style="cursor:pointer;"></span>
					<span class="text" data-bind="{value: descriptionToEdit}">Add description</span>
				</a>
			  </div>
			  <div class="button-group">
			  	<a class="btn-green-o cancel" data-bind="click: closeSideBar">Cancel</a>
			  	<a data-bind="click: createCollection" class="btn-green">Create collection</a>
			  </div>
			</section>
			<!-- collection give access-->
			<section class="action access">
			  <div class="action-header">
				<div class="title">Give access to collection</div>
			  </div>
			  <div class="action-body">
				<div class="group">
				  <div class="title">Users access</div>
				  <input type="text" placeholder="Start typing username">
				  <ul class="access-list">
					<li>
					  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><a href="#" data-toggle="tooltip" data-placement="top" title="username" class="trash"><i class="fa fa-trash"></i></a>
					  <div class="toggle">
						<input type="checkbox" id="u1">
						<label for="u1"></label><span class="private">view</span><span class="public">co-edit</span>
					  </div>
					</li>
					<li>
					  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><a href="#" data-toggle="tooltip" data-placement="top" title="username" class="trash"><i class="fa fa-trash"></i></a>
					  <div class="toggle">
						<input type="checkbox" id="u2">
						<label for="u2"></label><span class="private">view</span><span class="public">co-edit</span>
					  </div>
					</li>
					<li>
					  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><a href="#" data-toggle="tooltip" data-placement="top" title="username" class="trash"><i class="fa fa-trash"></i></a>
					  <div class="toggle">
						<input type="checkbox" id="u3">
						<label for="u3"></label><span class="private">view</span><span class="public">co-edit</span>
					  </div>
					</li>
					<li>
					  <div class="thumbnails"><img src="img/content/img-profile.jpg"></div><a href="#" data-toggle="tooltip" data-placement="top" title="username" class="trash"><i class="fa fa-trash"></i></a>
					  <div class="toggle">
						<input type="checkbox" id="u4">
						<label for="u4"></label><span class="private">view</span><span class="public">co-edit</span>
					  </div>
					</li>
				  </ul>
				</div>
				<div class="group">
				  <div class="title">Groups access</div>
				  <input type="text" placeholder="Start typing group name">
				  <ul class="access-list">
					<li class="blue"><span class="text">DK</span><a href="#" data-toggle="tooltip" data-placement="top" title="username" class="trash"><i class="fa fa-trash"></i></a>
					  <div class="toggle">
						<input type="checkbox" id="g1">
						<label for="g1"></label><span class="private">view</span><span class="public">co-edit</span>
					  </div>
					</li>
					<li class="green"><span class="text">US</span><a href="#" data-toggle="tooltip" data-placement="top" title="username" class="trash"><i class="fa fa-trash"></i></a>
					  <div class="toggle">
						<input type="checkbox" id="g2">
						<label for="g2"></label><span class="private">view</span><span class="public">co-edit</span>
					  </div>
					</li>
					<li class="orange"><span class="text">MN</span><a href="#" data-toggle="tooltip" data-placement="top" title="username" class="trash"><i class="fa fa-trash"></i></a>
					  <div class="toggle">
						<input type="checkbox" id="g3">
						<label for="g3"></label><span class="private">view</span><span class="public">co-edit</span>
					  </div>
					</li>
				  </ul>
				</div>
			  </div>
			  <div class="button-group"><a href="#" class="btn-green cancel">Close</a></div>
			</section>
		  </section>
		</main>
	</div>
</div>