<div id="userCollections" class="container-fluid" style="padding-bottom: 100px;">
		
		  <div class="row">
			<div class="col-lg-12">
				<!-- ko if: showsExhibitions -->
				<span class="withmain">
				<span class="collectiontab active">
					<h2><a data-bind="event :{ click: function(data,event){changeTab('noshared',data,event);}}">My exhibitions</a></h2>
				</span> | 
				<span class="collectiontab">
					<h2><a data-bind="event :{ click: function(data,event){changeTab('shared',data,event);}}">Exhibitions shared with me</a></h2>
				</span>
				<div><button type="button" class="btn btn-primary btn-sm" data-bind="click: createExhibition">New Exhibition</button></div>
				</span>
				<!-- /ko -->
				<!-- ko else -->
				<span class="withmain">
				<span class="collectiontab active">
					<h2><a data-bind="event :{ click: function(data,event){changeTab('noshared',data,event);}}">My collections</a></h2>
				</span> | 
				<span class="collectiontab">
					<h2><a data-bind="event :{ click: function(data,event){changeTab('shared',data,event);}}">Collections shared with me</a></h2>
				</span>
				<div><button type="button" class="btn btn-primary btn-sm" data-bind="click: createCollection">New Collection</button></div>
				</span>
				<!-- /ko -->
				<div id="mycollections">
				 <!-- collections listed here -->
				 <!-- ko foreach: myCollections -->
					 <div class="profilecoll">
					 <div class="container-fluid">
					 <div class="row profile">
					 <div class="col-xs-6 col-sm-6 col-md-4 coll-body pull-left" data-bind="attr: {id: dbId}">
					 <div class="content">
						<div class="btn-group pull-right" role="group">
					 	<!-- <span class="glyphicon glyphicon-link" title="API calls for this Collection" data-bind="click:$parent.getAPIUrl" aria-hidden="true"></span>-->
							<!--  ko ifnot: $parent.showsExhibitions -->
						<span class="glyphicon glyphicon-pencil" title="Edit Collection" data-bind="click: $parent.openEditCollectionPopup" aria-hidden="true"></span>
							<!-- /ko -->
					 	<span class="glyphicon glyphicon-trash" title="Delete Collection" data-bind="click: $parent.deleteMyCollection" aria-hidden="true"></span>
					 	<span class="glyphicon glyphicon-share" title="Share Collection" data-bind="click: $parent.openShareCollection" aria-hidden="true"></span>
					 </div>
					   <h3 data-bind="text: title()"></h3>
					   <div class="coll-descr" data-bind="text:  description()"></div>
					   <div class="row">
						   <div class="col-xs-12 col-sm-12 col-md-12 coll-footer">
						   		<!-- ko if: administrative.access.isPublic --><span class="label label-success">Public</span><!-- /ko -->
						   		<!-- ko ifnot: administrative.access.isPublic --><span class="label label-danger">Restricted</span><!-- /ko -->
					   			&bull; <strong>Items: </strong> <span data-bind="text: administrative.entryCount()"></span> &bull;
						   		<b>Created:</b> <i data-bind="text: administrative.created()"></i> &bull;
						   		<b>Creator:</b> <i data-bind="text: withCreatorInfo.username"></i>
						   </div>
						</div>
					 </div>
					 </div>
					 <!--  ko if: administrative.entryCount() > 0 -->
						 <div class="col-xs-6  col-sm-6  col-md-8">
					 	 <div class="row-fluid">
					  	 <div class="imcontainer">
					  	  <div data-bind="click: $parent.loadCollectionOrExhibition">
					  	 	<!-- ko foreach: media -->
					  	 	  <!-- ko if: $data.Thumbnail -->
					  	 		<div class="coll_figure"><img  data-bind="attr: {src: Thumbnail.url}">
					  	 		 </div>
					  	 	 <!-- /ko -->
					  	 	 <!-- /ko -->
					  	 	 
					  	  </div>
					  	 </div>
					  	 </div>
					  	 </div>
					  <!-- /ko -->
					  <!-- ko else -->
					  	<!-- TODO: Make the message look nicer -->
					  	<div class="col-xs-6 col-sm-6 col-md-8 coll-message">
					 	 <div class="row-fluid">
					  	 <div class="imcontainer">
							 <!--  ko if: $parent.showsExhibitions -->
					  			<h5><a  data-bind="click: $parent.loadCollectionOrExhibition"> Drag and drop items from your collections to your exhibitions.</a></h5>
							 <!-- /ko -->
							 <!-- ko else -->
								 <h5><a href="#search" onClick="toggleSearch('focus'); return false;"> Select items from search results to add to collection.</a></h5>
							 <!-- /ko -->

					  	</div>
					  	</div>
					  	</div>
					  <!-- /ko -->
					 </div>
					 </div>
					 </div>
				 <!-- /ko -->

				 </div>
				 	<div id="more" data-bind="visible: loading, scroll: myCollections(), scrollOptions: {loadFunc: moreCollections, functPar1: showsExhibitions, offset: 0}"> <i class="fa fa-spinner fa-pulse"></i></div>
		
				 
			</div>
			<div class="col-lg-12" id="sharedtab" style="display:none">
				 <span class="withmain">
				<!-- ko if: showsExhibitions --> 
				 <h2>Exhibitions shared with me</h2>
				  <!-- /ko -->
				 <!-- ko else -->
				 <h2>Collections shared with me</h2>
				 <!-- /ko -->
				 </span>
				 <div id="sharedcollections">
				 <!-- collections listed here -->
				 <!-- ko foreach: sharedCollections() -->
					 <div class="profilecoll">
					 <div class="container-fluid">
					 <div class="row profile">
					 <div class="col-xs-6 col-sm-6 col-md-4 pull-left" data-bind="attr: {id: dbId}">
					 <div class="content">
						<div class="btn-group pull-right" role="group">
					 	<span class="glyphicon glyphicon-link" title="API calls for this Collection" data-bind="click:$parent.getAPIUrl" aria-hidden="true"></span>
						<!--  ko if: (myAccess() ==  "OWN" || myAccess() == "WRITE")-->
						<span class="glyphicon glyphicon-pencil" title="Edit Collection" data-bind="click: $parent.openEditCollectionPopup" aria-hidden="true"></span>
					 	<!--  ko if: myAccess() ==  "OWN" -->
					 	<span class="glyphicon glyphicon-trash" title="Delete Collection" data-bind="click: $parent.deleteMyCollection" aria-hidden="true"></span>
					 	<!-- /ko -->
					 	<!--  /ko -->
					 	</div>
					   <h3 data-bind="text: title"></h3>
					   <div class="coll-descr" data-bind="text: description()"></div>
					   <!--  ko if: $data.hasOwnProperty("category") -->
					  		<div><b>Categorized as:</b> <div data-bind="text: category()"></div></div>
					   <!-- /ko -->
					   <div class="row">
						   <div class="col-xs-12 col-sm-12 col-md-12 coll-footer">
						   		<!-- ko if: isPublic --><span class="label label-success">Public</span><!-- /ko -->
						   		<!-- ko ifnot: isPublic --><span class="label label-danger">Restricted</span><!-- /ko -->
					   			&bull; <strong>Items: </strong> <span data-bind="text: administrative.entryCount()"></span> &bull;
						   		<b>Created:</b> <i data-bind="text: created()"></i> &bull;
						   		<b>Creator:</b> <i data-bind="text: creator"></i>
						   </div>
						</div>
					 </div>
					 </div>
					 <!--  ko if: administrative.itemCount() > 0 -->
						 <div class="col-xs-6  col-sm-6  col-md-8">
					 	 <div class="row-fluid">
					  	 <div class="imcontainer">
					  	  <a data-bind="attr: {href: 'index.html#collectionview/'+dbId()}">
					  	 	<!-- ko foreach: firstEntries -->
					  	 	<!-- ko if: $data.thumbnailUrl -->
					  	 		<div class="coll_figure"><img  data-bind="attr: {src: thumbnailUrl()}">
					  	 		 </div>
					  	 	 <!-- /ko -->
					  	 	 <!-- /ko -->
					  	 	 </a>
					  	 </div>
					  	 </div>
					  	 </div>
					  <!-- /ko -->
					  <!-- ko else -->
					  <!-- ko if: myAccess()=="WRITE" -->
					  	<!-- TODO: Make the message look nicer -->
					  	<div class="col-xs-6 col-sm-6 col-md-8 coll-message">
					 	 <div class="row-fluid">
					  	 <div class="imcontainer">
					  		<h5><a href="#search" onClick="toggleSearch('focus'); return false;"> Select items from search results to add to collection.</a></h5>
					  	</div>
					  	</div>
					  	</div>
					   <!-- /ko -->
					  <!-- /ko -->
					 </div>
					 </div>
					 </div>
				 <!-- /ko -->
				 </div>
				 	<div id="more" data-bind="visible: loading ,scroll: sharedCollections(), scrollOptions: { loadFunc: nextSharedCollections, offset: 0 }"> <i class="fa fa-spinner fa-pulse"></i></div>
		
		    </div>
		</div>
		
		
</div>