<div class="modal-dialog editCollectionPopup" id="share-collection">
	<div class="modal-content text-left">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4>Share Collection</h4>
		</div>
		<div class="modal-body row">
			<form> <!-- data-bind="submit: ko.contextFor(mycollections).$data.shareCollection">-->

			    <!-- <h5>Share or co-create</h5> -->
				<div class="col-md-12">				  
				  <div class="form-group form-inline">
				    <div class="spec">
				    <label for="firstName">Select user</label>
						<input type="search" class="form-control" id="usernameOrEmail" placeholder="Username or email"
						data-bind="autocompleteUsername: ko.contextFor(mycollections).$data.myUsername"/>
						 <span style="padding-left:10px;">
							 <button type="button" class="btn btn-info btn-xs" title="Show"
							 	data-bind="click: ko.contextFor(mycollections).$data.addToSharedWithUsers.bind($data, 'READ')">
							 	<span class="glyphicon glyphicon-eye-open" 
					 				aria-hidden="true" style="cursor:pointer">
					 			</span>
					 		</button>
					 		<button type="button" class="btn btn-info btn-xs" title="Collaborate" 
					 		data-bind="click: ko.contextFor(mycollections).$data.addToSharedWithUsers.bind($data, 'WRITE')">
					 			<span class="glyphicon glyphicon-user" 
					 				aria-hidden="true" style="cursor:pointer">
					 			</span>
					 		</button>
				      	</span>
				    	</div>
				    </div>
				</div>
				<h5>Users with access to the collection</h5>
				<div class="container-fluid">
				<div class="row text-center">
				<!-- ko foreach: ko.contextFor(mycollections).$data.usersToShare() -->
				<!-- ko if: username() != ko.contextFor(mycollections).$data.myUsername()-->
				<!-- ko if: accessRights() != 'NONE' -->
					<div class="col-md-3">					
						 <div class="userImage col-xs-12 col-sm-12 col-md-12 coll-footer" data-bind="
						 event: { mouseenter: ko.contextFor(mycollections).$data.showRightsIcons.bind($data), 
						 mouseleave: ko.contextFor(mycollections).$data.hideRightsIcons.bind($data, userId())}">	
							<div class="btn-group rightsIcon" role="group" style="display:none" data-bind="attr: {id: 'rightsIcons_'+userId()}">
							   <div class="btn-group" role="group" area-label="Change Rights">
							   </div>
							   <button type="button" class="btn btn-info btn-xs" title="Remove rights" 
							   data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'NONE')" >   
							    <span class="glyphicon glyphicon-trash" style="cursor:pointer"></span>
								</button>
								<!-- ko if: accessRights() == 'READ' -->
								<button type="button" class="btn btn-info btn-xs" title="Co-create"
								data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'WRITE')">   
								<span class="glyphicon glyphicon-user" style="cursor:pointer;color:blue"></span>
								</button>
								<!-- /ko -->
								<!-- ko if: accessRights() == 'WRITE' -->
								<button type="button" class="btn btn-info btn-xs" title="Share"							
								data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'READ')">				
								<span class="glyphicon glyphicon-eye-open" style="cursor:pointer;color:blue"></span>
								</button>
								<!-- /ko -->
							</div>
							<!-- ko if: $data.image -->
								<img class="img-circle img-thumbnail userPhoto"  data-bind="attr: {src: image, id: 'image_' + userId()},
								style: {border: accessRights()=='READ'? '3px solid grey' : '3px solid #ee656d'}"/>
							<!-- /ko -->
						    <!-- ko else -->
								<img src="images/user.png" class="img-circle img-thumbnail img-responsive userPhoto" 
								data-bind = "attr: {id: 'image_' + userId()}, style: {border: accessRights()=='READ'? '3px solid grey' : '3px solid #ee656d'}"/>
						    <!-- /ko -->
						 </div>	
						 <span data-bind="text: username()"></span>
					</div>
				<!--  /ko -->
				<!-- /ko -->
				<!-- /ko -->
				</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-bind="click: ko.contextFor(mycollections).$data.closePopup">Close</button>
		</div>
	</div>
</div>