<div class="modal-dialog editCollectionPopup" id="share-collection">
	<div class="modal-content text-left">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4>Share Collection</h4>
		</div>
		<div class="modal-body row">
			<form> <!-- data-bind="submit: ko.contextFor(mycollections).$data.shareCollection">-->
			    <h5>Share or collaborate</h5>
				<div class="col-md-12">				  
				  <div class="form-group">
				    <div class="spec">
				      <div class="itemlabel">Username or Email
				      </div>
				        <div class="value">
						 	<input id="usernameOrEmail" class="user-selection" type="search" data-bind="autocompleteUsername: ko.contextFor(mycollections).$data.addToSharedWithUsers"/>
						 	<span class="glyphicon glyphicon-eye-open" title="Read"
				 				data-bind="click: ko.contextFor(mycollections).$data.addToSharedWithUsers.bind($data, 'READ')"
				 				aria-hidden="true" style="padding-left:20px;cursor:pointer">
				 			</span>
				 			<span class="glyphicon glyphicon-user" title="Collaborate"
				 				data-bind="click: ko.contextFor(mycollections).$data.addToSharedWithUsers.bind($data, 'WRITE')" 
				 				aria-hidden="true" style="padding-left:10px;cursor:pointer">
				 			</span>
						 </div>
				      </div>
				    </div>
				</div>
				<h5>Users with access to the collection</h5>
				<div class="container-fluid">
				<div class="row text-center">
				<!-- ko foreach: ko.contextFor(mycollections).$data.usersToShare() -->
				<!-- ko if: username() != ko.contextFor(mycollections).$data.myUsername()-->
				<!-- ko if: accessRights() != 'NONE' -->
					<div class="col-md-3">					
						 <div class="userImage col-xs-12 col-sm-12 col-md-12 coll-footer" data-bind="attr: {id: 'image_' + userId()},
						 event: { mouseenter: ko.contextFor(mycollections).$data.showRightsIcons.bind($data), 
						 	mouseleave: ko.contextFor(mycollections).$data.hideRightsIcons.bind($data, userId())}">	
							<div class="btn-group btn-group-xs rightsIcon" role="group" style="display:none" data-bind="attr: {id: 'rightsIcons_'+userId()}">
							    <span class="glyphicon glyphicon-trash" title="Remove rights" 
									data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'NONE')" 
									style="cursor:pointer;color:blue">
								</span>
								<!-- ko if: accessRights() == 'READ' -->
								<span class="glyphicon glyphicon-user" title="Write" 
									data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'WRITE')" 
									style="cursor:pointer;color:blue">
								</span>
								<!-- /ko -->
								<!-- ko if: accessRights() == 'WRITE' -->
								<span class="glyphicon glyphicon-eye-open" title="Read" 
									data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'READ')" 
									style="cursor:pointer;color:blue">
								</span>
								<!-- /ko -->
							</div>
							<!-- ko if: $data.image -->
								<img class="img-circle img-thumbnail "  data-bind="attr: {src: image},
								style: {border: accessRights()=='READ'? '3px solid grey' : '3px solid #088A85'}"/>
							<!-- /ko -->
						    <!-- ko else -->
								<img src="images/user.png" class="img-circle img-thumbnail" 
								data-bind = "style: {border: accessRights()=='READ'? '3px solid grey' : '3px solid #088A85'}"/>
						    <!-- /ko -->
						 </div>	
						 <span data-bind="text: username()"></span>
					</div>
				<!--  /ko -->
				<!-- /ko -->
				<!-- /ko -->
				</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-bind="click: ko.contextFor(mycollections).$data.closePopup">Close</button>
		</div>
	</div>
</div>