<div class="modal-dialog editCollectionPopup data-backdrop='false'" id="share-collection">
	<div class="modal-content text-left">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4>Give Access to Collection</h4>
		</div>
		<div class="modal-body row">
			<form> <!-- data-bind="submit: ko.contextFor(mycollections).$data.shareCollection">-->
				<div class="col-md-12">				  
				  <div class="form-group form-inline">
				    <div class="spec">
				    <label for="firstName">Select user</label>
						<div class="input-group input-group-sm">
						<input type="search" class="form-control" id="usernameOrEmail" placeholder="User/group name or email"
						data-bind="autocompleteUsername: ko.contextFor(mycollections).$data.myUsername"/>
						</div>
						 <span style="padding-left:10px;">
							 <button type="button" class="btn btn-primary btn-xs" title="Show" 
							 	data-bind="click: ko.contextFor(mycollections).$data.addToSharedWithUsers.bind($data, 'READ')">
							 	<span class="glyphicon glyphicon-eye-open" 
					 				aria-hidden="true" style="cursor:pointer">
					 			</span>
					 		</button>
					 		<button type="button" class="btn btn-success btn-xs" title="Co-edit"
							 	data-bind="click: ko.contextFor(mycollections).$data.addToSharedWithUsers.bind($data, 'WRITE')">
							 	<span class="glyphicon glyphicon glyphicon-edit" 
					 				aria-hidden="true" style="cursor:pointer">
					 			</span>
					 		</button>
				      	</span>
				    	</div>
				    </div>
				</div>
				<hr>		
				<div data-bind="visible:  ko.contextFor(mycollections).$data.usersToShare().length > 0">
					<h5 align="center"><strong>Users with access to the collection</strong></h5>
					<div class="container-fluid">
					<div class="row text-center">
						<div data-bind="template: { name: 'shareWithUsers-template', foreach:  ko.contextFor(mycollections).$data.usersToShare()}"></div>
					</div>
					</div>
				</div>
				<hr>
				<div data-bind="visible:  ko.contextFor(mycollections).$data.userGroupsToShare().length > 0">
					<h5 align="center"><strong>User groups with access to the collection</strong></h5>
					<div class="container-fluid">
					<div class="row text-center">
						<div data-bind="template: { name: 'shareWithUsers-template', foreach:  ko.contextFor(mycollections).$data.userGroupsToShare()}"></div>
					</div>
					</div>
				</div>
				
			    <script type="text/html" id="shareWithUsers-template">
    				<!-- ko if: accessRights() != 'NONE' && accessRights() != 'OWN'-->	
					<div class="col-md-3">					
						 <div class="userImage col-xs-12 col-sm-12 col-md-12 coll-footer" data-bind="
						 event: { mouseenter: ko.contextFor(mycollections).$data.showRightsIcons.bind($data), 
						 mouseleave: ko.contextFor(mycollections).$data.hideRightsIcons.bind($data, userId())}">	
							<div class="btn-group rightsIcon" role="group" style="display:none" data-bind="attr: {id: 'rightsIcons_'+userId()}" area-label="Change Rights">
								<!-- ko if: accessRights() == 'READ' -->
								<button type="button" class="btn btn-success btn-xs" title="Edit"
								data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'WRITE')">   
								<span class="glyphicon glyphicon-edit" style="cursor:pointer"></span>
								</button>
								<!-- /ko -->
								<!-- ko if: accessRights() == 'WRITE' -->
								<button type="button" class="btn btn-primary btn-xs" title="Show"							
								data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'READ')">				
								<span class="glyphicon glyphicon-eye-open" style="cursor:pointer"></span>
								</button>
								<!-- /ko -->
								<button type="button" class="btn btn-info btn-xs" title="Remove rights" 
							  	data-bind="click: ko.contextFor(mycollections).$data.changeRights.bind($data, 'NONE')" >   
							    <span class="glyphicon glyphicon-trash" style="cursor:pointer"></span>
								</button>
							</div>
							<!-- ko if: $data.image -->
								<img class="img-circle img-thumbnail userPhoto"  data-bind="attr: {src: image, id: 'image_' + userId()},
								css: { readBorder: accessRights()=='READ', writeBorder: accessRights()=='WRITE'}"/>
							<!-- /ko -->
						    <!-- ko else -->
								<img src="images/user.png" class="img-circle img-thumbnail img-responsive userPhoto" 
								data-bind = "attr: {id: 'image_' + userId()}, 
								css: { readBorder: accessRights()=='READ', writeBorder: accessRights()=='WRITE'}"/>
						    <!-- /ko -->
						 </div>	
						 <span class="overflowText" data-bind="text: username()"></span>
					</div>
				<!--  /ko -->
				</script>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-bind="click: ko.contextFor(mycollections).$data.closePopup">Close</button>
		</div>
	</div>
</div>